/*VARIABLES*/
/*VARIABLES*/
/*MIXINS*/
/*MIXINS*/
/*BODY LEVEL*/
@font-face {
  font-family: 'Modern Pics';
  src: url(/crea/Templates/Fonts/modernpics.otf);
}

@font-face {
  font-family: 'Web Symbols';
  src: url(/crea/Templates/Fonts/WebSymbols-Regular.otf);
}

body {
  margin: 0;
  padding: 0;
}

/*BODY LEVEL*/
/*IMAGES CONTROL*/
.img-L {
  background-size: cover;
}

.img-S {
  background-size: cover;
}

.img-P {
  background-size: cover;
}

.img-TL {
  background-position: top left;
}

.img-TC {
  background-position: top center;
}

.img-TR {
  background-position: top right;
}

.img-ML {
  background-position: center left;
}

.img-MC {
  background-position: center center;
}

.img-MR {
  background-position: center right;
}

.img-BL {
  background-position: bottom left;
}

.img-BC {
  background-position: bottom center;
}

.img-BR {
  background-position: bottom right;
}

.img {
  background-color: #cccccc;
  background-repeat: no-repeat;
}

/*IMAGES CONTROL*/
/*TEMPLATE LEVEL*/
#template {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

#template a, #template a:link, #template a:visited, #template a:hover, #template a:active {
  color: inherit;
  text-decoration: none;
}

#template main {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.font-icon {
  font-family: 'Modern Pics', cursive;
}

/*TEMPLATE LEVEL*/
/*MAP*/
#map, #map > .wrapper, #map > .wrapper > div {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#map > .wrapper > div > iframe {
  display: block;
  height: 600px;
  overflow: hidden;
  width: 100%;
}

/*MAP*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2018, 1:18:48 PM
    Author     : cmend
*/
/*Colors*/
/*TEMPLATE LEVEL*/
#template {
  font-family: 'Open Sans', sans-serif;
}

#template h1, #template h2, #template h3, #template h4, #template h5, #template h6 {
  font-family: 'Markazi Text', serif;
  margin: 0 0 .4em 0;
}

#template h1 {
  font-size: 2em;
  opacity: .8;
}

#template h2 {
  font-size: 1.6em;
  margin: 0;
}

#template h3 {
  font-size: 1.4em;
  margin: 0;
  opacity: .8;
}

#template h4 {
  font-size: 1.2em;
}

#template h5 {
  font-size: 1.2em;
  font-weight: normal;
  margin: 0;
}

#template h6 {
  font-size: 1.2em;
  font-weight: normal;
  margin: 0;
}

#template p, #template ul, #template ol {
  font-size: 1em;
  margin: 0 0 .4em 0;
}

@media only screen and (min-width: 560px) {
  #template h1 {
    font-size: 3.4em;
  }
  #template h2 {
    font-size: 2.2em;
  }
  #template h3 {
    font-size: 1.8em;
  }
  #template h4 {
    font-size: 1.2em;
  }
}

/*TEMPLATE LEVEL*/
/*--TEMPLATE COMPONENTS--*/
/*HERO*/
#hero {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  background-color: #666666;
}

#hero > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#hero div.img {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

#hero .wrapper-content {
  background-color: #444444;
  box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.75);
  color: black;
  display: inline-block;
  height: auto;
  margin: 16em auto 2em auto;
  overflow: hidden;
  padding: 4em 4%;
  position: relative;
  width: 72%;
  z-index: 1;
}

@media only screen and (min-width: 760px) {
  #hero .wrapper-content {
    margin: 20em auto 8em auto;
    padding: 4em 8%;
    width: auto;
  }
}

#template.color-orange #hero .wrapper-content {
  background-color: #fa9900;
  background: radial-gradient(circle, rgba(250, 153, 0, 0.7) 0%, #fa9900 100%);
}

#template.color-yellow #hero .wrapper-content {
  background-color: #fad400;
  background: radial-gradient(circle, rgba(250, 212, 0, 0.7) 0%, #fad400 100%);
}

#template.color-green #hero .wrapper-content {
  background-color: #d4ff00;
  background: radial-gradient(circle, rgba(212, 255, 0, 0.7) 0%, #d4ff00 100%);
}

#branding {
  display: block;
  height: 5em;
  overflow: hidden;
  width: 100%;
}

#branding > img {
  display: block;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  width: auto;
}

.seemore, .seemore > a {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.seemore span {
  display: block;
}

/*HERO*/
/*MENU*/
/*ITEMS*/
#items {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#items > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#items header {
  margin: 1em auto;
  text-align: center;
  padding: 0 4%;
  width: auto;
  max-width: 1180px;
}

.items {
  margin: 0 auto;
  width: 100%;
}

.item {
  display: block;
  height: 400px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.item .img {
  display: block;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.item .wrapper-content {
  bottom: 0;
  box-shadow: 0 -10px 15px 10px rgba(0, 0, 0, 0.75);
  left: 0;
  padding: 1em 8%;
  position: absolute;
  right: 0;
  top: auto;
  width: 84%;
  z-index: 1;
}

#template.color-orange .item .wrapper-content {
  background-color: #fa9900;
  background: radial-gradient(circle, rgba(250, 153, 0, 0.7) 0%, #fa9900 100%);
}

#template.color-yellow .item .wrapper-content {
  background-color: #fad400;
  background: radial-gradient(circle, rgba(250, 212, 0, 0.7) 0%, #fad400 100%);
}

#template.color-green .item .wrapper-content {
  background-color: #d4ff00;
  background: radial-gradient(circle, rgba(212, 255, 0, 0.7) 0%, #d4ff00 100%);
}

@media only screen and (min-width: 760px) {
  .items {
    display: grid;
    grid-gap: 0 4%;
    margin: 2em auto;
    width: 80%;
    max-width: 1280px;
  }
  .items.one {
    grid-template-columns: 100%;
  }
  .items.two {
    grid-template-columns: auto auto;
  }
  .items.three {
    grid-template-columns: auto auto auto;
  }
  .item {
    width: auto;
  }
}

/*ITEMS*/
/*ABOUT US*/
#aboutus {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  background-color: #444444;
  color: black;
}

#aboutus > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#aboutus .img {
  bottom: 0;
  left: 0;
  opacity: .6;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

#template #aboutus div.wrapper-content {
  background-color: transparent;
  height: auto;
  overflow: hidden;
  padding: 8em 12% 8em 12%;
  position: relative;
  margin: 0 auto;
  width: auto;
  z-index: 1;
}

@media only screen and (min-width: 760px) {
  #template #aboutus div.wrapper-content {
    padding: 12em 12%;
  }
}

#template #aboutus div.wrapper-content p {
  margin: 0 auto;
  width: auto;
  max-width: 24em;
}

#template.color-orange #aboutus div.wrapper-content {
  background-color: #0061fa;
  background: radial-gradient(circle, rgba(0, 97, 250, 0.7) 0%, #0061fa 100%);
  color: #fa9900;
}

#template.color-yellow #aboutus div.wrapper-content {
  background-color: #840055;
  background: radial-gradient(circle, rgba(132, 0, 85, 0.7) 0%, #840055 100%);
  color: #fad400;
}

#template.color-green #aboutus div.wrapper-content {
  background-color: #2b00ff;
  background: radial-gradient(circle, rgba(43, 0, 255, 0.7) 0%, #2b00ff 100%);
  color: #d4ff00;
}

/*ABOUT US*/
/*GALERIA*/
#gallery {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  padding: 2em 0 0 0;
}

#gallery > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

#gallery header {
  margin: 0 auto;
  padding: 0 4% 2em 0;
  width: auto;
  max-width: 1280px;
}

.gallery {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.gallery .img {
  display: block;
  height: 620px;
  overflow: hidden;
  width: 100%;
  min-width: 220px;
}

.gallery_slider {
  cursor: pointer;
}

@media only screen and (min-width: 760px) {
  .gallery {
    width: 96%;
  }
  .gallery .img {
    float: left;
    margin: 0 2% 1em 2%;
    width: 46%;
  }
  .gallery.gallery_slider .img {
    display: block;
    margin: 0 2% 1em 2%;
    width: 96%;
  }
}

.gallery-nav {
  bottom: 0;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.gallery-nav > span {
  background-color: white;
  border-radius: 1em;
  cursor: pointer;
  font-size: 2em;
  padding: .2em .4em;
  top: 48%;
  position: absolute;
}

.gallery-nav-prev {
  left: 5%;
}

.gallery-nav-next {
  right: 5%;
}

/*GALERIA*/
/*CTA*/
#cta {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  background-color: #444444;
  color: black;
}

#cta > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#template.color-orange #cta {
  background-color: #fa9900;
}

#template.color-yellow #cta {
  background-color: #fad400;
}

#template.color-green #cta {
  background-color: #d4ff00;
}

#cta .img {
  bottom: 0;
  height: auto;
  left: 0;
  opacity: .6;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

#template #cta div.wrapper-content {
  background-color: transparent;
  overflow: hidden;
  position: relative;
  margin: 16em 4% 8em 4%;
  width: 92%;
  z-index: 1;
}

#template #cta div.wrapper-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*CTA*/
/*FOOTER*/
#template footer {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  background-color: black;
  color: white;
  padding: 2em 0 0 0;
}

#template footer header {
  margin: 0 auto;
  width: 60%;
  max-width: 1086px;
}

#template footer header p {
  color: #444444;
  font-size: .8em;
}

#template.color-orange footer header p {
  color: #fa9900;
}

#template.color-yellow footer header p {
  color: #fad400;
}

#template.color-green footer header p {
  color: #d4ff00;
}

#template footer section {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 760px) {
  #template footer section {
    width: 92%;
    max-width: 1280px;
  }
}

#template footer .column {
  margin: 1em auto 0 auto;
  width: auto;
}

@media only screen and (min-width: 760px) {
  #template footer .column {
    float: left;
    margin-left: 4%;
    text-align: left;
    width: 30.6%;
  }
  #template footer section div:first-child {
    margin-left: 0;
  }
}

#template footer .column ul {
  font-size: .8em;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: auto;
  max-width: 240px;
}

#template footer .column h6 {
  margin: 0 auto;
  width: auto;
  max-width: 240px;
}

/*FOOTER*/
/*DISCLAIMER*/
#disclaimer {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  background-color: black;
  color: white;
}

#template.color-orange #disclaimer {
  color: #fa9900;
}

#template.color-yellow #disclaimer {
  color: #fad400;
}

#template.color-green #disclaimer {
  color: #d4ff00;
}

#disclaimer p {
  font-size: .8em;
  margin: 0 auto;
  padding: 2em 0;
  width: 16em;
}

@media only screen and (min-width: 760px) {
  #disclaimer p {
    padding: .4em 4%;
    text-align: left;
    width: auto;
  }
}

/*DISCLAIMER*/
/*--TEMPLATE COMPONENTS--*/

/*# sourceMappingURL=styles.css.map */