/*BODY LEVEL*/
@font-face {
  font-family: 'Modern Pics';
  src: url(/crea/Templates/Fonts/modernpics.otf);
}

body {
  margin: 0;
  padding: 0;
}

/*BODY LEVEL*/
/*IMAGES CONTROL*/
.img-L {
  background-size: 100% auto;
}

.img-S {
  background-size: auto 100%;
}

.img-P {
  background-size: auto 100%;
}

.img-TL {
  background-position: top left;
}

.img-TC {
  background-position: top center;
}

.img-TR {
  background-position: top right;
}

.img-ML {
  background-position: center left;
}

.img-MC {
  background-position: center center;
}

.img-MR {
  background-position: center right;
}

.img-BL {
  background-position: bottom left;
}

.img-BC {
  background-position: bottom center;
}

.img-BR {
  background-position: bottom right;
}

.img {
  background-color: #cccccc;
  background-repeat: no-repeat;
}

/*IMAGES CONTROL*/
/*TEMPLATE LEVEL*/
#template {
  display: block;
  height: auto;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

#template a, #template a:link, #template a:visited, #template a:hover, #template a:active {
  color: inherit;
  text-decoration: none;
}

#template main {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.font-icon {
  font-family: 'Modern Pics', cursive;
}

/*TEMPLATE LEVEL*/
/*MAP*/
#map, #map > .wrapper, #map > .wrapper > div {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#map > .wrapper > div > iframe {
  display: block;
  height: 600px;
  overflow: hidden;
  width: 100%;
}

/*MAP*/
/*TEMPLATE LEVEL*/
#template {
  font-family: 'Open Sans', sans-serif;
}

#template h1, #template h2, #template h3, #template h4, #template h5, #template h6 {
  font-family: 'Markazi Text', serif;
}

#template h1 {
  font-size: 2em;
}

#template h2 {
  font-size: 1.6em;
}

#template h3 {
  font-size: 1.2em;
}

#template h4 {
  font-size: 1em;
}

#template h5 {
  font-size: 1em;
}

#template h6 {
  font-size: 1em;
}

@media only screen and (min-width: 560px) {
  #template h1 {
    font-size: 3em;
  }
  #template h2 {
    font-size: 2.2em;
  }
  #template h3 {
    font-size: 1.8em;
  }
  #template h4 {
    font-size: 1.2em;
  }
}

#template p {
  font-size: 1em;
}

/*TEMPLATE LEVEL*/
/*--TEMPLATE COMPONENTS--*/
/*HERO*/
#hero {
  background-color: #666666;
  display: block;
  height: 480px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#hero > .wrapper {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

#hero div.img {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

#hero div.img.img-L {
  background-size: auto 100%;
}

#hero div.img.img-S {
  background-size: auto 100%;
}

@media only screen and (min-width: 560px) {
  #hero div.img.img-L {
    background-size: 100% auto;
  }
  #hero div.img.img-S {
    background-size: 100% auto;
  }
}

#hero .wrapper-content {
  background-color: #444444;
  color: black;
  display: inline-block;
  height: auto;
  margin: 8em auto 0 auto;
  overflow: hidden;
  padding: 1em 4%;
  position: relative;
  width: auto;
  z-index: 1;
}

#template.color-orange .wrapper-content {
  background-color: #fa9900;
}

#template.color-yellow .wrapper-content {
  background-color: #fad400;
}

#template.color-green .wrapper-content {
  background-color: #d4ff00;
}

#branding {
  display: block;
  height: 5em;
  overflow: hidden;
  width: 100%;
}

#branding > img {
  display: block;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  width: auto;
}

.seemore {
  display: block;
}

.seemore span {
  display: block;
}

@media only screen and (min-width: 560px) {
  #hero {
    height: 600px;
  }
  #hero .wrapper-content {
    margin: 8em auto 4em auto;
  }
}

/*HERO*/
/*MENU*/
/*ITEMS*/
#items {
  display: block;
  height: auto;
  overflow: hidden;
  padding: 1em 0 0 0;
  width: 100%;
}

#items > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#items > header {
  margin: 0 auto;
  text-align: center;
  padding: 0 4% 2em 4%;
  width: auto;
  max-width: 1180px;
}

.items {
  margin: 0 auto;
  width: 100%;
}

.item {
  display: block;
  height: 320px;
  position: relative;
  width: 100%;
}

.item .img {
  display: block;
  height: 320px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.item div.img.img-L {
  background-size: auto 100%;
}

.item div.img.img-S {
  background-size: auto 100%;
}

.item .img.img-P {
  background-size: 100% auto;
}

@media only screen and (min-width: 560px) {
  .item div.img.img-L {
    background-size: 100% auto;
  }
  .item div.img.img-S {
    background-size: 100% auto;
  }
}

.item .wrapper-content {
  bottom: 20px;
  display: block;
  left: 20%;
  padding: 20px 5%;
  position: absolute;
  right: 20%;
  top: 120px;
  z-index: 1;
}

#template.color-orange .item .wrapper-content {
  background-color: #fa9900;
}

#template.color-yellow .item .wrapper-content {
  background-color: #fad400;
}

#template.color-green .item .wrapper-content {
  background-color: #d4ff00;
}

@media only screen and (min-width: 560px) {
  .items {
    display: grid;
  }
  .items.one {
    grid-template-columns: auto;
  }
  .items.two {
    grid-template-columns: 50% 50%;
  }
  .items.three {
    grid-template-columns: 33% 34% 33%;
  }
  .item {
    width: auto;
  }
}

/*ITEMS*/
/*ABOUT US*/
#aboutus {
  background-color: #444444;
  color: black;
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#aboutus > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#template.color-orange #aboutus {
  background-color: #fa9900;
}

#template.color-yellow #aboutus {
  background-color: #fad400;
}

#template.color-green #aboutus {
  background-color: #d4ff00;
}

#aboutus .img {
  float: left;
  height: 200px;
  overflow: hidden;
  width: 100%;
}

#aboutus .img.img-P {
  background-size: 100% auto;
}

#aboutus .wrapper-content {
  float: right;
  text-align: left;
  overflow: hidden;
  padding: 2em 10% 2em 10%;
  width: auto;
}

@media only screen and (min-width: 560px) {
  #aboutus .img {
    height: 300px;
    width: 40%;
  }
  #aboutus .wrapper-content {
    width: 40%;
  }
}

/*ABOUT US*/
/*GALERIA*/
#gallery {
  display: block;
  height: auto;
  overflow: hidden;
  padding: 2em 0 0 0;
  width: 100%;
}

#gallery > .wrapper {
  display: block;
  height: auto;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

#gallery header {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2em;
  width: auto;
  max-width: 1180px;
}

.gallery {
  margin: 0 auto;
  width: 100%;
}

.gallery .img {
  display: block;
  height: 220px;
  min-width: 220px;
  overflow: hidden;
  width: 100%;
}

.gallery .img.img-L {
  background-size: auto 100%;
}

.gallery .img.img-S {
  background-size: auto 100%;
}

.gallery .img.img-P {
  background-size: 100% auto;
}

@media only screen and (min-width: 220px) {
  .gallery .img.img-L {
    background-size: 100% auto;
  }
  .gallery .img.img-S {
    background-size: 100% auto;
  }
}

@media only screen and (min-width: 560px) {
  .gallery .img {
    float: left;
    margin: 0 2% 1em 2%;
    width: 46%;
  }
  .gallery .img.img-L {
    background-size: auto 100%;
  }
  .gallery .img.img-S {
    background-size: auto 100%;
  }
}

@media only screen and (min-width: 720px) {
  .gallery .img.img-L {
    background-size: 100% auto;
  }
  .gallery .img.img-S {
    background-size: 100% auto;
  }
}

@media only screen and (min-width: 960px) {
  .gallery .img {
    width: 29.33%;
  }
  .gallery .img.img-L {
    background-size: auto 100%;
  }
  .gallery .img.img-S {
    background-size: auto 100%;
  }
}

@media only screen and (min-width: 960px) {
  .gallery .img {
    width: 21%;
  }
}

/*GALERIA*/
/*CTA*/
#cta {
  display: block;
  height: 200px;
  width: 100%;
}

#cta > .wrapper {
  display: block;
  height: 200px;
  width: 100%;
  overflow: visible;
  position: relative;
}

#cta .img {
  display: block;
  height: 200px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 0;
}

#cta .wrapper-content {
  background-color: #444444;
  color: black;
  display: inline-block;
  height: auto;
  margin: 2em auto;
  overflow: hidden;
  padding: 1em 4%;
  position: relative;
  width: auto;
  z-index: 1;
}

#template.color-orange #cta .wrapper-content {
  background-color: #fa9900;
}

#template.color-yellow #cta .wrapper-content {
  background-color: #fad400;
}

#template.color-green #cta .wrapper-content {
  background-color: #d4ff00;
}

@media only screen and (min-width: 560px) {
  #cta {
    height: 350px;
  }
  #cta > .wrapper {
    height: 350px;
  }
  #cta .img {
    height: 350px;
  }
  #cta .wrapper-content {
    margin: 8em auto 4em auto;
  }
}

/*CTA*/
/*FOOTER*/
#template footer {
  background-color: black;
  color: white;
  height: auto;
  display: block;
  overflow: hidden;
  padding: 4em 0 2em 0;
  width: 100%;
}

#template footer header {
  margin: 0 auto;
  text-align: center;
  width: 92%;
  max-width: 1086px;
}

#template footer header p {
  color: #444444;
}

#template.color-orange footer header p {
  color: #fa9900;
}

#template.color-yellow footer header p {
  color: #fad400;
}

#template.color-green footer header p {
  color: #a4bc00;
}

#template footer section {
  margin: 0 auto;
  text-align: left;
  width: auto;
  max-width: 1440px;
}

#template footer .column {
  padding: 0 4%;
  width: auto;
}

#template footer .column ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

@media only screen and (min-width: 560px) {
  #template footer .column {
    float: left;
    width: 25%;
  }
}

/*FOOTER*/
/*DISCLAIMER*/
#disclaimer {
  background-color: black;
  color: #444444;
  display: block;
  height: auto;
  overflow: hiddden;
  padding: 2em 0;
  width: 100%;
}

#template.color-orange #disclaimer {
  color: #fa9900;
}

#template.color-yellow #disclaimer {
  color: #fad400;
}

#template.color-green #disclaimer {
  color: #a4bc00;
}

#disclaimer p {
  margin: 0 auto;
  width: 90%;
  font-size: .8em;
  text-align: left;
}

/*DISCLAIMER*/
/*--TEMPLATE COMPONENTS--*/

/*# sourceMappingURL=styles.css.map */