@import "./crea/Templates/scss/_common"; 
/*TEMPLATE LEVEL*/
#template {
	font-family: 'Roboto', sans-serif;
}
#template h1, #template h2, #template h3, #template h4, #template h5, #template h6 {
	font-family: 'Roboto', sans-serif;
}
/*TEMPLATE LEVEL*/
/*--TEMPLATE COMPONENTS--*/
/*HERO*/
#hero {
	background-color: rgba(102, 102, 102, 1);
	display: block;
	height: 240px;
	overflow: hidden;
	position: relative;
	width: 100%; 
}
#hero>.wrapper {
	bottom: 0;
	display: block;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%; 
}
#hero .img {
	display: block; 
	height: 240px;
	opacity: .3;
	overflow: hidden;
	position: absolute;
	width: 100%; 
	z-index: 0;
}
#hero .wrapper-content {
	background-color: transparent;
	color: rgba(255,255,255,1);
	display: block; 
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	padding: 1em 4%;
	position: relative;
	width: 92%; max-width: 1180px;
	z-index: 1;
}
#template h1 {
	font-size: 2em;
}
#template.color-orange h1 {
	color: rgba(240, 170, 0, 1);
}
#template.color-yellow h1 {
	color: rgba(255, 230, 0, 1);
}
#template.color-green h1 {
	color: rgba(212, 255, 0, 1);
}
.seemore span {
	border: 1px solid rgba(68, 68, 68, 1);
	display: inline-block;
	font-variant: small-caps;
	padding: 1em 2em;
}
#template.color-orange .seemore span {
	border-color: rgba(240, 170, 0, 1);
}
#template.color-yellow .seemore span {
	border-color: rgba(255, 230, 0, 1);
}
#template.color-green .seemore span {
	border-color: rgba(212, 255, 0, 1);
}
@media only screen and (min-width: 560px) {
	#hero {
		height: 800px;
	}
	#hero .img {
		height: 800px;
	}
	#hero .wrapper-content {
		padding: 10em 4% 4em 4%;
	}
	#template h1 {
		font-size: 3em;
	}
}
/*HERO*/
/*MENU*/
#menu {
	border-bottom: 1px solid rgba(68, 68, 68, 1);
	display: block;
	height: auto;
	padding: 2em 0;
	width: 100%;
}
#template.color-orange #menu {
	border-color: rgba(240, 170, 0, 1);
}
#template.color-yellow #menu {
	border-color: rgba(255, 230, 0, 1);
}
#template.color-green #menu {
	border-color: rgba(212, 255, 0, 1);
}
#menu>.wrapper {
	display: block;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 4%;
	width: auto; max-width: 1180px;
}
#menu h3 {
	float: left;
}
#menu menu {
	float: right;
	padding-right: 4%;
}
#menu menu li {
	list-style-type: none;
}
#menu menu li a {
	display: block;
	font-variant: small-caps;
	padding: .4em .8em;
	border: 1px solid rgba(255,255,255,1);
}
#menu menu li a:hover, #menu ul li a:active {
	border: 1px solid rgba(68, 68, 68, 1);
}
#template.color-orange #menu menu li a:hover, #template.color-orange #menu menu li a:active {
	border-color: rgba(240, 170, 0, 1);
}
#template.color-yellow #menu menu li a:hover, #template.color-yellow #menu menu li a:active {
	border-color: rgba(255, 230, 0, 1);
}
#template.color-green #menu menu li a:hover, #template.color-green #menu menu li a:active {
	border-color: rgba(212, 255, 0, 1);
}
@media only screen and (min-width: 560px) {
	#menu menu li {
		float: left;
		margin-left: 1em;
	}
}
/*MENU*/
/*ITEMS*/
#items {
	display: block;
	height: auto;
	padding: 4em 0;
	width: 100%; 
}
#items>.wrapper {
	display: block;
	height: auto;
	width: 100%; 
}
#items header {
	margin: 0 auto;
	text-align: center;
	padding: 0 4%;
	width: auto; max-width: 1180px;
}
.items {
	margin: 0 auto;
	text-align: left;
	padding: 0 4%;
	width: auto; max-width: 1180px;
}
.item {
	display: block;
	height: 320px;
	position: relative;
	width: 100%; 
}
.item .img {
	display: block;
	height: 200px;
	overflow: hidden;
	width: 100%; 
}
.item .wrapper-content {
	display: block;
}
@media only screen and (min-width: 560px) {
	.items {
		display: grid;
	}
	.items.one { grid-template-columns: auto; }
	.items.two { grid-template-columns: 46% 46%; }
	.items.three { grid-template-columns: 33% 34% 33%; }
	.item { width: auto; margin: 0 2%; }
}
/*ITEMS*/
/*ABOUT US*/
#aboutus {
	background-color: rgba(68, 68, 68, 1);
	color: rgba(0,0,0,1);
	display: block; 
	height: auto;
	overflow: visible;
	width: 100%; 
}
#template.color-orange #aboutus {
	background-color: rgba(240, 170, 0, 1);
}
#template.color-yellow #aboutus {
	background-color: rgba(255, 230, 0, 1);
}
#template.color-green #aboutus {
	background-color: rgba(212, 255, 0, 1);
}
#aboutus>.wrapper {
	display: block;
	height: 500px;
	overflow: visible;
	position: relative;
}
#aboutus .img {
	display: block; 
	height: 500px;
	overflow: hidden;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 0;
}
#aboutus .wrapper-content {
	display: block;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	padding: 4em 0 0 0;
	width: 92%; max-width: 1180px;
	z-index: 1;
}
@media only screen and (min-width: 560px) {
	#aboutus {
		height: 500px;
	}
	#aboutus .wrapper-content {
		padding: 10em 0 0 0;
	}
}
/*ABOUT US*/
/*GALERIA*/
#gallery {
	display: block;
	height: auto;
	overflow: hidden;
	padding: 4em 0 2em 0;
	width: 100%; 
}
#gallery header {
	margin: 0 auto;
	text-align: center;
	width: auto; max-width: 1180px;
}
#gallery header h2 {
	font-variant: small-caps;
}
#gallery header h2 {
	color: rgba(68, 68, 68, 1);
}
#template.color-orange #gallery header h2 {
	color: rgba(240, 170, 0, 1);
}
#template.color-yellow #gallery header h2 {
	color: rgba(255, 230, 0, 1);
}
#template.color-green #gallery header h2 {
	color: rgba(212, 255, 0, 1);
}
.gallery {
	max-width: 1180px;
	margin: 0 auto;
	overflow: hidden;
	padding: 2em 0 0 0;
	width: auto; 
}
.gallery .img {
	display: block;
	height: 220px;
	margin: 1em 21px;
	width: 220px; 
}
.gallery .img.img-L { background-size: auto 100%; }
.gallery .img.img-S { background-size: auto 100%; }
.gallery .img.img-P { background-size: 100% auto; }
@media only screen and (min-width: 560px) {
	.gallery .img {
		float: left; 
	}
}
/*GALERIA*/
/*CTA*/
#cta {
	display: block;
	height: 200px;
	width: 100%; 
}
#cta>.wrapper {
	display: block;
	height: 200px;
	width: 100%; 
	overflow: visible;
	position: relative;
}
#cta .img {
	display: block; 
	height: 200px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 0;
}
#cta .wrapper-content {
	color: rgba(68, 68, 68, 1);
	display: block;
	height: auto;
	margin: 0 auto;
	padding: 1em 0 1em 0;
	position: relative;
	text-align: center;
	width: 92%; max-width: 1086px; 
	z-index: 1;
}
#template.color-orange #cta .wrapper-content {
	color: rgba(240, 170, 0, 1);
}
#template.color-yellow #cta .wrapper-content {
	color: rgba(255, 230, 0, 1);
}
#template.color-green #cta .wrapper-content {
	color: rgba(212, 255, 0, 1);
}
#cta .wrapper-content h2 {
	font-size: 2em;
}
@media only screen and (min-width: 560px) {
	#cta {
		height: 350px;
	}
	#cta>wrapper {
		height: 350px;
	}
	#cta .img {
		height: 350px;
	}
	#cta .wrapper-content {
		padding: 8em 0 4em 0;
	}
}
/*CTA*/
/*FOOTER*/
#template footer {
	height: auto;
	display: block;
	overflow: hidden;
	padding: 4em 0 2em 0;
	width: 100%;
}
#template footer header {
	margin: 0 auto;
	text-align: center;
	width: 92%; max-width: 1086px;
}
#template footer header h5 {
	font-variant: small-caps;
}
#template footer header p {
	color: rgba(68, 68, 68, 1);
}
#template.color-orange footer header p {
	color: rgba(240, 170, 0, 1);
}
#template.color-yellow footer header p {
	color: rgba(255, 230, 0, 1);
}
#template.color-green footer header p {
	color: #A4DD00;
}
#template footer section {
	margin: 0 auto;
	text-align: left;
	width: auto; max-width: 1440px;
}
#template footer .column {
	padding: 0 4%;
	width: auto;
}
#template footer ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
@media only screen and (min-width: 560px) {
	#template footer .column {
		float: left;
		width: 25%;
	}
}
/*FOOTER*/
/*DISCLAIMER*/
#disclaimer {
	background-color: rgba(0,0,0,1);
	color: rgba(68, 68, 68, 1);
	display: block;
	height: auto;
	overflow: hiddden;
	padding: 2em 0;
	width: 100%;
}
#template.color-orange #disclaimer {
	color: rgba(240, 170, 0, 1);
}
#template.color-yellow #disclaimer {
	color: rgba(255, 230, 0, 1);
}
#template.color-green #disclaimer {
	color: rgba(164, 221, 0, 1);
}
#disclaimer p {
	margin: 0 auto;
	width: 92%; max-width: 1086px;
	text-align: left;
}
/*DISCLAIMER*/
/*--TEMPLATE COMPONENTS--*/