@import "./crea/Templates/scss/_common"; 
/*Colors*/
$color_orange_001 : rgba(240, 170, 0, 1);
$color_orange_002 : rgba(0, 97, 250, 1);
$color_yellow_001 : rgba(255, 230, 0, 1);
$color_yellow_002 : rgba(132, 0, 85, 1);
$color_green_001 : rgba(212, 255, 0, 1);
$color_green_002 : rgba(43, 0, 255, 1);

/*TEMPLATE LEVEL*/
#template {
	font-family: 'Roboto', sans-serif;
}
#template h1, #template h2, #template h3, #template h4, #template h5, #template h6 {
	font-family: 'Roboto', sans-serif;
	font-variant: small-caps;
	font-weight: normal;
	margin: 0 0 .4em 0;
}
#template h1 {
	font-size: 2em;
}
#template h2 {
	font-size: 1.6em;
}
#template h3 {
	font-size: 1.4em;
}
#template h4 {
	font-size: 1em;
}
#template h5 { 
	font-size: 1em;
	margin: 0;
}
#template h6 {
	font-size: 1em;
	margin: 0;
}
#template p, #template ul, #template ol, #template menu, #template li {
	font-size: 1em;
}
#template p, #template ul, #template ol {
	margin: 0 0 .4em 0;
}
@media only screen and (min-width: $width_xxs) {
	#template h1 { font-size: 3em; }
	#template h2 { font-size: 2.2em; }
	#template h3 { font-size: 1.8em; }
	#template h4 { font-size: 1.2em; }
}
/*TEMPLATE LEVEL*/
/*--TEMPLATE COMPONENTS--*/
/*HERO*/
#hero {
	@include box_block();
	background-color: rgba(102, 102, 102, 1);
}
#hero>.wrapper {
	@include box_block();
	position: relative;
}
#hero .img {
	@include box_block();
	bottom: 0;
	left: 0;
	opacity: .3;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
}
#hero .wrapper-content {
	background-color: transparent;
	color: rgba(255,255,255,1);
	display: block; 
	height: auto;
	margin: 16em auto 4em auto;
	overflow: hidden;
	padding: 0 4%;
	position: relative;
	width: 80%; max-width: 1180px;
	z-index: 1;
}
#template.color-orange h1 {
	color: $color_orange_001;
}
#template.color-yellow h1 {
	color: $color_yellow_001;
}
#template.color-green h1 {
	color: $color_green_001;
}
.seemore {
	border: 1px solid rgba(68, 68, 68, 1);
	display: inline-block;
	font-variant: small-caps;
	margin: 1em auto 0 auto;
	padding: 2em 8%;
	width: auto;
}
#template.color-orange .seemore {
	border-color: $color_orange_001;
}
#template.color-yellow .seemore {
	border-color: $color_yellow_001;
}
#template.color-green .seemore {
	border-color: $color_green_001;
}
.seemore span {
	display: block;
}
/*HERO*/
/*MENU*/
#menu {
	@include box_block();
	border-bottom: 1px solid rgba(68, 68, 68, 1);
	padding: 1em 0;
}
#template.color-orange #menu {
	border-color: $color_orange_001;
}
#template.color-yellow #menu {
	border-color: $color_yellow_001;
}
#template.color-green #menu {
	border-color: $color_green_001;
}
#menu>.wrapper {
	display: block;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 4%;
	width: auto; max-width: 1180px;
}
#menu h4 {
	display: none;
}
#menu menu {
	display: block;
	list-style-type: none;
	overflow: hidden;
}
#menu.toggle menu {
	clear: both;
	display: none;
	float: right;
	text-align: right;
	width: auto;	
}
#menu menu li {
	float: left;
}
#menu.toggle menu li {
	display: block;
}
#menu menu li a {
	display: block;
	font-variant: small-caps;
	padding: .6em 1.4em;
	border: 1px solid rgba(255,255,255,1);
}
#menu menu li a:hover, #menu ul li a:active {
	border: 1px solid rgba(68, 68, 68, 1);
}
#template.color-orange #menu menu li a:hover, #template.color-orange #menu menu li a:active {
	border-color: $color_orange_001;
}
#template.color-yellow #menu menu li a:hover, #template.color-yellow #menu menu li a:active {
	border-color: $color_yellow_001;
}
#template.color-green #menu menu li a:hover, #template.color-green #menu menu li a:active {
	border-color: $color_green_001;
}
#menu-icon {
	cursor: pointer;
	display: none;
	font-family: 'Web Symbols';
}
#menu.toggle #menu-icon {
	display: block;
	float: right;
	font-family: 'Web Symbols';
}
/*MENU*/
/*ITEMS*/
#items {
	@include box_block();
	padding: 2em 0 0 0;
}
#items>.wrapper {
	@include box_block();
}
#items header {
	margin: 0 auto 1em auto;
	padding: 0 4%;
	width: auto; max-width: 1180px;
}
.items {
	margin: 0 auto;
	padding: 0 4%;
	width: auto; max-width: 1180px;
}
.item {
	@include box_block();
	margin: 0 auto 1em auto;
	position: relative;
}
.item .img {
	display: block;
	height: 150px;
	overflow: hidden;
	width: 100%; 
}
.item .wrapper-content {
	display: block;
}
@media only screen and (min-width: $width_xxs) {
	.items {
		display: grid;
	}
	.items.one { grid-template-columns: 100%; }
	.items.two {
		grid-gap: 0 4%;
		grid-template-columns: 48% 48%;
	}
	.items.three {
		grid-gap: 0 4%;
		grid-template-columns: 30.6% 30.7% 30.6%;
	}
}
/*ITEMS*/
/*ABOUT US*/
#aboutus {
	@include box_block();
	background-color: rgba(68, 68, 68, 1);
	color: rgba(0,0,0,1);
}
#template.color-orange #aboutus {
	background-color: $color_orange_001;
}
#template.color-yellow #aboutus {
	background-color: $color_yellow_001;
}
#template.color-green #aboutus {
	background-color: $color_green_001;
}
#aboutus>.wrapper {
	@include box_block();
	position: relative;
}
#aboutus .img {
	@include box_block();
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}
#aboutus .wrapper-content {
	display: block;
	margin: 12em auto 12em auto;
	overflow: hidden;
	position: relative;
	width: 80%; max-width: 1180px;
	z-index: 1;
}
/*ABOUT US*/
/*GALERIA*/
#gallery {
	@include box_block();
}
#gallery header {
	margin: 2em auto 1em auto;
	width: 80%; max-width: 1180px;
}
#gallery header h2 {
	color: rgba(68, 68, 68, 1);
}
#template.color-orange #gallery header h2 {
	color: $color_orange_001;
}
#template.color-yellow #gallery header h2 {
	color: $color_yellow_001;
}
#template.color-green #gallery header h2 {
	color: $color_green_001;
}
.gallery {
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 92%; max-width: 1180px;
}
.gallery .img {
	display: block;
	height: 150px;
	margin: 0 auto 1em auto;
	width: 100%; 
}
@media only screen and (min-width: $width_xxs) {
	.gallery .img {
		float: left; 
		height: 200px;
		margin: 0 2% 1em 2%;
		width: 46%; 
	}
	.gallery.gallery_slider .img {
		display: block; 
		margin: 0 2% 1em 2%;
		width: 96%; 
	}
}
.gallery-nav {
	bottom: 0;
	height: auto;
	left: 0;	
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}
.gallery-nav>span {
	background-color: rgba(255,255,255,1);
	border-radius: 1em;
	cursor: pointer;
	font-size: 2em;
	padding: .2em .4em;
	top: 48%;
	position: absolute;
}
.gallery-nav-prev { left: 5%; }
.gallery-nav-next { right: 5%; }
/*GALERIA*/
/*CTA*/
#cta {
	@include box_block();
}
#cta>.wrapper {
	@include box_block();
	position: relative;
}
#cta .img {
	@include box_block();
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}
#cta .wrapper-content {
	color: rgba(68, 68, 68, 1);
	display: block;
	height: auto;
	margin: 12em auto;
	position: relative;
	width: 80%; max-width: 1086px; 
	z-index: 1;
}
#cta .wrapper-content ul {
	list-style-type: none;
}
#template.color-orange #cta .wrapper-content {
	color: $color_orange_001;
}
#template.color-yellow #cta .wrapper-content {
	color: $color_yellow_001;
}
#template.color-green #cta .wrapper-content {
	color: $color_green_001;
}
/*CTA*/
/*FOOTER*/
#template footer {
	@include box_block();
	padding: 2em 0 1em 0;
}
#template footer header {
	margin: 0 auto;
	width: 60%; max-width: 1086px;
}
#template footer header p {
	color: rgba(68, 68, 68, 1);
	font-size: .8em;
}
#template.color-orange footer header p {
	color: $color_orange_001;
}
#template.color-yellow footer header p {
	color: $color_yellow_001;
}
#template.color-green footer header p {
	color: $color_green_001;
}
#template footer section {
	margin: 0 auto;
	width: 60%; max-width: 1086px;
}
#template footer section {
	@include box_block();
	margin: 0 auto;
}
@media only screen and (min-width: $width_xs) {
	#template footer section {
		width: 92%; max-width: 1280px;
	}	
}
#template footer .column {
	margin: 1em auto 0 auto;
	width: auto;
}
@media only screen and (min-width: $width_xs) {
	#template footer .column {
		float: left;
		margin-left: 4%;
		text-align: left;
		width: 30.6%;
	}	
	#template footer section div:first-child {
		margin-left: 0;
	}	
}
#template footer .column ul {
	font-size: .8em;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: auto; max-width: 240px;
}
#template footer .column h6 {
	margin: 0 auto;
	width: auto; max-width: 240px;
}
/*FOOTER*/
/*DISCLAIMER*/
#disclaimer {
	@include box_block();
	background-color: rgba(30, 30, 30,1);
	color: rgba(255, 255, 255, 1);
}
#template.color-orange #disclaimer {
	color: $color_orange_001;
}
#template.color-yellow #disclaimer {
	color: $color_yellow_001;
}
#template.color-green #disclaimer {
	color: $color_green_001;
}
#disclaimer p {
	font-size: .8em;
	margin: 0 auto;
	padding: 1.4em 0;
	width: 16em;
}
@media only screen and (min-width: $width_xs) {
	#disclaimer p {
		text-align: left;
		padding: 1.4em 4%;
		width: auto;
	}
}
/*DISCLAIMER*/
/*--TEMPLATE COMPONENTS--*/