/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

/*SHADES OF GRAY*/
/*RED*/
/*ORANGE*/
/*PINK*/
/*BLUE*/
/*YELLOW*/
/*GREEN*/
/*PURPLE*/
.ui-dialog-titlebar {
  display: none;
}

.ui-widget.ui-widget-content {
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  max-width: 100%;
}

@media (min-width: 660px) {
  .ui-widget.ui-widget-content {
    max-width: 640px;
    max-height: 760px;
  }
}

.ui-dialog .ui-dialog-content.dialog {
  max-height: 30rem;
  max-width: 100%;
  z-index: 1003;
}

@media (min-width: 660px) {
  .ui-dialog .ui-dialog-content.dialog {
    max-width: 640px !important;
    max-height: 760px !important;
  }
}

@media (min-width: 1040px) {
  .ui-dialog .ui-dialog-content.dialog {
    max-height: 600px !important;
  }
}

.ui-widget-overlay {
  background: black;
  opacity: .5;
  z-index: 1002;
}

.modal-login, .app-new-start, .ventana-login, .final-msgs {
  margin: 1rem;
}

.modal-login *, .app-new-start *, .ventana-login *, .final-msgs * {
  box-sizing: border-box;
}

.modal-login img, .app-new-start img, .ventana-login img, .final-msgs img {
  display: block;
  height: auto;
  margin: 1rem auto;
  width: 6rem;
  max-width: 50%;
}

.modal-login input, .app-new-start input, .ventana-login input, .final-msgs input, .modal-login button, .app-new-start button, .ventana-login button, .final-msgs button {
  width: 100%;
}

.modal-login p, .app-new-start p, .ventana-login p, .final-msgs p {
  color: black;
  margin: 1rem 0;
  text-align: center;
}

.modal-login [type="button"], .app-new-start [type="button"], .ventana-login [type="button"], .final-msgs [type="button"] {
  font-size: 1rem;
  line-height: 1.25rem;
  padding: .5rem;
}

.modal-login .x-close, .app-new-start .x-close, .ventana-login .x-close, .final-msgs .x-close {
  color: #b4b4b4;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: 0;
}

.modal-login .x-close:hover, .app-new-start .x-close:hover, .ventana-login .x-close:hover, .final-msgs .x-close:hover {
  color: #3c3c3c;
}

/*Botones*/
button,
.boton,
a.boton,
a.boton:visited a.boton:link,
input[type='button'],
a.cta,
a.cta:visited,
a.cta:link,
input.cta {
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background-color: #ff0593;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: .5rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  width: auto;
}

button:hover, button:active,
.boton:hover,
.boton:active,
a.boton:hover,
a.boton:active,
a.boton:visited a.boton:link:hover,
a.boton:visited a.boton:link:active,
input[type='button']:hover,
input[type='button']:active,
a.cta:hover,
a.cta:active,
a.cta:visited:hover,
a.cta:visited:active,
a.cta:link:hover,
a.cta:link:active,
input.cta:hover,
input.cta:active {
  background-color: #ff52b4;
}

.inputWihIcons {
  background-color: #f0f0f0;
  border: 1px solid #b4b4b4;
  border-radius: .25rem;
  margin-bottom: .5rem;
  overflow: hidden;
}

.inputWihIcons * {
  box-sizing: border-box;
}

.inputWihIcons [type="text"],
.inputWihIcons [type="email"],
.inputWihIcons [type="password"] {
  background-color: white;
  border: none;
  float: left;
  height: 2.5rem;
  padding: .5rem;
  outline: none;
  width: calc(100% - 2.5rem);
}

.inputWihIcons i {
  border-right: 1px solid #b4b4b4;
  color: #787878;
  display: block;
  float: left;
  font-size: 1rem;
  height: 2.5rem;
  line-height: 1.25rem;
  padding: .5rem;
  text-align: center;
  width: 2.5rem;
}

.form-error {
  color: red;
  display: none;
  font-size: 12px;
  margin: 10px 0;
  text-align: center;
}

/**/
body {
  background-color: #3c3c3c;
  color: #b4b4b4;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

body.init {
  overflow: hidden;
}

body, input, textarea, select, button {
  font-family: 'Open Sans', sans-serif;
}

ul, ol, nav {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/**/
.template {
  display: none;
}

#template-cont {
  background-color: white;
  color: black;
  display: block;
  height: auto;
  width: 100%;
}

#app {
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 101;
}

/**/
#app-cover {
  background-color: white;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  pointer-events: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1002;
}

@media (min-width: 1040px) {
  #app-cover {
    /*overflow: hidden;*/
  }
}

#app-cover > div {
  display: block;
  height: auto;
  margin: 4em auto;
  overflow: hidden;
  text-align: center;
  width: 80%;
}

#app-cover label {
  display: block;
  margin-bottom: 15px;
}

#app-cover .control-design-thumb {
  cursor: pointer;
  float: left;
  padding: 5px 10px;
  overflow: visible;
  box-sizing: border-box;
  width: 50%;
}

@media (min-width: 660px) {
  #app-cover .control-design-thumb {
    width: 200px;
  }
}

#app-cover .control-design-thumb:hover {
  background-color: #3c3c3c;
}

#app-cover .control-design-thumb aside {
  height: 180px;
  margin: 0 auto 20px auto;
  overflow: hidden;
  width: 180px;
  max-width: 100%;
}

#app-cover .control-design-thumb img {
  display: block;
  height: 100%;
}

#app-cover .app-cover-start {
  width: 100%;
}

@media (min-width: 660px) {
  #app-cover .app-cover-start {
    width: 600px;
  }
}

@media (min-width: 1040px) {
  #app-cover .app-cover-start {
    width: 1000px;
  }
}

#app-cover .app-cover-start img.logo, #app-cover .app-cover-start .actions {
  position: absolute;
}

#app-cover .app-cover-start img.logo {
  top: 20px;
  left: 20px;
  width: 100px;
}

#app-cover .app-cover-start .actions {
  right: 20px;
  top: 30px;
}

#app-cover .app-cover-start .actions a {
  color: #9b035a;
  float: left;
  padding-left: 15px;
  font-size: 25px;
}

#app-cover .app-cover-start .actions a i {
  display: block;
}

#app-cover .app-cover-start .actions a span {
  font-size: 14px;
}

#app-cover .app-cover-start .thumb-selected + i::before {
  content: "\f192";
}

#app-cover .app-cover-start .control-desing-cont {
  overflow: hidden;
  display: inline-block;
}

#app-cover .app-cover-start .next {
  margin-top: 100px;
}

#app-cover .app-cover-finish > div > img {
  width: 100px;
}

#app-cover .app-cover-finish > div .extra-info {
  display: block;
  font-size: 14px;
  line-height: 24px;
  margin: 25px 0;
}

#app-cover .app-cover-finish h3 {
  color: #b4b4b4;
  font-size: 28px;
  margin-bottom: 0;
}

#app-cover .app-cover-finish p {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
}

#app-cover .app-cover-finish .url .siteName {
  color: #ff0593;
  font-size: 24px;
  margin: 10px 0;
}

#app-cover .app-cover-finish .paquetes {
  overflow: hidden;
}

#app-cover .app-cover-finish .app-cover-finish-package {
  background-color: #9b035a;
  box-sizing: border-box;
  color: white;
  float: left;
  margin: 1em 0;
  padding: 1.7em;
  width: 100%;
}

@media (min-width: 660px) {
  #app-cover .app-cover-finish .app-cover-finish-package {
    margin: 1em 10px;
    width: calc(50% - 20px);
  }
}

@media (min-width: 1040px) {
  #app-cover .app-cover-finish .app-cover-finish-package {
    margin: 1em 20px;
    width: calc(33.33% - 40px);
  }
}

@media (min-width: 1280px) {
  #app-cover .app-cover-finish .app-cover-finish-package {
    margin: 1em 30px;
    width: calc(33.33% - 60px);
  }
}

#app-cover .app-cover-finish .app-cover-finish-package hr {
  width: 10%;
}

#app-cover .app-cover-finish .app-cover-finish-package .price {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 40px;
}

@media (min-width: 660px) {
  #app-cover .app-cover-finish .app-cover-finish-package .price {
    font-size: 60px;
  }
}

@media (min-width: 1040px) {
  #app-cover .app-cover-finish .app-cover-finish-package .price {
    font-size: 70px;
  }
}

@media (min-width: 1280px) {
  #app-cover .app-cover-finish .app-cover-finish-package .price {
    font-size: 80px;
  }
}

#app-cover .app-cover-finish .app-cover-finish-package .price + span {
  display: block;
  font-size: 14px;
  margin-bottom: 40px;
}

#app-cover .app-cover-finish .app-cover-finish-package ul {
  font-size: 13px;
  height: 70px;
  margin-bottom: 40px;
  text-decoration: none;
  text-align: left;
}

#app-cover .app-cover-finish .app-cover-finish-package .finish {
  background: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 48px;
  margin-bottom: 0px;
  min-height: 50px;
  width: 100%;
}

@media only screen and (min-width: 660px) {
  #app-cover .app-cover-finish .app-cover-finish-package .finish {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 730px) {
  #app-cover .app-cover-finish .app-cover-finish-package .finish {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 980px) {
  #app-cover .app-cover-finish .app-cover-finish-package .finish {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1040px) {
  #app-cover .app-cover-finish .app-cover-finish-package .finish {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1160px) {
  #app-cover .app-cover-finish .app-cover-finish-package .finish {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1610px) {
  #app-cover .app-cover-finish .app-cover-finish-package .finish {
    margin-bottom: 40px;
  }
}

#app-cover .app-cover-finish .app-cover-finish-package button {
  padding: 0px 20px;
  border: 1px solid white;
}

#app-cover .app-cover-finish .app-cover-finish-package button i, #app-cover .app-cover-finish .app-cover-finish-package button span {
  vertical-align: middle;
}

#app-cover .app-cover-finish .app-cover-finish-package button i {
  font-size: 30px;
}

#app-cover .app-cover-finish .app-cover-finish-package button:hover {
  background: white;
  color: #9b035a;
}

/**/
#app-control {
  background-color: #f0f0f0;
  bottom: 0;
  color: #b4b4b4;
  display: block;
  height: 95%;
  max-height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  z-index: 103;
}

#app-control > .app-control-step {
  display: block;
  height: calc(100% - 100px);
  margin: 40px 2% 60px 2%;
  overflow-y: auto;
  text-align: center;
  width: 96%;
}

#app-control > .app-control-step .inp-cont {
  position: relative;
}

#app-control > .app-control-step .site-name-container {
  color: #9b035a;
  font-size: 22px;
  position: relative;
  text-align: left;
}

#app-control > .app-control-step .site-name-container h2 {
  margin: 0;
}

#app-control > .app-control-step .site-name-container input[type="text"] {
  background: none;
  border: none;
  border-bottom: 1px solid;
  margin: 0;
  padding: 5px;
  width: 100px;
}

#app-control > .app-control-step .site-name-container div {
  margin: 80px 0;
}

#app-control > .app-control-step .site-name-container div > span {
  color: #9b035a;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

#app-control > .app-control-step .site-name-container p span {
  font-weight: bold;
}

#app-control > .app-control-step .site-name-container img {
  display: none;
}

@media (min-width: 660px) {
  #app-control > .app-control-step .site-name-container img {
    display: block;
    position: absolute;
    right: 0;
    top: 100px;
    width: 200px;
  }
}

#app-control > .app-control-step .site-name-container .form-error {
  text-align: left;
}

#app-control .app-control-step > div {
  margin: auto;
  width: 80%;
}

#app-control .app-control-step > div textarea, #app-control .app-control-step > div input[type="text"].noIcon, #app-control .app-control-step > div select {
  border-color: #787878;
  border-radius: 5px;
  border-style: solid;
  box-sizing: border-box;
  font-size: 1em;
  margin: 0 0 20px 0;
  padding: 15px;
  width: 100%;
}

#app-control .app-control-step > div textarea {
  width: 100%;
  height: 8em;
}

#app-control .app-control-step > div input[type="text"].noIcon {
  height: auto;
}

#app-control .app-control-step > div select {
  height: auto;
  margin: 0 0 5% 0;
}

#app-control .app-control-step > div .app-control-step-tooltip {
  background-color: #ff0593;
  color: white;
  cursor: pointer;
  font-size: .8em;
  height: auto;
  margin-left: .4em;
  overflow: hidden;
  padding: .2em .4em;
  width: auto;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
}

#app-control .app-control-step > div .app-control-step-tooltip-info {
  background-color: #3c3c3c;
  display: none;
  padding: .2em;
}

#app-control .app-control-step > div .app-control-step-tooltip-info.active {
  display: block;
}

#app-control .control-color {
  box-sizing: border-box;
  float: left;
  margin: 5px 2%;
  overflow: visible;
  text-align: center;
  width: 29.33%;
}

@media (min-width: 660px) {
  #app-control .control-color {
    width: 21%;
  }
}

@media (min-width: 1040px) {
  #app-control .control-color {
    width: 16%;
  }
}

@media (min-width: 1280px) {
  #app-control .control-color {
    width: 12.66%;
  }
}

@media (min-width: 1560px) {
  #app-control .control-color {
    width: 10.28%;
  }
}

#app-control .control-color h4 {
  font-weight: normal;
  margin: 0 0 .4em 0;
}

#app-control .control-color-thumb {
  cursor: pointer;
  display: block;
  outline: 1px solid #f0f0f0;
  overflow: hidden;
}

#app-control .control-color-thumb.thumb-selected {
  outline: 1px solid blue;
}

#app-control .control-color-thumb-bg {
  display: block;
  float: left;
  height: 72px;
  overflow: hidden;
  width: 33.3%;
}

#app-control .control-color-thumb-content {
  display: none;
  height: 8px;
  margin: 8px 10%;
  overflow: hidden;
  width: 80%;
}

#app-control #app-control-palettes {
  overflow: hidden;
  text-align: left;
}

#app-control .palette-color {
  display: inline-block;
  height: 1em;
  overflow: hidden;
  width: 1em;
}

#app-control .app-control-images {
  display: block;
  height: auto;
  overflow: visible;
  position: relative;
  width: auto;
}

#app-control [id^="app-control-images"] {
  margin: 10px auto;
  overflow: auto;
}

#app-control .photo-container {
  overflow-y: scroll;
  width: 100%;
  height: 200px;
}

@media (min-width: 1040px) {
  #app-control .photo-container {
    max-height: 300px;
    width: 100%;
    min-height: 150px;
  }
}

#app-control .img-thumb {
  cursor: pointer;
  float: left;
  height: 200px;
  overflow: visible;
  position: relative;
  width: 50%;
  z-index: 101;
}

@media (min-width: 1040px) {
  #app-control .img-thumb {
    height: 150px;
    width: 25%;
  }
}

@media (min-width: 1560px) {
  #app-control .img-thumb {
    height: 200px;
    width: 20%;
  }
}

#app-control .img-thumb-cont {
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 200%;
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#app-control .img-thumb-cont-zoom {
  background-color: white;
  bottom: 0;
  height: 2em;
  position: absolute;
  right: 0;
  width: 2em;
  z-index: 2;
}

#app-control .img-thumb-cont-zoom i {
  padding-top: .5em;
}

#app-control .img-thumb-overlay {
  bottom: 0;
  display: none;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

#app-control .thumb-selected {
  z-index: 102;
}

#app-control .thumb-selected .img-thumb-overlay {
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
}

#app-control .img-thumb.selected .img-thumb-overlay {
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
}

#app-control .img-thumb-overlay > span {
  color: black;
  display: block;
  font-size: 2em;
  font-weight: bold;
  padding-top: 1em;
  text-align: center;
}

#app-control h2 {
  color: black;
  font-size: 30px;
  margin-bottom: 50px;
}

#app-control h2.middle {
  margin: 10px 0;
}

#app-control .product h2.children {
  padding-right: 25px;
  position: relative;
}

#app-control .product h2 a {
  color: #9b035a;
  font-size: 16px;
  position: absolute;
  right: 5px;
  top: 10px;
}

.img-thumb-zoomed {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 96%;
}

#app-control-nav {
  bottom: 0;
  display: block;
  height: auto;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

#app-control-nav #control-view-nav {
  float: left;
  height: 50px;
  margin-bottom: 0;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

#app-control-nav #control-view-nav a {
  bottom: 0;
  margin: .4em;
  position: absolute;
  z-index: 101;
}

#app-control-nav #control-view-nav a.prev {
  left: 0;
}

#app-control-nav #control-view-nav a.next {
  right: 0;
}

#app-control-nav #control-view-nav a.disabled {
  background-color: #787878;
  cursor: default;
}

#app-control-nav #control-view-index {
  display: none;
  overflow: hidden;
  width: auto;
}

#app-control-nav #control-view-index + a {
  float: right;
}

#app-control-nav .control-view-index-item {
  background-color: #787878;
  cursor: pointer;
  float: left;
  height: 1em;
  margin: 1em .4em .6em 0;
  overflow: hidden;
  width: 1em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}

#app-control-nav .control-view-index-item.current {
  background-color: #9b035a;
}

#app-switch {
  background-color: #9b035a;
  color: white;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 10px;
  text-align: right;
  box-sizing: border-box;
}

#app-switch a {
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  margin-right: 15px;
}

#app-switch a.switch-edit i {
  font-size: 25px;
  vertical-align: initial;
}

#app-switch a.switch-view {
  font-size: 40px;
  vertical-align: bottom;
}

#app-switch a span {
  display: none;
  margin-left: 3px;
}

@media (min-width: 660px) {
  #app-switch a span {
    display: inline;
  }
}

#app-control.view {
  height: 40px;
  margin-top: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  left: 0;
  margin-left: 0;
  border-radius: unset;
}

/**/
@media screen and (min-width: 660px) {
  #app-control {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    left: 50%;
    margin-left: -42.5%;
    margin-top: 0;
    top: 3%;
    width: 85%;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  #app-control.top {
    bottom: 55%;
    top: 5%;
  }
  #app-control-nav #control-view-index {
    bottom: 20px;
    display: block;
    left: 0;
    position: absolute;
  }
  #app-control-nav #app-switch {
    width: auto;
  }
}

.file-upload {
  display: block;
  margin: 20px 0;
  overflow: hidden;
  text-align: left;
}

.file-upload input[type=file] {
  display: none;
}

.file-upload input[type=submit] {
  font-size: 16px;
  line-height: 18px;
  margin: 10px 0 0 0;
  padding: 10px;
}

.file-upload input[type=submit], .file-upload button {
  background-color: white;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  color: #3c3c3c;
  cursor: pointer;
  float: right;
  font-weight: normal;
}

.file-upload input[type=submit]:disabled, .file-upload button:disabled {
  opacity: 0.3;
}

.file-upload input[type=submit] {
  margin: 20px;
}

.file-upload p {
  background-color: #f0f0f0;
  margin: 0;
  overflow: hidden;
  padding: 20px;
}

.file-upload p span {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  color: #787878;
}

@media (min-width: 1040px) {
  .file-upload p span {
    width: 70%;
  }
}

.file-upload button {
  width: 100%;
  margin-top: 20px;
}

@media (min-width: 1040px) {
  .file-upload button {
    width: auto;
    margin-top: 0;
  }
}

.form-label-note {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.nav-btns {
  color: #9b035a;
  display: block;
  font-size: 35px;
  text-align: center;
}

/**/
#single-modal {
  background-color: white;
  bottom: auto;
  display: none;
  height: auto;
  left: 5%;
  overflow: hidden;
  padding: 2em 0;
  position: fixed;
  right: 5%;
  top: 5%;
  width: 90%;
  z-index: 1004;
}

#single-modal i {
  cursor: pointer;
  height: 2em;
  padding-top: .5em;
  position: absolute;
  right: 0;
  top: 0;
  width: 2em;
  z-index: 101;
}

/**/
/*Modal*/
.ventana-login, .ventana-login p {
  color: #b4b4b4;
  text-align: left;
}

.ventana-login select {
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  padding: .5rem;
  width: 100%;
}

.ventana-login .form-error {
  text-align: left;
}

.map-error, .map-input {
  font-size: 14px;
  margin-top: 0px;
  position: relative;
  top: -8px;
}

#app-control .app-control-step .brand-name h4 {
  text-align: left;
  color: #9b035a;
}

#app-control .app-control-step .brand-name h4 a {
  color: #660a3f;
  font-size: 25px;
  margin-left: 15px;
  position: relative;
  top: 4px;
}

#app-control .app-control-step .brand-name h2 span {
  font-size: 16px;
  display: block;
  margin-top: 10px;
  color: #b4b4b4;
}

#app-control .app-control-step .brand-name form, #app-control .app-control-step .brand-name p {
  margin: 0;
  padding: 0;
}

#app-control .app-control-step .brand-name aside.inactive {
  opacity: .3;
}

#app-control .app-control-step .brand-name .form-error {
  text-align: left;
  font-size: 14px;
  position: absolute;
  top: -30px;
  left: 0;
}

@media (min-width: 1040px) {
  #app-control .app-control-step .brand-name .form-error {
    top: -15px;
  }
}

#app-control .app-control-step .brand-name > div {
  position: relative;
  padding-top: 10px;
}

@media (min-width: 660px) {
  #app-control .app-control-step .brand-name > div {
    padding-top: 0;
  }
}

/*# sourceMappingURL=styles.css.map */