@charset "UTF-8";
/*SHADES OF GRAY*/
/*RED*/
/*ORANGE*/
/*PINK*/
/*BLUE*/
/*YELLOW*/
/*GREEN*/
/*PURPLE*/
.ui-dialog-titlebar {
  display: none;
}

.ui-widget.ui-widget-content {
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  max-width: 100%;
}

@media (min-width: 660px) {
  .ui-widget.ui-widget-content {
    max-width: 640px;
    max-height: 760px;
  }
}

.ui-dialog .ui-dialog-content.dialog {
  max-height: 30rem;
  max-width: 100%;
  z-index: 1003;
}

@media (min-width: 660px) {
  .ui-dialog .ui-dialog-content.dialog {
    max-width: 640px !important;
    max-height: 760px !important;
  }
}

@media (min-width: 1040px) {
  .ui-dialog .ui-dialog-content.dialog {
    max-height: 600px !important;
  }
}

.ui-widget-overlay {
  background: black;
  opacity: .5;
  z-index: 1002;
}

.modal-login, .app-new-start, .ventana-login, .final-msgs {
  margin: 1rem;
}

.modal-login *, .app-new-start *, .ventana-login *, .final-msgs * {
  box-sizing: border-box;
}

.modal-login img, .app-new-start img, .ventana-login img, .final-msgs img {
  display: block;
  height: auto;
  margin: 1rem auto;
  width: 6rem;
  max-width: 50%;
}

.modal-login input, .app-new-start input, .ventana-login input, .final-msgs input, .modal-login button, .app-new-start button, .ventana-login button, .final-msgs button {
  width: 100%;
}

.modal-login p, .app-new-start p, .ventana-login p, .final-msgs p {
  color: black;
  margin: 2rem 0;
  text-align: center;
}

.modal-login [type="button"], .app-new-start [type="button"], .ventana-login [type="button"], .final-msgs [type="button"] {
  font-size: 1rem;
  line-height: 1.25rem;
  padding: .5rem;
}

.modal-login .x-close, .app-new-start .x-close, .ventana-login .x-close, .final-msgs .x-close {
  color: #b4b4b4;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: 0;
}

.modal-login .x-close:hover, .app-new-start .x-close:hover, .ventana-login .x-close:hover, .final-msgs .x-close:hover {
  color: #3c3c3c;
}

/*Botones*/
button,
.boton,
a.boton,
a.boton:visited a.boton:link,
input[type='button'],
a.cta,
a.cta:visited,
a.cta:link,
input.cta {
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background-color: #ff0593;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: .5rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  width: auto;
}

button:hover, button:active,
.boton:hover,
.boton:active,
a.boton:hover,
a.boton:active,
a.boton:visited a.boton:link:hover,
a.boton:visited a.boton:link:active,
input[type='button']:hover,
input[type='button']:active,
a.cta:hover,
a.cta:active,
a.cta:visited:hover,
a.cta:visited:active,
a.cta:link:hover,
a.cta:link:active,
input.cta:hover,
input.cta:active {
  background-color: #ff52b4;
}

.inputWihIcons {
  background-color: #f0f0f0;
  border: 1px solid #b4b4b4;
  border-radius: .25rem;
  margin-bottom: .5rem;
  overflow: hidden;
}

.inputWihIcons * {
  box-sizing: border-box;
}

.inputWihIcons [type="text"],
.inputWihIcons [type="email"],
.inputWihIcons [type="password"] {
  background-color: white;
  border: none;
  float: left;
  height: 2.5rem;
  padding: .5rem;
  outline: none;
  width: calc(100% - 2.5rem);
}

.inputWihIcons i {
  border-right: 1px solid #b4b4b4;
  color: #787878;
  display: block;
  float: left;
  font-size: 1rem;
  height: 2.5rem;
  line-height: 1.25rem;
  padding: .5rem;
  text-align: center;
  width: 2.5rem;
}

.form-error, .error {
  color: red;
  display: none;
  font-size: 12px;
  margin: 10px 0;
  text-align: center;
}

/*MIXINS*/
/*MIXINS*/
* {
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  font-size: 150%;
}

body.init {
  overflow: hidden;
}

body * {
  font-size: inherit;
}

a {
  text-decoration: none;
}

*.hidden {
  display: none;
}

/**/
#component_templates {
  display: none;
}

#template-cont {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#app {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: 101;
}

/*APP COVER*/
#app-cover {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  color: #3c3c3c;
  overflow-y: scroll;
  pointer-events: auto;
  position: fixed;
  z-index: 1002;
}

#app-cover > div {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  margin: 8rem auto 2rem auto;
  max-width: 1040px;
  text-align: center;
}

@media (min-width: 660px) {
  #app-cover > div {
    width: 80%;
  }
}

#app-cover label {
  display: block;
  margin-bottom: 1rem;
}

#app-cover .app-cover-start img.logo, #app-cover .app-cover-start .actions {
  position: absolute;
}

#app-cover .app-cover-start img.logo {
  top: 1rem;
  left: 1rem;
  width: 5rem;
}

#app-cover .app-cover-start .actions {
  right: 1rem;
  top: 1rem;
}

#app-cover .app-cover-start .actions a {
  color: #ff0593;
  cursor: pointer;
  float: left;
  padding-left: 1rem;
  font-size: .75rem;
}

#app-cover .app-cover-start .actions a i {
  display: block;
  font-size: 1rem;
  margin-bottom: .5rem;
}

#app-cover .app-cover-start .control-design-cont {
  display: grid;
  grid-gap: 2rem 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: visible;
  position: relative;
  left: -8.5rem;
  margin-top: 2rem;
}

@media (min-width: 660px) {
  #app-cover .app-cover-start .control-design-cont {
    left: 0;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1040px) {
  #app-cover .app-cover-start .control-design-cont {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#app-cover .app-cover-start .control-design-thumb {
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  cursor: pointer;
  margin: 0 auto;
  min-width: 10rem;
  max-width: 12rem;
  padding: 2rem 1rem;
  width: auto;
  /*&:not(:first-child) { display: none; }*/
}

#app-cover .app-cover-start .control-design-thumb.thumb-selected i::before {
  content: "\f192";
}

#app-cover .app-cover-start .control-design-thumb:hover {
  background-color: #f2aed8;
}

#app-cover .app-cover-start .control-design-thumb.thumb-selected {
  background-color: #ff52b4;
}

@media (min-width: 660px) {
  #app-cover .app-cover-start .control-design-thumb:not(:first-child) {
    display: block;
  }
}

#app-cover .app-cover-start .control-design-thumb aside {
  margin-bottom: 1rem;
  overflow: hidden;
}

#app-cover .app-cover-start .control-design-thumb img {
  display: block;
  width: 100%;
}

#app-cover .app-cover-start .next {
  clear: both;
  cursor: pointer;
  margin-top: 1rem;
}

.app-new-start {
  font-size: 1rem;
}

.app-new-start .boton {
  margin: 2rem auto;
}

/*APP COVER*/
/*APP COVER FINISH*/
.app-cover-finish > div > img {
  width: 5rem;
}

.app-cover-finish > div .extra-info {
  display: block;
  margin: 1rem 0;
}

.app-cover-finish h3 {
  color: #787878;
  font-size: 2rem;
}

.app-cover-finish .url .siteName {
  color: #f0f0f0;
  font-size: 2rem;
  margin: 1rem auto;
}

.app-cover-finish #back {
  display: block;
  margin-top: 2rem;
  width: 100%;
}

/*APP COVER FINISH*/
/*PACKAGES*/
.paquetes {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-gap: 2rem 2rem;
  grid-template-columns: 1fr;
}

@media (min-width: 1040px) {
  .paquetes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.app-cover-finish-package {
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  background-color: #9b035a;
  color: white;
  padding: 1rem;
  text-align: center;
  width: auto;
}

@media (min-width: 660px) {
  .app-cover-finish-package {
    display: grid;
    grid-gap: 1rem 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1040px) {
  .app-cover-finish-package {
    display: block;
  }
}

.app-cover-finish-package hr {
  margin: 0 auto;
  width: 10%;
}

.app-cover-finish-package .price {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 2rem;
}

.app-cover-finish-package .price + span {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.app-cover-finish-package ul {
  font-size: 1rem;
  height: 12rem;
  text-align: center;
}

.app-cover-finish-package .finish {
  background: none;
  border-radius: 0;
  cursor: pointer;
  display: block;
  height: 5rem;
  margin-top: 2rem;
  width: 100%;
}

.app-cover-finish-package button.finish {
  padding: 0px 1rem;
  border: 1px solid white;
}

.app-cover-finish-package button.finish i, .app-cover-finish-package button.finish span {
  vertical-align: middle;
}

.app-cover-finish-package button.finish i {
  font-size: 2rem;
}

.app-cover-finish-package button.finish:hover {
  background: white;
  color: #9b035a;
}

/*PACKAGES*/
/*APP CONTROL*/
#app-control {
  display: block;
  height: auto;
  overflow: hidden;
  width: auto;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #f0f0f0;
  color: #3c3c3c;
  pointer-events: auto;
  position: fixed;
  z-index: 103;
}

@media (min-width: 660px) {
  #app-control {
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    bottom: 4rem;
    left: calc((100% - 40rem) / 2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    top: 4rem;
    width: 40rem;
  }
}

#app-control.view {
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  bottom: auto;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
}

#app-control.view #app-control-nav, #app-control.view .app-control-step {
  display: none;
}

/*APP CONTROL*/
/*APP CONTROL STEP*/
.app-control-step {
  background-color: white;
  font-size: 1rem;
  height: calc(100% - 8rem);
  padding: 1rem 2rem;
  overflow-y: auto;
  width: auto;
}

@media (min-width: 1040px) {
  .app-control-step {
    padding: 1rem 4rem;
  }
}

.app-control-step > div {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.app-control-step > div input[type="text"].noIcon, .app-control-step > div select {
  border-color: #f0f0f0;
  border-radius: .5rem;
  border-style: solid;
  box-sizing: border-box;
  margin: 0 0 1rem 0;
  padding: 1rem;
  width: 100%;
}

.app-control-step > div .inp-cont {
  position: relative;
}

.app-control-step > div input[type="text"].noIcon {
  height: auto;
}

.app-control-step > div select {
  margin-bottom: 1rem;
}

.app-control-step h2 {
  color: #787878;
  font-size: 1.5rem;
}

@media (min-width: 660px) {
  .app-control-step h2 {
    font-size: 2rem;
  }
}

.app-control-step aside {
  margin: 1rem auto;
}

.app-control-step [class~=item-control] {
  margin-bottom: 1em;
}

.app-control-step div.item-control h3 {
  font-weight: bold;
  font-size: 1.1em;
}

.app-control-step-finish {
  margin-top: 50%;
  text-align: center;
}

/*APP CONTROL STEP*/
/*CONTAINER INPUT*/
.container-input {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  margin-top: 1rem;
}

.container-input .inputWihIcons {
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  float: left;
  width: calc(100% - 2rem);
}

.container-input textarea {
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #b4b4b4;
  height: 14rem;
  max-width: 38rem;
  width: calc(100% - 4rem);
  padding: 1rem;
  resize: none;
}

.container-input label {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  margin-bottom: .5rem;
}

.container-input p {
  clear: both;
}

.container-input .input-error {
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ff052f;
  display: none;
  margin-bottom: .5rem;
  padding: 1rem;
}

.container-input.container-error .inputWihIcons {
  border-color: #ff052f;
}

.container-input.container-error .input-error {
  display: block;
}

.remove-content {
  display: none;
}

/*CONTAINER INPUT*/
/*TOGGLE*/
.toggle {
  color: #5091ff;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 1rem;
  position: relative;
  top: .25rem;
}

.toggle .fa-toggle-on {
  color: #5091ff;
}

/*TOGGLE*/
/*ACCORDION*/
.accordion h4 {
  border-bottom: 1px solid #b4b4b4;
  color: #787878;
  cursor: pointer;
  padding-bottom: .5rem;
}

.accordion h4::after {
  content: " ↑";
}

.accordion h4.expanded::after {
  content: " ↓";
}

/*ACCORDION*/
/*TOOLTIP*/
.app-control-step-tooltip {
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  display: block;
  height: auto;
  overflow: hidden;
  width: auto;
  background-color: #5091ff;
  color: white;
  cursor: pointer;
  display: inline;
  font-size: .75rem;
  margin-left: .5rem;
  padding: .25rem .5rem;
  position: relative;
  top: .5rem;
}

.app-control-step-tooltip-info {
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #055dff;
  display: none;
  margin-bottom: .5rem;
  padding: 1rem;
}

.app-control-step-tooltip-info.active {
  display: block;
}

/*TOOLTIP*/
/*CONTROL COLOR*/
#inp-color {
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  float: left;
  height: 3rem;
  outline: none;
  width: calc(100% - 2rem);
}

input::-webkit-color-swatch {
  border: none;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
}

#app-control-palettes {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-gap: 1rem 0;
  grid-template-columns: 1fr;
}

.control-color {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-gap: 0 1rem;
  grid-template-columns: 1fr 1fr 0;
  height: 3rem;
}

@media (min-width: 660px) {
  .control-color {
    grid-template-columns: 2fr 1fr 0;
  }
}

.control-color h4 {
  font-weight: normal;
  margin: .5rem 0 0 0;
}

.control-color-thumb {
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  border: 3px solid #b4b4b4;
  cursor: pointer;
  display: block;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: calc(100% - 2px);
}

.control-color-thumb.thumb-selected {
  border-color: #ff52b4;
}

.control-color-thumb-bg {
  display: block;
  float: left;
  height: 6rem;
  overflow: hidden;
}

/*CONTROL COLOR*/
/*CONTROL IMAGES*/
.app-control-images {
  display: block;
  height: auto;
  margin-top: 1rem;
  overflow: visible;
  position: relative;
  width: auto;
}

.app-control-images a {
  text-decoration: underline;
  color: #b4b4b4;
}

[id^="app-control-images"] {
  margin: 1rem auto;
  overflow: auto;
}

.photo-container {
  display: grid;
  height: auto;
  overflow: hidden;
  width: auto;
  grid-template-columns: 1fr;
}

@media (min-width: 1040px) {
  .photo-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: .25rem .25rem;
  }
}

.img-thumb {
  background-color: white;
  cursor: pointer;
  height: 8rem;
  position: relative;
  z-index: 101;
}

@media (min-width: 1040px) {
  .img-thumb {
    height: 12rem;
  }
  .img-thumb:hover .img-thumb-autor {
    display: block;
  }
}

.img-thumb-cont {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem auto;
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
}

#app-control-images-logo .img-thumb-cont {
  background-size: contain;
}

.img-thumb-cont-zoom {
  background-color: white;
  bottom: 0;
  height: 2rem;
  position: absolute;
  right: 0;
  width: 2rem;
  z-index: 2;
}

.img-thumb-cont-zoom i {
  margin: .5rem 0 0 .5rem;
}

.img-thumb-overlay {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  z-index: 1;
}

.img-thumb-autor {
  background: rgba(0, 0, 0, 0.5);
  padding: .5rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

@media (min-width: 1040px) {
  .img-thumb-autor {
    display: none;
  }
}

.img-thumb-autor a {
  color: white;
  font-size: .75rem;
  text-decoration: underline;
}

.thumb-selected {
  z-index: 102;
}

.thumb-selected .img-thumb-overlay {
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
}

.img-thumb.selected .img-thumb-overlay {
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
}

.img-thumb-overlay > span {
  color: black;
  display: block;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1rem;
  text-align: center;
}

.img-thumb-zoomed {
  display: block;
  height: auto;
  overflow: hidden;
  width: 96%;
  margin: 0 auto;
}

/*CONTROL IMAGES*/
/*CONTROL ITEMS*/
#content-item-type {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  margin-bottom: .5rem;
}

#content-item-type label {
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #5091ff;
  float: left;
  height: auto;
  margin-right: .5rem;
  overflow: hidden;
  padding: .5rem;
  width: auto;
}

#content-item-type label input {
  display: none;
}

#content-item-type label.checked {
  background-color: #055dff;
  color: #f0f0f0;
}

.content-item-number {
  font-weight: inherit;
}

.content-item-type {
  font-weight: inherit;
}

.item-control {
  margin-top: 2rem;
}

.number-item-control {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.number-item-control input {
  background-color: white;
  border: none;
  color: #3c3c3c;
  float: left;
  padding: .5rem;
  width: 2rem;
}

.number-item-control button {
  float: left;
}

.number-item-control button.remove-item {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.number-item-control button.add-item {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*CONTROL ITEMS*/
/*NAME CONTROL*/
.inputWihIcons {
  position: relative;
}

.inputWihIcons span {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  left: auto;
  font-size: .5rem;
  right: .5rem;
  top: 1rem;
}

/*NAME CONTROL*/
/*APP CONTROL NAV*/
#app-control-nav {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  position: absolute;
  text-align: center;
}

#app-control-nav #control-view-nav {
  float: left;
  position: relative;
  overflow: hidden;
  width: 100%;
}

#app-control-nav #control-view-nav a.nav-btns {
  bottom: 0;
  margin: .5rem auto;
  position: absolute;
  z-index: 101;
}

#app-control-nav #control-view-nav a.nav-btns.prev {
  left: 1rem;
}

#app-control-nav #control-view-nav a.nav-btns.next {
  right: 1rem;
}

#app-control-nav #control-view-nav a.disabled {
  background-color: #787878;
  cursor: default;
}

#app-control-nav.view #control-view-nav {
  display: none;
}

/*APP CONTROL NAV*/
/*CONTROL VIEW INDEX*/
#control-view-index {
  display: inline-block;
  margin: 1.5rem auto 0 auto;
  overflow: hidden;
  width: auto;
}

#control-view-index + a {
  float: right;
}

.control-view-index-step {
  background-color: #b4b4b4;
  cursor: pointer;
  display: inline-block;
  height: .5rem;
  margin: 1.5rem .5rem .5rem 0;
  overflow: hidden;
  width: .5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.control-view-index-step.current {
  background-color: #ff0593;
}

/*CONTROL VIEW INDEX*/
/*APP SWITCH*/
#app-switch {
  display: block;
  height: auto;
  overflow: hidden;
  width: auto;
  background-color: #ff0593;
  color: white;
  font-size: .75rem;
  padding: .5rem 1rem;
  text-align: right;
}

@media (min-width: 660px) {
  #app-switch {
    font-size: 1rem;
  }
}

#app-switch li {
  display: inline;
}

#app-switch a {
  cursor: pointer;
  margin-left: 1rem;
}

#app-switch a span {
  margin-left: .5rem;
}

#app-switch #switch-edit {
  display: none;
}

#app-switch.view #switch-edit {
  display: inline-block;
}

#app-switch.view #switch-view {
  display: none;
}

/*APP SWITCH*/
.file-upload {
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  border: 1px dashed #b0c7f2;
  display: block;
  margin-top: 1rem;
  overflow: hidden;
  padding: 1rem 0;
}

.file-upload input[type=file] {
  display: none;
}

.file-upload input[type=submit], .file-upload button {
  background-color: #5091ff;
  cursor: pointer;
  font-weight: normal;
  padding: .5rem 1rem;
  text-transform: none;
}

.file-upload input[type=submit]:hover, .file-upload button:hover {
  background-color: #b0c7f2;
}

.file-upload input[type=submit]:disabled, .file-upload button:disabled {
  display: none;
}

.file-upload p {
  margin: 0;
  overflow: hidden;
  padding: 1rem 0;
}

.file-upload p span {
  width: 100%;
  display: inline-block;
  margin-top: 1rem 0;
  color: #787878;
}

@media (min-width: 1040px) {
  .file-upload p span {
    width: 70%;
  }
}

.file-upload button {
  width: auto;
  margin: 1rem auto;
}

.file-upload .error {
  display: block;
  text-align: left;
  margin-bottom: 1rem;
  clear: both;
}

.form-label-note {
  display: block;
  margin-bottom: 1rem;
}

.nav-btns {
  color: #ff0593;
  display: block;
  font-size: 2rem;
  text-align: center;
}

/**/
#single-modal {
  background-color: white;
  bottom: auto;
  display: none;
  height: auto;
  left: 5%;
  overflow: hidden;
  padding: 2rem 0;
  position: fixed;
  right: 5%;
  top: 5%;
  width: 90%;
  z-index: 1004;
}

#single-modal i {
  cursor: pointer;
  height: 2rem;
  padding-top: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  z-index: 101;
}

/**/
/*Modal*/
.ventana-login, .ventana-login p {
  color: #b4b4b4;
  text-align: left;
}

.ventana-login select {
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  padding: .5rem;
  width: 100%;
}

.ventana-login .form-error {
  text-align: left;
}

.map-error, .map-input {
  margin-top: 0px;
  position: relative;
  top: -5px;
}

/*TEMPLATE ACOMMODATIONS*/
body #menu {
  top: 40px;
}

body.init #menu {
  top: 0;
}

/*# sourceMappingURL=styles.css.map */