/*@import "./crea/Templates/scss/_common"; */
/*SIZES*/
/*SIZES*/
/*MIXINS*/
/*MIXINS*/
/*BODY LEVEL*/
@font-face {
  font-family: 'Modern Pics';
  src: url(/crea/Templates/Fonts/modernpics.otf);
}

@font-face {
  font-family: 'Web Symbols';
  src: url(/crea/Templates/Fonts/WebSymbols-Regular.otf);
}

body {
  font-size: 150%;
  margin: 0;
  padding: 0;
}

* {
  list-style-type: none;
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/*BODY LEVEL*/
/*IMAGES CONTROL*/
.img-L {
  background-size: cover;
}

.img-S {
  background-size: cover;
}

.img-P {
  background-size: cover;
}

.img-TL {
  background-position: top left;
}

.img-TC {
  background-position: top center;
}

.img-TR {
  background-position: top right;
}

.img-ML {
  background-position: center left;
}

.img-MC {
  background-position: center center;
}

.img-MR {
  background-position: center right;
}

.img-BL {
  background-position: bottom left;
}

.img-BC {
  background-position: bottom center;
}

.img-BR {
  background-position: bottom right;
}

.img {
  background-color: #e6e5e5;
  background-repeat: no-repeat;
}

/*IMAGES CONTROL*/
/*TEMPLATE LEVEL*/
#template {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

#template a, #template a:link, #template a:visited, #template a:hover, #template a:active {
  color: inherit;
  text-decoration: none;
}

#template main {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.font-icon {
  font-family: 'Modern Pics', cursive;
}

/*TEMPLATE LEVEL*/
/*MAP*/
#map, #map > .wrapper, #map > .wrapper > div {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#map > .wrapper > div > iframe {
  display: block;
  height: 600px;
  overflow: hidden;
  width: 100%;
}

/*MAP*/
/*TEMPLATE LEVEL*/
#template {
  font-family: 'Roboto', sans-serif;
}

#template h1, #template h2, #template h3, #template h4, #template h5, #template h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

#template p, #template ul, #template ol, #template menu, #template li {
  font-size: 1rem;
}

/*TEMPLATE LEVEL*/
/*rgba(40, 55, 75, 1)*/
/*--TEMPLATE COMPONENTS--*/
/*MENU*/
#menu {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  background-color: white;
  padding: .5rem 0;
  position: fixed;
  top: 0;
  z-index: 2;
}

#menu > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: auto;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 1rem;
}

#template #menu.toggle h4 {
  float: left;
  margin-top: .5rem;
}

@media only screen and (min-width: 660px) {
  #template #menu h4 {
    float: left;
  }
}

#menu menu {
  display: block;
  height: auto;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}

#menu.toggle menu {
  clear: both;
  display: none;
  float: right;
  text-align: right;
  width: auto;
}

@media only screen and (min-width: 660px) {
  #menu menu {
    float: right;
    text-align: right;
    width: auto;
  }
}

#menu menu li {
  display: inline-block;
}

#menu.toggle menu li {
  display: block;
}

#menu menu li a {
  display: block;
  font-variant: small-caps;
  padding: .25rem .5rem;
}

#menu-icon {
  cursor: pointer;
  display: none;
  font-family: 'Web Symbols';
}

#menu.toggle #menu-icon {
  display: block;
  float: right;
  font-family: 'Web Symbols';
}

/*MENU*/
/*HERO*/
#hero {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#hero > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#hero .img {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  opacity: .3;
  z-index: 0;
}

#hero .wrapper-content {
  display: block;
  height: auto;
  overflow: hidden;
  width: 80%;
  margin: 16rem auto 12rem auto;
  max-width: 1040px;
  position: relative;
  text-align: left;
  z-index: 1;
}

@media only screen and (min-width: 1040px) {
  #hero .wrapper-content {
    margin: 16rem auto 20rem auto;
  }
}

#template #hero h1 {
  font-size: 2rem;
}

@media only screen and (min-width: 1040px) {
  #template #hero h1 {
    font-size: 3rem;
  }
}

#branding {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#branding > img {
  height: 7rem;
}

@media only screen and (min-width: 1040px) {
  #branding > img {
    height: 9rem;
  }
}

/*HERO*/
/*ITEMS*/
#items {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#items header {
  display: block;
  height: auto;
  overflow: hidden;
  width: 80%;
  max-width: 1040px;
  margin: 2rem auto;
}

#template #items header h2 {
  font-size: 2rem;
}

.items {
  margin: 0 auto;
  max-width: 1040px;
}

@media only screen and (min-width: 1040px) {
  .items {
    display: grid;
  }
  .items.one {
    grid-template-columns: auto;
  }
  .items.two {
    grid-template-columns: 50% 50%;
  }
  .items.three {
    grid-template-columns: 33% 34% 33%;
  }
}

.item {
  display: block;
  height: auto;
  overflow: hidden;
  width: 80%;
  background-color: white;
  margin: 0 auto 1rem auto;
}

@media only screen and (min-width: 1040px) {
  .item {
    margin: 0 auto 2rem auto;
    width: 100%;
  }
}

.item .img {
  display: block;
  height: 10rem;
  overflow: hidden;
  width: 100%;
}

@media only screen and (min-width: 660px) {
  .item .img {
    float: left;
    height: 20rem;
    width: 50%;
  }
}

.item .wrapper-content {
  background-color: #807f7f;
  display: block;
  margin: -4rem auto 2rem auto;
  padding: 1rem 1rem;
  width: 60%;
}

.item .wrapper-content h3 {
  font-size: 1.6rem;
}

@media only screen and (min-width: 660px) {
  .item .wrapper-content {
    float: left;
    margin: 6rem 0 0 -25%;
    padding: 1rem 5%;
    width: 40%;
  }
}

.item .wrapper-content span {
  display: block;
  font-size: 2rem;
}

/*ITEMS*/
/*GALLERY*/
#gallery {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#gallery > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#gallery header {
  display: block;
  height: auto;
  overflow: hidden;
  width: 80%;
  margin: 1rem auto;
  max-width: 1040px;
}

#gallery header h2 {
  font-size: 2rem;
}

.gallery {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.gallery .img {
  display: block;
  height: 30rem;
  overflow: hidden;
}

@media only screen and (min-width: 1280px) {
  .gallery .img {
    height: 40rem;
  }
}

.gallery-nav {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.gallery-nav > a {
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
  padding: .25rem .25rem;
  top: 48%;
  position: absolute;
  user-select: none;
}

.gallery-nav > a.gallery-nav-prev {
  left: 1rem;
  padding-right: .5rem;
}

.gallery-nav > a.gallery-nav-next {
  right: 1rem;
  padding-left: .5rem;
}

/*GALLERY*/
/*ABOUT US*/
#aboutus {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  padding: 2rem 0;
}

#aboutus > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: 80%;
  background-color: white;
  margin: 0 auto;
  max-width: 1040px;
}

#aboutus .img {
  display: block;
  height: 25rem;
  position: relative;
  width: 100%;
  z-index: 0;
}

#aboutus .wrapper-content {
  display: block;
  height: auto;
  overflow: hidden;
  width: 60%;
  background-color: #807f7f;
  margin: -10rem auto 2rem auto;
  padding: 2rem 1rem;
  position: relative;
  z-index: 1;
}

#aboutus .wrapper-content h2 {
  font-size: 2rem;
}

@media only screen and (min-width: 660px) {
  #aboutus .wrapper-content {
    margin: -6rem auto 10rem auto;
  }
}

/*ABOUT US*/
/*MAP*/
/*MAP*/
/*CTA*/
#cta {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#cta > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 1;
}

#cta .img {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  opacity: .3;
}

#cta .wrapper-content {
  display: block;
  height: auto;
  overflow: hidden;
  width: 80%;
  margin: 6rem auto;
  max-width: 1040px;
  padding: 1rem;
  position: relative;
  z-index: 1;
}

/*CTA*/
/*FOOTER*/
#template footer {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  background-color: black;
  background-color: white;
  padding: 2rem 0 1rem 0;
}

#template footer * {
  font-size: .75rem;
}

#tempalte footer header {
  display: block;
  height: auto;
  overflow: hidden;
  width: 80%;
  max-width: 1040px;
  margin: 0 auto;
}

#tempalte footer header h5 {
  font-variant: small-caps;
}

#template footer section {
  display: block;
  height: auto;
  overflow: hidden;
  width: 80%;
  max-width: 1040px;
  margin: 0 auto;
}

#template footer .column {
  margin: 1rem auto 0 auto;
}

@media only screen and (min-width: 660px) {
  #template footer .column {
    float: left;
    margin-left: 4%;
    text-align: left;
    width: 30.6%;
  }
  #template footer section div:first-child {
    margin-left: 0;
  }
}

#template footer .column ul {
  list-style: none;
  margin: 0 auto;
  max-width: 320px;
}

#template footer .column h6 {
  margin: 0 auto;
  max-width: 320px;
}

/*FOOTER*/
/*DISCLAIMER*/
#disclaimer {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  background-color: black;
  background-color: white;
}

#disclaimer p {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  font-size: .5rem;
  margin: 0 auto;
  max-width: 1040px;
  padding: .5rem 0;
}

/*DISCLAIMER*/
/*--TEMPLATE COMPONENTS--*/

/*# sourceMappingURL=styles.css.map */