/*VARIABLES*/
/*VARIABLES*/
/*BODY LEVEL*/
@font-face {
  font-family: 'Modern Pics';
  src: url(/crea/Templates/Fonts/modernpics.otf);
}

body {
  margin: 0;
  padding: 0;
}

/*BODY LEVEL*/
/*IMAGES CONTROL*/
.img-L {
  background-size: cover;
}

.img-S {
  background-size: cover;
}

.img-P {
  background-size: cover;
}

.img-TL {
  background-position: top left;
}

.img-TC {
  background-position: top center;
}

.img-TR {
  background-position: top right;
}

.img-ML {
  background-position: center left;
}

.img-MC {
  background-position: center center;
}

.img-MR {
  background-position: center right;
}

.img-BL {
  background-position: bottom left;
}

.img-BC {
  background-position: bottom center;
}

.img-BR {
  background-position: bottom right;
}

.img {
  background-color: #cccccc;
  background-repeat: no-repeat;
}

/*IMAGES CONTROL*/
/*TEMPLATE LEVEL*/
#template {
  display: block;
  height: auto;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

#template a, #template a:link, #template a:visited, #template a:hover, #template a:active {
  color: inherit;
  text-decoration: none;
}

#template main {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.font-icon {
  font-family: 'Modern Pics', cursive;
}

/*TEMPLATE LEVEL*/
/*MAP*/
#map, #map > .wrapper, #map > .wrapper > div {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#map > .wrapper > div > iframe {
  display: block;
  height: 600px;
  overflow: hidden;
  width: 100%;
}

/*MAP*/
/*TEMPLATE LEVEL*/
#template {
  font-family: 'Roboto', sans-serif;
}

#template h1, #template h2, #template h3, #template h4, #template h5, #template h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 .2em 0;
}

#template h1 {
  font-size: 2em;
}

#template h2 {
  font-size: 1.6em;
}

#template h3 {
  font-size: 1.4em;
}

#template h4 {
  font-size: 1em;
}

#template h5 {
  font-size: 1em;
}

#template h6 {
  font-size: 1em;
}

#template p, #template ul, #template ol, #template menu, #template li {
  font-size: 1em;
}

#template p, #template ul, #template ol {
  margin: 0 0 .4em 0;
}

@media only screen and (min-width: 560px) {
  #template h1 {
    font-size: 4em;
  }
  #template h2 {
    font-size: 3.2em;
  }
  #template h3 {
    font-size: 2.8em;
  }
  #template h4 {
    font-size: 1.4em;
  }
}

/*TEMPLATE LEVEL*/
/*rgba(40, 55, 75, 1)*/
/*--TEMPLATE COMPONENTS--*/
/*MENU*/
#menu {
  background-color: rgba(255, 255, 255, 0.9);
  display: block;
  height: auto;
  padding: .6em 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#menu > .wrapper {
  display: block;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 4%;
  width: auto;
  max-width: 960px;
}

#template #menu h4 {
  color: white;
}

#template.color-orange #menu h4 {
  color: #f0aa00;
}

#template.color-yellow #menu h4 {
  color: #ffe600;
}

#template.color-green #menu h4 {
  color: #4cbe74;
}

#template.color-red #menu h4 {
  color: #ff5c5c;
}

@media only screen and (min-width: 560px) {
  #template #menu h4 {
    float: left;
  }
}

#menu menu {
  display: block;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 80%;
}

@media only screen and (min-width: 560px) {
  #menu menu {
    float: right;
    text-align: right;
    width: auto;
  }
}

#menu menu li {
  display: inline-block;
  list-style-type: none;
}

#menu menu li a {
  display: block;
  font-variant: small-caps;
  padding: .4em .8em;
}

#template.color-orange #menu menu li a:hover, #template.color-orange #menu menu li a:active {
  color: #f0aa00;
}

#template.color-yellow #menu menu li a:hover, #template.color-yellow #menu menu li a:active {
  color: #ffe600;
}

#template.color-green #menu menu li a:hover, #template.color-green #menu menu li a:active {
  color: #4cbe74;
}

#template.color-red #menu menu li a:hover, #template.color-red #menu menu li a:active {
  color: #ff5c5c;
}

/*MENU*/
/*HERO*/
#hero {
  background-color: white;
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#template #hero h1 {
  width: 50%;
  min-width: 760px;
}

#template.color-orange #hero h1 {
  color: #f0aa00;
}

#template.color-yellow #hero h1 {
  color: #ffe600;
}

#template.color-green #hero h1 {
  color: #4cbe74;
}

#template.color-red #hero h1 {
  color: #ff5c5c;
}

#hero > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#hero .img {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  opacity: .3;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

#hero .wrapper-content {
  background-color: transparent;
  display: block;
  height: auto;
  margin: 12em auto 4em auto;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 80%;
  max-width: 960px;
  z-index: 1;
}

@media only screen and (min-width: 560px) {
  #hero .wrapper-content {
    margin: 16em auto 6em auto;
  }
}

.seemore {
  display: inline-block;
  text-align: center;
}

.seemore span {
  display: block;
}

/*HERO*/
/*ITEMS*/
#items {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#items header {
  display: block;
  height: auto;
  overflow: hidden;
  margin: 1em auto;
  text-align: left;
  width: 80%;
  max-width: 800px;
}

#template #items header h2 {
  font-size: 1.4em;
}

.items {
  margin: 0 auto;
  width: auto;
  max-width: 960px;
}

.item {
  display: block;
  height: auto;
  margin: 0 auto 2em auto;
  overflow: hidden;
  width: 80%;
}

#template.color-orange .item h3 {
  color: #f0aa00;
}

#template.color-yellow .item h3 {
  color: #ffe600;
}

#template.color-green .item h3 {
  color: #4cbe74;
}

#template.color-red .item h3 {
  color: #ff5c5c;
}

.item .img {
  display: block;
  height: 200px;
  overflow: hidden;
  width: 100%;
}

@media only screen and (min-width: 560px) {
  .item .img {
    float: left;
    height: 500px;
    width: 50%;
  }
  .item:nth-child(even) .img {
    float: right;
  }
}

.item .wrapper-content {
  display: block;
  margin: 1em 0;
  text-align: left;
  width: 80%;
}

@media only screen and (min-width: 560px) {
  .item .wrapper-content {
    float: right;
    padding: 2em 5%;
    width: 40%;
  }
  .item:nth-child(even) .wrapper-content {
    float: left;
    text-align: right;
  }
}

@media only screen and (min-width: 560px) {
  .item .wrapper-content h3 {
    position: relative;
    left: -50%;
  }
  .item:nth-child(even) .wrapper-content h3 {
    position: relative;
    left: 50%;
  }
}

.item .wrapper-content span {
  display: block;
  font-size: 3em;
}

@media only screen and (min-width: 560px) {
  .item .wrapper-content span {
    left: -30%;
    position: relative;
  }
  .item:nth-child(even) .wrapper-content span {
    left: 30%;
    position: relative;
  }
}

@media only screen and (min-width: 560px) {
  .items {
    display: grid;
  }
  .items.one {
    grid-template-columns: auto;
  }
  .items.two {
    grid-template-columns: auto;
  }
  .items.three {
    grid-template-columns: auto;
  }
}

/*ITEMS*/
/*gallery*/
#gallery {
  display: block;
  height: auto;
  overflow: hidden;
  padding: 4em 0 0 0;
  width: 100%;
}

#gallery > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.gallery {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.gallery .img {
  display: block;
  height: 360px;
  min-width: 360px;
  overflow: hidden;
  width: 100%;
}

@media only screen and (min-width: 560px) {
  .gallery .img {
    float: left;
    min-width: auto;
    width: 50%;
  }
}

@media only screen and (min-width: 960px) {
  .gallery .img {
    width: 33.33%;
  }
}

@media only screen and (min-width: 960px) {
  .gallery .img {
    width: 25%;
  }
}

@media only screen and (min-width: 1280px) {
  .gallery .img {
    width: 20%;
  }
}

@media only screen and (min-width: 1440px) {
  .gallery .img {
    width: 16.66%;
  }
}

/*gallery*/
/*ABOUT US*/
#aboutus {
  color: black;
  display: block;
  padding: 2em 0;
  overflow: hidden;
}

#aboutus > .wrapper {
  background-color: white;
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#template.color-orange #aboutus {
  color: #f0aa00;
}

#template.color-yellow #aboutus {
  color: #ffe600;
}

#template.color-green #aboutus {
  color: #4cbe74;
}

#template.color-red #aboutus {
  color: #ff5c5c;
}

#aboutus .img {
  display: block;
  height: 350px;
  position: relative;
  width: 100%;
  z-index: 0;
}

#aboutus .img.img-L {
  background-size: auto 100%;
}

#aboutus .img.img-S {
  background-size: auto 100%;
}

#aboutus .img.img-P {
  background-size: 100% auto;
}

#aboutus .wrapper-content {
  background-color: white;
  display: block;
  height: auto;
  margin: 0 auto;
  overflow: visible;
  padding: 2em 4% 0 4%;
  position: relative;
  text-align: left;
  width: 92%;
  z-index: 1;
}

#aboutus .wrapper-content h2 {
  left: -20%;
  font-size: 3em;
  position: relative;
}

#aboutus .wrapper-content p {
  color: black;
}

@media only screen and (min-width: 560px) {
  #aboutus {
    height: auto;
    overflow: hidden;
  }
  #aboutus > .wrapper {
    background-color: white;
    display: block;
    height: 500px;
    margin: 0 auto;
    width: 1000px;
  }
  #aboutus .img {
    float: left;
    height: 500px;
    width: 50%;
  }
  #aboutus .wrapper-content {
    float: right;
    height: 420px;
    padding: 80px 4% 0 4%;
    width: 42%;
  }
}

/*ABOUT US*/
/*CTA*/
#cta {
  background-color: #2d3b3f;
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#cta > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

#cta .img {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

#cta .wrapper-content {
  color: #444444;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 1em 0 1em 0;
  position: relative;
  width: 92%;
  max-width: 1086px;
  z-index: 1;
}

#template.color-orange #cta .wrapper-content {
  color: #f0aa00;
}

#template.color-yellow #cta .wrapper-content {
  color: #ffe600;
}

#template.color-green #cta .wrapper-content {
  color: #4cbe74;
}

#template.color-red #cta .wrapper-content {
  color: #ff5c5c;
}

#cta .wrapper-content ul {
  list-style-type: none;
}

@media only screen and (min-width: 560px) {
  #cta .wrapper-content {
    margin: 8em auto 4em auto;
  }
}

/*CTA*/
/*FOOTER*/
#template footer {
  background-color: #444444;
  height: auto;
  display: block;
  overflow: hidden;
  padding: 2em 0 1em 0;
  width: 100%;
}

#template.color-orange footer {
  color: #f0aa00;
}

#template.color-yellow footer {
  color: #ffe600;
}

#template.color-green footer {
  color: #4cbe74;
}

#template.color-red footer {
  color: #ff5c5c;
}

#tempalte footer header {
  margin: 0 auto;
  width: 92%;
  max-width: 1086px;
}

#tempalte footer header h5 {
  font-variant: small-caps;
}

#template footer section {
  display: block;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  width: auto;
}

@media only screen and (min-width: 760px) {
  #template footer section {
    width: 92%;
    max-width: 1280px;
  }
}

#template footer .column {
  margin: 1em auto 0 auto;
  width: auto;
}

@media only screen and (min-width: 760px) {
  #template footer .column {
    float: left;
    margin-left: 4%;
    text-align: left;
    width: 30.6%;
  }
  #template footer section div:first-child {
    margin-left: 0;
  }
}

#template footer .column ul {
  font-size: .8em;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: auto;
  max-width: 240px;
}

#template footer .column h6 {
  margin: 0 auto;
  width: auto;
  max-width: 240px;
}

/*FOOTER*/
/*DISCLAIMER*/
#disclaimer {
  background-color: black;
  color: white;
  display: block;
  height: auto;
  overflow: hiddden;
  width: 100%;
}

#template.color-orange #disclaimer {
  color: #f0aa00;
}

#template.color-yellow #disclaimer {
  color: #ffe600;
}

#template.color-green #disclaimer {
  color: #A4DD00;
}

#template.color-red #disclaimer {
  color: #ff5c5c;
}

#disclaimer p {
  font-size: .8em;
  margin: 0 auto;
  padding: .4em 0;
  width: 16em;
}

@media only screen and (min-width: 760px) {
  #disclaimer p {
    padding: .4em 4%;
    text-align: left;
    width: auto;
  }
}

/*DISCLAIMER*/
/*--TEMPLATE COMPONENTS--*/

/*# sourceMappingURL=styles.css.map */