@import "./crea/Templates/scss/_common"; 
/*TEMPLATE LEVEL*/
#template {
	font-family: 'Roboto', sans-serif; 
}
#template h1, #template h2, #template h3, #template h4, #template h5, #template h6 {
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 .2em 0; 
}
#template h1 {
	font-size: 2em;
}
#template h2 {
	font-size: 1.6em;
}
#template h3 {
	font-size: 1.4em;
}
#template h4 {
	font-size: 1em;
}
#template h5 { 
	font-size: 1em;
}
#template h6 {
	font-size: 1em;
}
#template p, #template ul, #template ol, #template menu, #template li {
	font-size: 1em;
}
#template p, #template ul, #template ol {
	margin: 0 0 .4em 0;
}
@media only screen and (min-width: 560px) {
	#template h1 { font-size: 4em; }
	#template h2 { font-size: 3.2em; }
	#template h3 { font-size: 2.8em; }
	#template h4 { font-size: 1.4em; }
}
/*TEMPLATE LEVEL*/
/*rgba(40, 55, 75, 1)*/
/*--TEMPLATE COMPONENTS--*/ 
/*MENU*/
#menu {
	@include box_block();
	background-color: rgba(255,255,255,.9);
	padding: .6em 0;
	position: fixed;
	top: 0;
	z-index: 2;
}
#menu>.wrapper {
	display: block;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 4%;
	width: auto; max-width: 960px;
}
#template #menu h4 {
	color: rgba(255, 255, 255, 1);
}
#template #menu.toggle h4 {
	float: left;
}
@media only screen and (min-width: $width_xxs) {
	#template #menu h4 {
		float: left;
	}
}
#menu menu {
	display: block;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 80%;
}
#menu.toggle menu {
	clear: both;
	display: none;
	float: right;
	text-align: right;
	width: auto;	
}
@media only screen and (min-width: $width_xxs) {
	#menu menu {
		float: right;
		text-align: right;
		width: auto;
	}
}
#menu menu li {
	display: inline-block;
	list-style-type: none;
}
#menu.toggle menu li {
	display: block;
}
#menu menu li a {
	display: block;
	font-variant: small-caps;
	padding: .4em .8em;
}
#menu-icon {
	cursor: pointer;
	display: none;
	font-family: 'Web Symbols';
}
#menu.toggle #menu-icon {
	display: block;
	float: right;
	font-family: 'Web Symbols';
}
/*MENU*/
/*HERO*/
#hero {
	@include box_block();
	background-color: rgba(255, 255, 255, 1);
}
#template #hero h1 {
	width: 50%; min-width: 760px;
}
#hero>.wrapper {
	@include box_block();
	position: relative;
}
#hero .img {
	@include box_block();
	bottom: 0;
	left: 0;
	opacity: .3;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;    
}
#hero .wrapper-content {
	background-color: transparent;
	display: block; 
	height: auto;
	margin: 12em auto 4em auto;
	overflow: hidden;
	position: relative;
	text-align: left;
	width: 80%; max-width: 960px;
	z-index: 1;
}
@media only screen and (min-width: $width_xxs) {
	#hero .wrapper-content {
		margin: 16em auto 6em auto;
	}
}
.seemore {
	display: inline-block;
	text-align: center;
	display: none;
}
.seemore span {
	display: block;
}
#branding {
	display: block;
	height: 5em;
	overflow: hidden;
	width: 100%;
}
#branding>img {
	display: block;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	width: auto;
	max-height: 100px;
}
/*HERO*/
/*ITEMS*/
#items {
	@include box_block();
}
#items header {
	display: block;
	height: auto;
	overflow: hidden;
	margin: 1em auto;
	text-align: center;
	width: 80%; max-width: 800px; 
}
#template #items header h2 {
	font-size: 1.4em;
}
.items {
	margin: 0 auto;
	width: auto; max-width: 960px;
}
.item {
	display: block;
	height: auto;
	margin: 0 auto 2em auto;
	overflow: hidden;
	width: 80%; 
}
.item .img {
	display: block;
	height: 200px;
	overflow: hidden;
	width: 100%; 
}
@media only screen and (min-width: $width_xxs) {
	.item .img {
		float: left;
		height: 500px;
		width: 50%; 
	}
	.item:nth-child(even) .img {
		float: right;
	}
}
.item .wrapper-content {
	display: block;
	margin: 1em 0;
	text-align: left;
	width: 80%;

	h3{
		text-align: center;
	}
}
@media only screen and (min-width: $width_xxs) {
	.item .wrapper-content {
		float: right;
		padding: 2em 5%;
		width: 40%;
	}
	.item:nth-child(even) .wrapper-content {
		float: left;
		text-align: right;
	}
}
@media only screen and (min-width: $width_xxs) {
	.item .wrapper-content h3 {
		position: relative;
		left: -50%;
	}
	.item:nth-child(even) .wrapper-content h3 {
		position: relative;
		left: 50%;
	}
}	
.item .wrapper-content span {
	display: block;
	font-size: 3em;
}
@media only screen and (min-width: $width_xxs) {
	.item .wrapper-content span {
		left: -30%;
		position: relative;
	}
	.item:nth-child(even) .wrapper-content span {
		left: 30%;
		position: relative;
	}
}	
@media only screen and (min-width: $width_xxs) {
	.items {
		display: grid;
	}
	.items.one { grid-template-columns: auto; }
	.items.two { grid-template-columns: auto; }
	.items.three { grid-template-columns: auto; }
}
/*ITEMS*/
/*gallery*/
#gallery {
	@include box_block();
	padding: 4em 0 0 0;
}
#gallery>.wrapper {
	@include box_block();
}
.gallery {
	@include box_block();
	margin: 0 auto;
	position: relative;
	margin-bottom: 20px;
}
.gallery .img {
	display: block;
	height: 620px;
	min-width: 360px; 
	overflow: hidden;
	width: 100%; 
}
@media only screen and (min-width: $width_xs) {
	.gallery {
		width: 96%;
	}
	.gallery .img {
		float: left; 
		margin: 0 2% 1em 2%;
		width: 46%; 
	}
	.gallery.gallery_slider .img {
		display: block; 
		margin: 0 2% 1em 2%;
		width: 96%; 
	}
}
.gallery-nav {
	@include box_block();
	bottom: 0;
	left: 0;	
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.gallery-nav>a {
	background-color: white;
    border-radius: 1em;
    cursor: pointer;
    font-size: 2em;
    padding: .20em .35em;
    top: 48%;
    position: absolute;
	user-select: none;
}
.gallery-nav-prev { left: 5%; }
.gallery-nav-next { right: 5%; }
/*gallery*/
/*ABOUT US*/
#aboutus {
	color: rgba(0,0,0,1);
	display: block;
	padding: 2em 0;
	overflow: hidden; 
}
#aboutus>.wrapper {
	@include box_block();
	background-color: rgba(255,255,255,1);
}
#aboutus .img {
	display: block; 
	height: 350px;
	position: relative;
	width: 100%;
	z-index: 0;
}
#aboutus .img.img-L {
	background-size: auto 100%;
}
#aboutus .img.img-S {
	background-size: auto 100%;
}
#aboutus .img.img-P {
	background-size: 100% auto;
}
#aboutus .wrapper-content {
	background-color: rgba(255,255,255,1);
	display: block;
	height: auto;
	margin: 0 auto;
	overflow: visible;
	padding: 2em 4% 0 4%;
	position: relative;
	text-align: left;
	width: 92%; 
	z-index: 1;
}
#aboutus .wrapper-content h2 {
	left: -20%;
	font-size: 3em;
	position: relative;
}
#aboutus .wrapper-content p {
	color: rgba(0, 0, 0, 1);
}
@media only screen and (min-width: $width_xxs) {
	#aboutus {
		height: auto;
		overflow: hidden;
	}
	#aboutus>.wrapper {
		background-color: rgba(255,255,255,1);
		display: block;
		height: 500px;
		margin: 0 auto;
		width: 1000px;
	}
	#aboutus .img {
		float: left;
		height: 500px;
		width: 50%;
	}
	#aboutus .wrapper-content {
		float: right;
		height: 420px;
		padding: 80px 4% 0 4%;
		width: 42%;
	}
}
/*ABOUT US*/
/*CTA*/
#cta {
	@include box_block();
	background-color: rgba(45, 59, 63, 1);
}
#cta>.wrapper {
	@include box_block();
	position: relative;
	z-index: 1;
}
#cta .img {
	@include box_block();
	bottom: 0;
	left: 0; 
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
	opacity: .3;
}
#cta .wrapper-content {
	color: rgba(68, 68, 68, 1);
	display: block;
	height: auto;
	margin: 0 auto;
	padding: 1em 0 1em 0;
	position: relative;
	width: 92%; max-width: 1086px; 
	z-index: 1;
}
#cta .wrapper-content ul {
	list-style-type: none;
}
@media only screen and (min-width: $width_xxs) {
	#cta .wrapper-content {
		margin: 8em auto 4em auto;
		
	}
}
/*CTA*/
/*FOOTER*/
#template footer {
	@include box_block();
	background-color: rgba(68, 68, 68, 1);
	padding: 2em 0 1em 0;
}
#tempalte footer header {
	margin: 0 auto;
	width: 92%; max-width: 1086px;
}
#tempalte footer header h5 {
	font-variant: small-caps;
}
#template footer section {
	@include box_block();
	margin: 0 auto;
}
@media only screen and (min-width: $width_xs) {
	#template footer section {
		width: 92%; max-width: 1280px;
	}	
}
#template footer .column {
	margin: 1em auto 0 auto;
	width: auto;
}
@media only screen and (min-width: $width_xs) {
	#template footer .column {
		float: left;
		margin-left: 4%;
		text-align: left;
		width: 30.6%;
	}	
	#template footer section div:first-child {
		margin-left: 0;
	}	
}
#template footer .column ul {
	font-size: .8em;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: auto; max-width: 240px;
}
#template footer .column h6 {
	margin: 0 auto;
	width: auto; max-width: 240px;
}
/*FOOTER*/
/*DISCLAIMER*/
#disclaimer {
	@include box_block();
	background-color: rgba(0,0,0,1);
	color: rgba(255, 255, 255, 1);
}
#disclaimer p {
	font-size: .8em;
	margin: 0 auto;
	padding: .4em 0;
	width: 16em;
}
@media only screen and (min-width: $width_xs) {
	#disclaimer p {
		padding: .4em 4%;
		text-align: left;
		width: auto;
	}
}
/*DISCLAIMER*/
/*--TEMPLATE COMPONENTS--*/