@import '../../scss/base/_variables';
/*@import '../../scss/base/_colors';*/
/*SHADES OF GRAY*/
$white: rgba(255,255,255,1);
$gray20: rgba(60,60,60,1);
$gray40: rgba(120,120,120,1);
$gray60: rgba(180,180,180,1);
$gray80: rgba(240,240,240,1);
$black: rgba(0,0,0,1);
/*RED*/
$red40 : rgba(179,0,30,1);
$red60 : rgba(255,5,47,1);
/*ORANGE*/
$orange40 : rgba(204,60,24,1);
$orange60 : rgba(255,76,31,1);
$orange80 : rgba(255,106,69,1);
/*PINK*/
$pink20 : rgba(102,10,63,1);
$pink40 : rgba(155,3,90,1);
$pink60 :rgba(255,5,147,1);
$pink80 : rgba(255,82,180,1);
$pink100 : rgba(242,174,216,1);
/*BLUE*/
$blue20 : rgba(15,22,38,1);
$blue40 : rgba(23,33,51,1);
$blue60 : rgba(5,93,255,1);
$blue80 : rgba(80,145,255,1);
$blue100 : rgba(176,199,242,1);
/*YELLOW*/
$yellow40 : rgba(204,181,24,1);
$yellow60 : rgba(255,226,31,1);
$yellow80 : rgba(255,250,69,1);
/*GREEN*/
$green40 : rgba(8,179,0,1);
$green60 : rgba(17,255,5,1);
/*PURPLE*/
$purple60 : rgba(178,5,255,1);
/*@import '../../scss/mixins/_border-radius';*/
@mixin border-radius($radius) {
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius; 
}
/*@import '../../scss/mixins/_background-color-gradient-blue';*/
@mixin background-color-gradient-blue {
	background: -webkit-radial-gradient(center, ellipse cover, $blue60 0%, $blue40 100%);
	background-color: $blue20;
}
@import '../../scss/components/_stars';

/*@import '../../scss/components/_buttons';*/
 /*Botones*/
 button,
 .boton,
 a.boton,
 a.boton:visited
 a.boton:link,
 input[type='button'],
 a.cta,
 a.cta:visited,
 a.cta:link, 
 input.cta {
	@include border-radius(.25rem);
	background-color: $pink60;
	border: none;
	color: $white;
	cursor: pointer;
	display: block;
	font-weight: bold;
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: .5rem;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
	width: auto;
	&:hover, &:active {
		background-color: $pink80;
	}
}
/*@import '../../scss/components/_modal';*/
#modal-overlay {
	background-color: $gray20;
    bottom: 0;
    display: block;
    left: 0;
    height: auto;
    opacity: .3;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
}
#modal {
    background-color: $gray80;
    bottom: 0;
    color: $gray20;
    display: block;
    left: 0;
    height: auto;
    /*opacity: .3;*/
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
	z-index: 4;
	
	p {
		margin-bottom: 20px
	}

}
@media screen and (min-width: $tablet) {
    #modal {
        @include border-radius(.25rem);
        bottom: 2rem;
        left: 2rem;
        right: 2rem;
        top: 2rem;
        width: auto;
	}
	#modal.modal-narrow {
		left: 8rem;
        right: 8rem;
    }
}
@media screen and (min-width: $ext-desktop) {
    #modal {
        left: 8rem;
        right: 8rem;
	}
	#modal.modal-narrow {
		left: 16rem;
        right: 16rem;
    }
}
@media screen and (min-width: $ext-ext-desktop) {
    #modal {
        left: 12rem;
        right: 12rem;
	}
	#modal.modal-narrow {
		left: 20rem;
        right: 20rem;
    }
}
.dialog {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    overflow: auto;
    right: 0;
    top: 0;
    padding: 1rem;
    text-align: center;
    width: auto;
}
@media screen and (min-width: $tablet) { .dialog { padding: 2rem; } }
.dialog nav {
    display: block;
    margin-top: 1rem;
    overflow: hidden;
}
.dialog {
    button, .boton {
        display: block;
        margin-top: .5rem;
        width: auto;
    }
    button {
        width: 100%;
    }
}
@media screen and (min-width: $tablet) {
    .dialog {
        button, .boton {
            display: inline-block;
            margin: 0;
            width: auto;
        }
        button { margin: 0 .25rem; }
    }   
}
.dialog h3 {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}
@media screen and (min-width: $tablet) {
    .dialog h3 {
        font-size: 1.25rem;
        line-height: 2rem;
    }
}
.dialog-error {
    @include border-radius(.25rem);
    background-color: $white;
    border: 1px solid $pink60;
	font-size: .5rem;
	margin-bottom: .5rem;
    padding: .5rem;
}
#modal .logo {
	display: block;
	height: auto;
	margin: 2rem auto 0 auto;
	width: 6rem; max-width: 50%;
}
.x-close{
	color: $gray60;
	cursor: pointer;
	font-size: 1rem;
	position: absolute;
	right: 1rem;
	top: 1rem;
	&:hover{
		color: $gray20;
	}
}
.inputWihIcons{
    background-color: $gray80;
    border: 1px solid $gray60;
    border-radius: .25rem;
    margin-bottom: .5rem;
    overflow: hidden;
    *{
        box-sizing: border-box;
    }
    [type="text"],
    [type="email"],
    [type="password"]{
		background-color: $white;
		color: $gray20;
        border: none;
        float: left;
        height: 2.5rem;
        padding: .5rem;
        outline: none;
        width: calc(100% - 2.5rem);
    }
    i{
        border-right: 1px solid $gray60;
        color: $pink100;
        display: block;
        float: left;
        font-size: 1rem;
        height: 2.5rem;
        line-height: 1.25rem;
        padding: .5rem;
        text-align: center;
        width: 2.5rem;
    }
}
#dialog-project-switcher {
    select {
        @include border-radius(.25rem);
        padding: .5rem;
        width: 100%;
    }
}
/*ELEMENTS*/
html { font-size: 150%; }
body {
	background-color: $blue20;
	color: $gray80;
	font-family: 'Open Sans', sans-serif;
	font-size: .75rem;
	line-height: 1rem;
	margin: 0;
	padding: 0;
}
div, ul, ol, nav, p {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	color: $gray80;
	text-decoration: none;
	transition: color 0.3s ease;
	&:link, &:visited {
		color: $gray60;
	}
	&:hover, &:active {
		color: $white;
	}
}
.container {
	display: block;
	height: auto;
	margin: 0 1rem;
	overflow: hidden;
	position: relative;
	width: auto;
	z-index: 2;
}
@media screen and (min-width: $desktop) { .container {
	margin: 0 2rem;
}}
.graph {
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	position: absolute;
}
/*HEADER*/
header {
	background: $blue20;
	display: block;
	height: 1rem;
	overflow: visible;
	padding: .5rem 0;
	position: fixed;
	width: 100%;
	z-index: 3;
}
@media screen and (min-width: $desktop) { header {
	height: 2rem;
	padding: .5rem 0 0 0;
}}
#branding {
	background: $blue20;
	float: left;
	height: auto;
	overflow: hidden;
	padding-left: 1rem;
	position: relative;
	z-index: 5;
	img {
		display: block;
		height: 1rem;
		width: auto;
	}
}
@media screen and (min-width: $desktop) { #branding {
	padding-left: 2rem;
	img {
		height: 1.5rem;
	}
}} 
#menuToggle {
	-webkit-user-select: none;
	display: block;
	overflow: visible;
	position: fixed;
	user-select: none;
	top: .5rem;
	width: 100%;
	z-index: 3;
	input {
		-webkit-touch-callout: none;
		cursor: pointer;
		display: block;
		height: 1rem;
		opacity: 0;
		position: absolute;
		right: 1rem;
		width: 1rem;
		z-index: 5;
	}
	span {
		@include border-radius(.125rem);
		background-color: $white;
		display: block;
		height: .125rem;
		position: absolute;
		right: 1rem;
		top: .25rem;
		transform-origin: 0 0;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
					background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
					opacity 0.55s ease;
		width: 1rem;
		z-index: 4;
		&:nth-last-child(2) {
			top: .5rem;
			transform-origin: 0% 100%;
		}
		&:nth-last-child(3) {
			top: .75rem;
		}
	}
	input:checked ~ span {
		opacity: 1;
		transform: rotate(45deg) translate(0, -.125rem);
		&:nth-last-child(2) {
			transform: rotate(-45deg) translate(-.125rem, .325rem);
		}
		&:nth-last-child(3) {
			opacity: 0;
			transform: rotate(0deg) scale(0.2, 0.2);
		}
		
	}
}
@media screen and (min-width: $desktop) { #menuToggle {
	input, span {
		display: none;
	}
}} 
#menu {
	-webkit-font-smoothing: antialiased;
	background: $blue20;
	display: block;
	margin-top: -2rem;
	left: 0;
	padding: 0 1rem .5rem 1rem;
	position: absolute;
	right: 0;
	transform: translate(0, -100%);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
	width: auto;
	li {
		padding: .25rem 0;
	}
}
#menuToggle input:checked ~ #menu {
	transform: translate(0, 3.5rem);
}
@media screen and (min-width: $desktop) { #menu {
	float: right;	
	margin: .5rem 0 0 0;
	padding: 0 2rem;
	position: static;
	transform: none;
	transform-origin: none;
	transition: none;
	width: auto;	
	li {
		float: left;
		padding: 0 0 0 1rem;	
	}
}}
/*EO HEADER*/
/*MAIN*/
main {
	padding-top: 2rem;
}
/*HERO*/
#hero {
	@include background-color-gradient-blue;
	display: block;
	height: auto;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;

	.botones-intro {
		margin-bottom: 5rem;

		a {
			margin: .5rem auto .5rem auto;
			max-width: 18rem;
			width: 10rem;
			display: inline-block;
			color: white;

			&:first-child {
				margin-right: 5px;
			}
		}
	}

}
@media screen and (min-width: $ext-desktop) { #hero {
	.botones-intro {
		margin-bottom: 10rem;
	}
}}
#graph-rocket {
	display: block;
	height: 5rem;
	margin: 6rem auto 0 auto;
	width: auto;
}
@media screen and (min-width: $ext-desktop) { #hero {
	#graph-rocket {
		margin-top: 10rem;
	}
}}
#hero h1 {
	font-size: 1.5rem;
	line-height: 2rem;
	margin: 0;
}
#hero h2 {
	font-size: .75rem;
	line-height: 1rem;
	margin: 0;
}
#gr_alien_side {
	background-size: contain;
	bottom: 2rem;
	height: 2rem;
	left: 0;
	width: 3rem;
}
#gr_moon {
	background-size: contain;
	height: 3rem;
	right: 1rem;
	top: 3rem;
	width: 3rem;
}
@media screen and (min-width: $desktop) { #gr_moon {
	right: 2rem;
}}
#gr_planet_ring {
	background-size: contain;
	height: 2rem;
	left: 2rem;
	top: 12rem;
	width: 2rem;
}
/*STEPS*/
#steps {
	background-color: $gray80;
	color: $gray20;
    text-align: center;
}
#list-steps {
	margin: 4rem auto 3rem auto;
	width: auto;
	li {
		display: block;
		margin: 5rem auto;
		max-width: 18rem;
	}
	img {
		display: block;	
		margin: 0 auto;
		width: 6rem;
	}
	span {
		color: $black;
		display: block;
		margin: 1rem auto .5rem auto;
		width: auto;
	}
	a {
		text-decoration: underline;
	}
	a:hover {
		color: inherit;
	}
}
@media screen and (min-width: $tablet) { #list-steps {
	display: grid;
	grid-template-columns: 48% 48%;
	grid-template-rows: auto auto;
	grid-column-gap: 4%;
	grid-row-gap: 2rem;
	margin: 2rem auto;
	li {
		margin: 0 auto;
	}
}}
@media screen and (min-width: $desktop) { #list-steps {
	grid-template-columns: 22% 22% 22% 22%;
	grid-template-rows: auto;
	grid-column-gap: 4%;
}}
/*SERVICES*/
#services {
	background-color: $blue100;
	color: $gray20;
}
#list-services {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-column-gap: 0;
	grid-row-gap: 1rem;
	margin: 1rem auto;
	> li {
		@include border-radius(0.25rem);
		background-color: $white;
		display: block;
		height: auto;
		overflow: hidden;
		position: relative;
		width: 100%;
		> {
			img {
				float: left;
				height: auto;
				width: 100%;
			}
			h3 {
				color: $black;
				float: left;
				margin: 2rem 1rem 0 1rem;
				width: auto;
			}
			p {
				float: left;
				margin: .5rem 1rem 2rem 1rem;
				width: auto;
			}
		}
	}
}
@media screen and (min-width: $tablet) { #list-services {
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
}}
@media screen and (min-width: $desktop) { #list-services {
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	margin: 2rem auto;
	> li {
		> {
			h3 {
				float: left;
				margin: 1rem 0 0 1rem;
				width: 40%;
			}
			img {
				float: left;
				height: auto;		
				width: 40%;
			}
			p {
				margin-bottom: .5rem;		
				width: 45%;
			}
		}
	}
}}
@media screen and (min-width: $ext-desktop) { #list-services {
	grid-template-columns: auto auto auto;
}}
/*SUBSCRIBE*/
#subscribe {
	@include background-color-gradient-blue;
	display: block;
	height: auto;
	overflow: hidden;
	padding: 10rem 0 5rem 0;
	position: relative;
	text-align: center;
	width: 100%;
	input[type='email'] {
		@include border-radius(.25rem);
		border: none;
		display: block;
		margin: 0 auto .5rem auto;
		padding: 0.25rem 0.5rem;
		/*vertical-align: bottom;*/
		width: 10rem;
	}
	input.cta {
		margin: 0 auto;
		width: 11rem;
	}
	p {
		clear: both;
		margin: 1rem auto 0 auto;
		max-width: 18rem;
	}
}
@media screen and (min-width: $tablet) { #subscribe {
	input[type='email'] {
		width: 17rem;
	}
	input.cta {
		width: 18rem;
	}
}}
@media screen and (min-width: $desktop) { #subscribe {
	padding: 4rem 0 2rem 0;
	input[type='email'] {
		display: inline-block;
		margin: 0;
		padding: .5rem 1rem;
	}
	input.cta {
		display: inline-block;
		width: auto;
	}
}}
#gr_ship {
	background-size: contain;
	height: 3rem;
	right: 2rem;
	top: 8rem;
	transform: rotate(30deg);
	width: 3rem;
	z-index: 2;
}
/*EO MAIN*/
/*FOOTER*/
footer {
	padding: 1rem 0 0 0;
	h6 {
		margin: 0 0 1rem 0;
		text-transform: uppercase;
	}
	nav {
		margin-bottom: 1rem;
		li {
			margin-bottom: 0.5rem;
			padding-bottom: 0.5rem;
			font-size: .5rem;
			border-bottom: 1px solid $gray40;
		}
	}
}
@media screen and (min-width: $desktop) { footer {
	h6 {
		margin: 0;
	}
	nav {
		float: left;
		margin: 0 2rem 0 0;
		overflow: hidden;
		padding: 0;
		width: 24%;
		&:nth-child(2) {
			width: 48%;
		}
		li {
			margin: 0;
			padding: 0;
			border-bottom: none;
		}
	}
}}
#social {
	font-size: .5rem;
	margin-bottom: .5rem;
	img, span {
		display: block;
	}
	span {
		position: relative;
		text-align: center;
	}
	img{
		margin: 0 auto;
		width: 1rem;
	}
}

@media screen and (min-width: $desktop) { 
	#social {
		clear: both;
		float: left;
		margin: .5rem auto 1rem auto;
		width: auto;
		img,span{
			display: inline;
		}
		img {
			position: relative;
			top: .125rem;
			width: .5rem;
		}
	}
}
#copyright {
	background-color: $gray20;
	clear: both;
	color: $gray60;
	font-size: 0.5rem;
	padding: .5rem 0;
	text-align: center;
}
/*MODAL*/
/*
.ventana-login {
	@include login-paginas;
	@extend .modal-login;
}
*/
.right { float: right; }
.left { float: left; }
/*PRIVACY POLICY*/
main.legal {
	background-color: #FFFFFF;
}
#politica {
	background-color: $white;
	color: $gray20;
	padding: 2rem 1rem;
}
#politica p {
	margin-bottom: 1rem;
}
#politica a {
	color: $blue40;
	text-decoration: none;
	transition: color 0.3s ease;
	&:link, &:visited {
		color: $blue60;
	}
	&:hover, &:active {
		color: $pink20;
	}
}
@media screen and (min-width: $desktop) {
	#politica {
		margin: 0 auto;
		max-width: $tablet;
		padding: 2rem 2rem;
		
	}	
}
#politica ul {
	list-style-type: disc;
	margin: .5rem 0 .5rem 2rem;
}