/*@import '../../node_modules/normalize-scss/sass/normalize/import-now';
@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import '../../scss/base/_variables';
@import '../../scss/base/_colors';
@import '../../scss/mixins/_border-radius';
@import '../../scss/components/_stars';
@import '../../scss/components/_buttons';
@import '../../scss/components/_modal';
@import '../../scss/components/_inputFields';
@import '../../scss/components/login-paginas';
@import '../../scss/partials/_errors';*/
/**/
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
ul, ol, nav {
	list-style-type: none;
	padding: 0;
}
a {
	color: #727a82;
	text-decoration: none;
	transition: color 0.3s ease;
	&:link, &:visited {
		color: #727a82;
	}
	&:hover, &:active {
		color: #ffffff;
	}
}
.container {
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 1440px;
	overflow: hidden;
	position: relative;
	width: 80%;
	z-index: 2;
}
a.cta, input.cta {
	background-color: #cc2880;
	border: none;
	border-radius: 0.6rem;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.3rem;
	font-weight: bold;
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 1rem 1.8rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: auto;
}
@media screen and (min-width: 1040px) { a.cta, input.cta {
	border-radius: 0.3rem;
	font-size: 1rem;
	padding: 0.8rem 1.8rem;
}}
.graph {
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	position: absolute;
}
/*HEADER*/
header {
	background: #232d3a;
	display: block;
	height: 4rem;
	overflow: visible;
	padding: 2rem 0;
	position: fixed;
	width: 100%;
	z-index: 3;
}
@media screen and (min-width: 768px) { header {
	height: 4rem;
	padding: 1rem 0;
}}
@media screen and (min-width: 1040px) { header {
	height: 3rem;
	padding: 1rem 0;
}}
#branding {
	background: #232d3a;
	float: left;
	height: auto;
	overflow: hidden;
	padding-left: 5%;
	position: relative;
	z-index: 5;
	img {
		display: block;
		height: 3rem;
		width: auto;
	}
}
@media screen and (min-width: 768px) { #branding img {
	height: 3rem;
}}
@media screen and (min-width: 1040px) { #branding {
	padding-left: 5%;
	img {
		height: 3rem;
	}
}} 
#menuToggle {
	-webkit-user-select: none;
	display: block;
	overflow: visible;
	position: fixed;
	user-select: none;
	top: 2rem;
	width: 100%;
	z-index: 400;
	input {
		-webkit-touch-callout: none;
		cursor: pointer;
		display: block;
		height: 5rem;
		opacity: 0;
		position: absolute;
		right: 5%;
		width: 4rem;
		z-index: 5;
	}
	span {
		background: #fff;
		border-radius: 0.2rem;
		display: block;
		height: 0.2rem;
		left: 80%;
		margin-bottom: 0.8rem;
		position: relative;
		top: 1rem;
		transform-origin: 0 0;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
					background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
					opacity 0.55s ease;
		width: 3rem;
		z-index: 4;
		&:first-child {
			transform-origin: 0% 0%;
		}
		&:nth-last-child(2) {
			transform-origin: 0% 100%;
		}
	}
	input:checked ~ span {
		opacity: 1;
		transform: rotate(45deg) 
					translate(-2px, -1px);
		&:nth-last-child(3) {
			opacity: 0;
			transform: rotate(0deg) 
						scale(0.2, 0.2);
		}
		&:nth-last-child(2) {
			transform: rotate(-45deg) 
						translate(0, -1px);
		}
	}
}
@media screen and (min-width: 768px) { #menuToggle {
	input {
		width: 5%;
		height: 3rem;
	}
	span {
		top: 1rem;
	}
}}
@media screen and (min-width: 1040px) { #menuToggle {
	input, span {
		display: none;
	}
}} 
#menu {
	-webkit-font-smoothing: antialiased;
	background: #232d3a;
	margin-top: -5rem;
	padding: 9rem 5% 2em 5%;
	position: absolute;
	transform-origin: 0% 0%;
	transform: translate(0, -100%);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
	width: 90%;
	li {
		padding: 1rem 0;
		font-size: 1.5rem;
		a {
			color: #ffffff;
		}
	}
}
@media screen and (min-width: 768px) { #menu {
	padding: 7rem 5% 2em 5%;
	li {
		font-size: 1.6rem;
		padding: 0.6rem 0;
	}
}}
@media screen and (min-width: 1040px) { #menu {
	float: right;	
	margin: 0;
	padding: 0 5% 0 5%;
	position: static;
	transform: none;
	transform-origin: none;
	transition: none;
	width: auto;	
	li {
		float: left;	
		font-size: 1rem;
		padding: 0 1rem;	
	}
}}
#menuToggle input:checked ~ #menu {
	transform: none;
}
/*EO HEADER*/
/*MAIN*/
main {
	padding-top: 8rem;
}
@media screen and (min-width: 768px) { main {
	padding-top: 6rem;
}}
@media screen and (min-width: 1040px) { main {
	padding-top: 5rem;
}}
/**/
#hero {
	background: -webkit-radial-gradient(center, ellipse cover, #283655 0%, #172133 100%);
	background-color: #242e3d;
	color: #ffffff;
	display: block;
	height: auto;
	padding: 11rem 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
	a.cta {
		margin-top: 20px;
	}
}
@media screen and (min-width: 1040px) { #hero {
	padding: 10rem 0;
}}
#graph-rocket {
	display: block;
	margin: 0 auto;
	width: 8rem;
}
#hero h1 {
	font-size: 2rem;
	font-weight: normal;
	margin-bottom: 0;
}
#gr_alien_side {
	background-size: contain;
	height: 15%;
	left: 0;
	top: 85%;
	width: 15%;
}
#gr_moon {
	background-size: contain;
	height: 12%;
	left: 70%;
	top: 5%;
	width: 12%;
}
#gr_planet_ring {
	background-size: contain;
	height: 10%;
	left: 5%;
	top: 30%;
	width: 10%;
}
#steps {
	background-color: #ffffff;
	color: #555;
    font-size: 1.2rem;
	line-height: 1.5rem;
	padding: 2rem 0;
	text-align: center;
}
@media screen and (min-width: 1040px) { #steps {
	padding: 6rem 0;
}}
#list-steps {
	li {
		display: block;
		margin: 8rem auto;
	}
	img {
		display: block;	
		margin: 0 auto;
		width: 10rem;
	}
	span {
		color: #000000;
		display: block;
		font-weight: bold;
		margin: 1rem auto;
		width: auto;
	}
	a {
		text-decoration: underline;
	}
	a:hover {
		color: inherit;
	}
}
@media screen and (min-width: 768px) { #list-steps {
	li {
		float: left;
		height: 16rem;
		margin: 0 4% 2rem 4%;
		width: 42%;
	}
	img {
		width: 6rem;
	}
}}
@media screen and (min-width: 1040px) { #list-steps {
	li {
		float: left;
		font-size: 1rem;
		height: auto;
		margin: 0 2%;
		width: 21%;
	}
	img {
		display: block;
		margin: 0 auto;
		width: 5rem;
	}
}}
@media screen and (min-width: 1040px) { #list-steps {
	li {
		float: left;
		font-size: 1rem;
		height: auto;
		margin: 0 2%;
		width: 21%;
	}
	img {
		display: block;
		margin: 0 auto;
		width: 5rem;
	}
}}
#services {
	background-color: #eaf2f5;
	color: #555;
	padding: 2rem 0;
}
@media screen and (min-width: 1040px) { #services {
	padding: 2rem 0 0 0;
}}
#list-services {
	font-size: 1.2rem;
	> li {
		background-color: #ffffff;
		border-radius: 0.3rem;
		display: block;
		height: auto;
		margin: 2rem 0;
		overflow: hidden;
		position: relative;
		width: 100%;
		> {
			img {
				float: left;
				height: auto;
				width: 40%;
			}
			h3 {
				color: #000000;
				float: left;
				font-size: 1.2rem;
				margin: 1rem 5% 0 5%;
				width: 50%;
			}
			p {
				float: left;
				margin: .6rem 5%;
				width: 50%;
			}
		}
	}
}
@media screen and (min-width: 768px) { #list-services {
	font-size: 1.1rem;
	> li {
		margin: 1rem 0;
		> {
			img {
				height: auto;
				width: 40%;
			}
			h3 {
				font-size: 1.2rem;
			}
		}
	}
}}
@media screen and (min-width: 1040px) { #list-services {
	font-size: 1rem; 
	> li {
		float: left;
		margin: 0 2% 3rem 2%;
		width: 44%;
		> {
			img {
				float: left;
				height: auto;		
				width: 40%;
			}
			h3 {
				font-size: 1.2rem; 
			}
			p {
				font-size: .84rem;
				height: auto;
			}
		}
	}
}}
#subscribe {
	background: -webkit-radial-gradient(center, ellipse cover, #283655 0%, #172133 100%);
	background-color: #242e3d;
	color: #ffffff;
	display: block;
	height: auto;
	overflow: hidden;
	padding: 16rem 0 12rem 0;
	position: relative;
	text-align: center;
	width: 100%;
	p {
		font-size: 1.5rem;
	}
	input[type='email'] {
		border: none;
		border-radius: 0.3rem;
		font-size: 1.5rem;
		padding: 0.6rem 0.8rem;
		vertical-align: bottom;
		width: 24rem;
		
	}
}
@media screen and (min-width: 1040px) { #subscribe {
	padding: 12rem 0 10rem 0;
	p {
		font-size: 1.4rem;
	}
	input[type='email'] {
		font-size: 1.3rem;
		padding: 0.6rem 0.8rem;
	}
}}
#gr_ship {
	background-size: contain;
	height: 12%;
	left: 78%;
	top: 26%;
	transform: rotate(30deg);
	width: 12%;
	z-index: 2;
}
@media screen and (min-width: 1040px) { #gr_ship {
	height: 20%;	
	left: 66%;
	top: 32%;
	width: 20%;
}}
/*EO MAIN*/
/*FOOTER*/
footer {
	padding: 4rem 0 0 0;
	background-color: #232d3a;
	color: #232d3b;
	font-size: 1.4rem;
	h6 {
		margin: 0 0 2rem 0;
		color: #ffffff;
		text-transform: uppercase;
	}
	nav {
		margin-bottom: 8rem;
		li {
			margin-bottom: 0.8rem;
			padding-bottom: 0.8rem;
			font-size: 1rem;
			border-bottom: 1px solid #777;
		}
	}
}
@media screen and (min-width: 768px) { footer nav {
	float: left;
	margin: 0 4% 2rem 4%;
	overflow: hidden;
	padding: 0;
	width: 42%;
}}
@media screen and (min-width: 1040px) { footer {
	font-size: 1rem;
	h6 {
		margin: 0 0 1rem 0;
	}
	nav {
		height: 16rem;
		margin-bottom: 0;
		li {
			border-bottom: 1px solid #555;	
			font-size: 0.8rem;
			margin-bottom: 0.8rem;
			padding-bottom: 0.8rem;
		}
	}
}}
#social {
	margin-bottom: 2em;
	img, span {
		display: block;
	}
	span {
		position: relative;
		text-align: center;
	}
	img{
		margin: 0 auto;
	}
}
@media screen and (min-width: 768px) { #social {
	font-size: 0.8em;
	text-align: center;
	img,span{
		display: inline;
	}
	img {
		width: 2em;
	}
	span{
		top: -0.4rem;			
	}
}}
@media screen and (min-width: 1040px) { #social {
	float: left;
	margin-top: 10px;
	margin-bottom: 0;
	width: auto;
	span {
		position: relative;
		top: -0.4rem;
	}
}}
#copyright {
	color: #727a82;
	font-size: 0.8rem;
	text-align: center;
	clear: both;
}
@media screen and (min-width: 1040px) { #copyright {
	float: right;
	text-align: right;
}}
/*EO FOOTER*/
/*MODAL
.ventana-login {
	@extend .modal-login;
	@include login-paginas;

}*/
/*Botones*/
.right {
	float: right;
}
.left {
	float: left;
}
/*EO MODAL*/