/*
@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";

*/
/**/
/*@import '../../scss/base/_variables';*/
$ext-ext-desktop: 1560px;
$ext-desktop: 1280px;
$desktop: 1040px;
$tablet: 660px;
$mobile: 320px;
/*@import '../../scss/base/_colors';*/
/*SHADES OF GRAY*/
$white: rgba(255,255,255,1);
$gray20: rgba(60,60,60,1);
$gray40: rgba(120,120,120,1);
$gray60: rgba(180,180,180,1);
$gray80: rgba(240,240,240,1);
$black: rgba(0,0,0,1);
/*RED*/
$red40 : rgba(179,0,30,1);
$red60 : rgba(255,5,47,1);
/*ORANGE*/
$orange40 : rgba(204,60,24,1);
$orange60 : rgba(255,76,31,1);
$orange80 : rgba(255,106,69,1);
/*PINK*/
$pink20 : rgba(102,10,63,1);
$pink40 : rgba(155,3,90,1);
$pink60 :rgba(255,5,147,1);
$pink80 : rgba(255,82,180,1);
$pink100 : rgba(242,174,216,1);
/*BLUE*/
$blue20 : rgba(15,22,38,1);
$blue40 : rgba(23,33,51,1);
$blue60 : rgba(5,93,255,1);
$blue80 : rgba(80,145,255,1);
$blue100 : rgba(176,199,242,1);
/*YELLOW*/
$yellow40 : rgba(204,181,24,1);
$yellow60 : rgba(255,226,31,1);
$yellow80 : rgba(255,250,69,1);
/*GREEN*/
$green40 : rgba(8,179,0,1);
$green60 : rgba(17,255,5,1);
/*PURPLE*/
$purple60 : rgba(178,5,255,1);
/*@import '../../scss/mixins/_border-radius';*/
@mixin border-radius($radius) {
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius; 
}
/*@import '../../scss/mixins/_background-color-gradient-blue';*/
@mixin background-color-gradient-blue {
	background: -webkit-radial-gradient(center, ellipse cover, $blue60 0%, $blue40 100%);
	background-color: $blue20;
}
@import '../../scss/components/_stars';
#background {
    position: fixed;
}
/*@import '../../scss/components/_buttons';*/
 /*Botones*/
 button,
 .boton,
 a.boton,
 a.boton:visited
 a.boton:link,
 input[type='button'],
 a.cta,
 a.cta:visited,
 a.cta:link, 
 input.cta {
	@include border-radius(.25rem);
	background-color: $pink60;
	border: none;
	color: $white;
	cursor: pointer;
	display: block;
    font-weight: bold;
    font-size: inherit;
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: .5rem;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
    width: auto;
    &:link, &:visited {
		color: $white;
	}
	&:hover, &:active {
		background-color: $pink80;
	}
}
.clickable {
    cursor: pointer;
}
/*ELEMENTS*/
* {
    list-style-type: none;
    font-size: inherit;
    font-weight: normal;
	margin: 0;
	padding: 0;
}
html { font-size: 150%; }
body {
    background-color: $blue20;
    @include background-color-gradient-blue;
    background-attachment: fixed;
    color: $gray80;
	font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
    line-height: 1rem;
    margin: 0;
    padding: 0;
    position: relative;
}
a {
	color: $gray80;
	text-decoration: none;
	transition: color 0.3s ease;
	&:link, &:visited {
		color: $gray60;
	}
	&:hover, &:active {
		color: $white;
	}
}
#modal {
    background-color: $gray80;
    bottom: 0;
    color: $gray20;
    display: block;
    left: 0;
    height: auto;
    /*opacity: .3;*/
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 4;
}
@media screen and (min-width: $tablet) {
    #modal {
        @include border-radius(.25rem);
        bottom: 2rem;
        left: 2rem;
        right: 2rem;
        top: 2rem;
        width: auto;
    }
}
@media screen and (min-width: $ext-desktop) {
    #modal {
        left: 8rem;
        right: 8rem;
    }
}
@media screen and (min-width: $ext-ext-desktop) {
    #modal {
        left: 12rem;
        right: 12rem;
    }
}
.dialog {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    overflow: scroll;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    text-align: center;
    width: auto;
}
@media screen and (min-width: $tablet) { .dialog { padding: 2rem; } }
.dialog .options {
    display: block;
    overflow: hidden;
}
.dialog nav {
    display: block;
    margin-top: 1rem;
    overflow: hidden;
}
.dialog {
    button, .boton {
        display: block;
        margin-top: .5rem;
        width: auto;
    }
    button {
        width: 100%;
    }
}
@media screen and (min-width: $tablet) {
    .dialog {
        button, .boton {
            display: inline-block;
            margin: 0;
            width: auto;
        }
        button { margin: 0 .25rem; }
    }   
}
.dialog h3 {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}
@media screen and (min-width: $tablet) {
    .dialog h3 {
        font-size: 1.25rem;
        line-height: 2rem;
    }
}
.dialog-error {
    @include border-radius(.25rem);
    background-color: $white;
    border: 1px solid $pink60;
    font-size: .5rem;
    padding: .5rem;
}
@media screen and (min-width: $tablet) { a.back { float: left; } }
.question {
    text-align: left;
}
.question nav {
    text-align: right;
}
.options h4 {
    margin: .5rem 0 0 0;
}
.options label {
    @include border-radius(.25rem);
    background-color: $gray60;
    cursor: pointer;
    display: block;
    font-size: .5rem;
    margin: .25rem 0;
    padding: .25rem .5rem;
}
.options label:hover {
    background-color: $pink100;
}
.options input[type="radio"] {
    display: none;
}
.options input[type="radio"]:checked+label {
    background-color: $pink100;
    font-weight: bold;
}
.question .options-group {
    clear: both;
    display: block;
    height: auto;
    overflow: hidden;
    width: 100%;
}
.option-free {
    display: block;
    margin-top: .5rem;
    overflow: hidden;
    width: 100%;
}
.option-free input[type="text"] {
    @include border-radius(.25rem);
    border: none;
    display: block;
    padding: .5rem;
    overflow: hidden;
    width: 100%;
}
.option-free input[type="text"]:focus {
    outline: none;
}
/*DIALOG END*/
#dialog-end-rocket {
    width: 6rem;
    margin: 4rem auto 0 auto;
}
@media screen and (min-width: $tablet) { #dialog-end-rocket { margin-top: 8rem; } }
@media screen and (min-width: $desktop) { #dialog-end-rocket { margin-top: 2rem; width: 4rem; } }
#dialog-end h2 {
    margin: 1rem 0;
}
#dialog-end .boton {
    display: block;
}
@media screen and (min-width: $desktop) { #dialog-end .boton { display: inline-block; } }
/*DIALOG EXISTING SESSION*/
#dialog-existing-session {
    padding-top: 40%;
}
@media screen and (min-width: $tablet) {
    #dialog-existing-session {
        padding-top: 15%;
    }   
}
/*STAGE*/
#stage {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}
.stage {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    width: 100%;
}
#stage aside {
    position: absolute;
}
#button-start {
    display: inline-block;
    margin: 15rem auto 0 auto;
    width: auto;
}
@media screen and (min-width: $tablet) { #button-start { margin-top: 20rem; } }
@media screen and (min-width: $desktop) { #button-start { margin-top: 10rem; } }
@media screen and (min-width: $ext-desktop) { #button-start { margin-top: 15rem; } }
/*ITEMS*/
#item-land {
    bottom: 0;
    left: 5%;
    width: 90%;
}
@media screen and (min-width: $tablet) { #item-land { left: 10%; width: 80% } }
@media screen and (min-width: $desktop) { #item-land { left: 30%; width: 65% } }
#item-spaceman {
    bottom: 1.5rem;
    left: 45%;
    width: 4rem;
}
@media screen and (min-width: $tablet) { #item-spaceman { bottom: 3rem; left: 50%; width: 6rem; } }
@media screen and (min-width: $desktop) { #item-spaceman { left: 65%; width: 5rem; } }
@media screen and (min-width: $ext-desktop) { #item-spaceman { width: 6rem; } }
#item-comets {
    left: 2rem;
    top: 18rem;
    width: 4rem;
}
@media screen and (min-width: $tablet) { #item-comets { left: 4rem; top: 26rem; width: 8rem; } }
@media screen and (min-width: $desktop) { #item-comets { top: 6rem; } }
#item-planet-red {
    right: 1rem;
    top: 6rem;
    width: 4rem;
}
@media screen and (min-width: $tablet) { #item-planet-red { right: 2rem; top: 6rem; width: 10rem; } }
#item-sun {
    left: 2rem;
    top: 18rem;
    width: 6rem;
}
@media screen and (min-width: $tablet) { #item-sun { left: 4rem; top: 26rem; width: 12rem; } }
@media screen and (min-width: $desktop) { #item-sun { top: 8rem; } }
#item-planet-blue {
    right: 1rem;
    top: 6rem;
    width: 4rem;
}
@media screen and (min-width: $tablet) { #item-planet-blue { right: 2rem; top: 6rem; width: 10rem; } }
#item-earth {
    left: 1rem;
    top: 6rem;
    width: 4rem;
}
@media screen and (min-width: $tablet) { #item-earth { left: 2rem; top: 12rem; width: 10rem; } }
#item-satellite {
    right: 2rem;
    top: 18rem;
    width: 4rem;
}
@media screen and (min-width: $tablet) { #item-satellite { right: 4rem; top: 26rem; width: 6rem; } }
@media screen and (min-width: $tablet) { #item-satellite { top: 10rem; } }
/*EO ITEMS*/
#item-rocket {
    bottom: -2rem;
    position: fixed;
    left: 30%;
    width: 3rem;
    z-index: 3;
    img:nth-child(2) {
        opacity: 0;
    }
}
@media screen and (min-width: $tablet) { #item-rocket { bottom: -3rem; left: 35%; width: 6rem; } }
@media screen and (min-width: $desktop) {  #item-rocket { left: 45%; width: 5rem; } }
@media screen and (min-width: $ext-desktop) {  #item-rocket { width: 6rem; } }
/**/
#global-navigation {
    left: .5rem;
    position: fixed;
    top: .5rem;
    z-index: 3;
    a {
        opacity: 0.6;    
        transition: opacity 0.3s ease;
        &:hover{ opacity: 1; }
        i{ color: $pink60; }
        span{
            color: $white;
            font-size: .5rem;
            margin-left: .25rem;
            vertical-align: top;
        }
    }    
}