@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";
/**/
/*@import '../../scss/base/_variables';*/
$ext-desktop: 1560px;
$desktop: 1040px;
$tablet: 660px;
$mobile: 320px;
/*@import '../../scss/base/_colors';*/
/*SHADES OF GRAY*/
$white: rgba(255,255,255,1);
$gray20: rgba(60,60,60,1);
$gray40: rgba(120,120,120,1);
$gray60: rgba(180,180,180,1);
$gray80: rgba(240,240,240,1);
$black: rgba(0,0,0,1);
/*RED*/
$red40 : rgba(179,0,30,1);
$red60 : rgba(255,5,47,1);
/*ORANGE*/
$orange40 : rgba(204,60,24,1);
$orange60 : rgba(255,76,31,1);
$orange80 : rgba(255,106,69,1);
/*PINK*/
$pink20 : rgba(102,10,63,1);
$pink40 : rgba(155,3,90,1);
$pink60 :rgba(255,5,147,1);
$pink80 : rgba(255,82,180,1);
$pink100 : rgba(242,174,216,1);
/*BLUE*/
$blue20 : rgba(15,22,38,1);
$blue40 : rgba(23,33,51,1);
$blue60 : rgba(5,93,255,1);
$blue80 : rgba(80,145,255,1);
$blue100 : rgba(176,199,242,1);
/*YELLOW*/
$yellow40 : rgba(204,181,24,1);
$yellow60 : rgba(255,226,31,1);
$yellow80 : rgba(255,250,69,1);
/*GREEN*/
$green40 : rgba(8,179,0,1);
$green60 : rgba(17,255,5,1);
/*PURPLE*/
$purple60 : rgba(178,5,255,1);
/*@import '../../scss/mixins/_border-radius';*/
@mixin border-radius($radius) {
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius; 
}
/*@import '../../scss/mixins/_background-color-gradient-blue';*/
@mixin background-color-gradient-blue {
	background: -webkit-radial-gradient(center, ellipse cover, $blue60 0%, $blue40 100%);
	background-color: $blue20;
}
@import '../../scss/components/_stars';
/*@import '../../scss/components/_buttons';*/
 /*Botones*/
 button,
 .boton,
 a.boton,
 a.boton:visited
 a.boton:link,
 input[type='button'],
 a.cta,
 a.cta:visited,
 a.cta:link, 
 input.cta {
	@include border-radius(.25rem);
	background-color: $pink60;
	border: none;
	color: $white;
	cursor: pointer;
	display: block;
	font-weight: bold;
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: .5rem;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
	width: auto;
	&:hover, &:active {
		background-color: $pink80;
	}
}
@import "../../scss/components/_modal"; 
/*@import '../../scss/partials/_errors';*/
.form-error{
	color: $red60;
	display: none;
	font-size: .75rem;
	margin: .5rem 0;
	text-align: center;
}
/**/
/*ELEMENTS*/
html { font-size: 150%; }
body {
    background-color: $blue20;
    @include background-color-gradient-blue;
    color: $gray80;
	font-family: 'Open Sans', sans-serif;
	font-size: .75rem;
	line-height: 1rem;
    margin: 0;
    padding: 0;
    position: relative;
}
div, ul, ol, nav, p {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	color: $gray80;
	text-decoration: none;
	transition: color 0.3s ease;
	&:link, &:visited {
		color: $gray60;
	}
	&:hover, &:active {
		color: $white;
	}
}
.right{
	float: right;
}
.left{
	float: left;
}
img{
	position: relative;
}
/**/
.background,
.main-container {
    height: 100%;
	left: 0;
    position: fixed;
    top: 0;
	width: 100%;
}
.main-container > div {
    bottom: 0;
    position: absolute;
    width: 100%;
    > div{
        margin: 0 auto;
        width: 100%;
        > div{
            overflow: hidden;
        }
    }    
}
button,
.boton{
    &.init{
        top: 50%;
        left: 50%;
        margin-left: -3rem;  
        position: fixed;
    }
    &.res{ 
        float: right;
    }
    &.back{ 
        float: left;
    }    
    &:active{
        background-color: $blue80;
    }
}
.space-man {
    bottom: 2rem;
    left: 50%;
    margin-left: -2rem;
    position: absolute;
    width: 4rem;
    z-index: 4;
    @include breakpoint($tablet){
        bottom: 4rem;
        margin-left: -3rem;
    }     
    
    @include breakpoint($desktop){
        bottom: 3rem;
        margin-left: 6.5rem;
        width: 6rem;
    }   
    @include breakpoint($ext-desktop){
        margin-left: 8.5rem;
    }  
}

.inicio{
    height: 185px;
    @include breakpoint($tablet){
        height: 348px;
    }     
    
}
.land{
    width: 100%;
    margin-top: 5.5rem;
    @include breakpoint($tablet){
        margin-top: 9.5rem;
    }
    @include breakpoint($desktop){
        margin-top: 11rem;
        margin-left: 40%;
        width: 60%;
    }
    @include breakpoint($ext-desktop){
        margin-top: 9rem;
    }
}

.rocket{
    position: absolute;
    bottom: -2.5rem;
    left: 50%;
    z-index: 0;
    width: 4rem;
    margin-left: -4.5rem;
    
    @include breakpoint($tablet){
        left: 50%;
        margin-left: -6rem;
        bottom: 0;
    }         
    @include breakpoint($desktop){
        left: 50%;
        bottom: -3.5rem;
        margin-left: 3rem;
        width: 6rem;
    }      
    @include breakpoint($ext-desktop){
        bottom: -2rem;
        margin-left: 4rem;
        
    }
}

.sun{
    margin-top: 1000px;
    margin-bottom: 1000px; 
    text-align: right;
    
    img{
        width: 150px;
        
        @include breakpoint($tablet){
            width: 250px;
        }          
        
    }     
    
}

.segundo{
    margin-top: 1500px;    
}

.planet-blue{
    width: 200px;
    
    @include breakpoint($tablet){
        width: 350px;
    }      
    
    @include breakpoint($desktop){
        width: 450px;
    }      
    
}

.comets{
    position: relative;
    right: -70px;    
    
    img:first-child{
        width: 100px; 
        
        @include breakpoint($tablet){
            width: 200px;
        }
        
    }
            
    img + img{
        position: relative;
        left: -70px;
        top: 18px;
        width: 80px;
       
        @include breakpoint($tablet){
            width: 160px;
            top: 3px;
            left: -130px;    
        }                 
        
    }     
    
}

.earth{
    width: 200px;
    left: 30px;    
    
    @include breakpoint($tablet){
        width: 400px;
    }    
}

.satellite{
    width: 100px;
    display: block;
    
    @include breakpoint($tablet){
        width: 200px;
    }       
    
    @include breakpoint($desktop){
        margin-right: 385px;
    }       
    
}

.full_moon{
    text-align: right;
    
    img{
        width: 230px;
        
        @include breakpoint($tablet){
            width: 400px;
        }          
    }
    
}

.stars_img{
    text-align: left;
    margin: 1000px 0;

    img{
        width: 100px;
        margin-left: 100px; 
        
        @include breakpoint($tablet){
            width: 200px;
        }        
        
    }
    
}

.cometas{
    margin-bottom: 50px;
    text-align: right;

    img{
        width: 130px;
    }
    
}

.cinco{
    margin-bottom: 1300px;
}

.alien{
    position: absolute;
    left: 0;
    img{
        width: 70px;
        @include breakpoint($tablet){
            width: 150px;
        }     
    }
}

.planet_ring{
    text-align: center;
    margin: 1300px 0px;
    
        img{width: 240px;
        
            @include breakpoint($tablet){
                width: 350px;
            }      
            
            @include breakpoint($desktop){
                width: 400px;
            }                 
        }
}

.nave{
    margin: 1000px 50px;
    text-align: right;
    
    img{
        width: 100px; 
        
        @include breakpoint($tablet){
            width: 180px;
        }         
        
        @include breakpoint($desktop){
            width: 200px;
        }          
        
    }
}

.planet_red{    
    img{width: 300px;
    
        @include breakpoint($tablet){
            width: 400px;
        }         
        
        @include breakpoint($desktop){
            width: 500px;
        }          
        
    }
}

.ui-dialog .ui-dialog-content.dialog{ 
    overflow: hidden;
    
    &.datos-existentes,
    &.proyecto-existente {
        max-height: none !important; 
        height: auto !important; 
    }
    
    &.primera-pregunta{
        background: url(../images/p1_bg.jpg) bottom center no-repeat;
    }    
    
    &.segunda-pregunta{
        background: url(../images/p2_bg.jpg) bottom center no-repeat;
    } 

    &.tercera-pregunta{
        background: url(../images/p3_bg.jpg) bottom center no-repeat;
    } 

    &.cuarta-pregunta{
        background: url(../images/p4_bg.jpg) bottom center no-repeat;
    } 

    &.quinta-pregunta{
        background: url(../images/p5_bg.jpg) bottom center no-repeat;
    } 
    
    &.sexta-pregunta{
        background: url(../images/p1_bg.jpg) bottom center no-repeat;
    }    
    
    &.septima-pregunta{
        background: url(../images/p2_bg.jpg) bottom center no-repeat;
    }  
    
    &.fin{
        text-align: center;
        background-color: #1f2c43;
        color: white;
        text-transform: uppercase;    
    
        aside{
            margin-top: 25%;
        }
    
        img{
            display: block;
            margin: 0 auto;
            height: 20%;
    
            + img{
                height: 12%;
            }
        }
    
        h2{
            margin-bottom: 10px;        
        }
    
        p{
            font-size: 14px;
            font-weight: normal;
            margin-top: 0;
            line-height: 20px;
            margin-bottom: 40px;        
        }
    }    

    aside{
        overflow: hidden;
        margin-bottom: 20px;
    }
}

textarea{
    margin: 15px 0px;
    height: 200px;
    display: block;
    border: none;
    background: #DDD;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    outline: none;    
}

.dialog{

    input[type=radio]{
        position: absolute;
        left: 25px;
        top: 10px;        
    }

    label{        
        width: 100%;
        display: block;
        float: left;
        padding: 5px 10px 15px 10px;
        box-sizing: border-box;
        line-height: 18px;
        position: relative;
        font-size: 16px;  
        
        @include breakpoint($tablet){
            width: 50%;
        }
    }

    p{
        font-weight: bold;
        
        &:first-child{
            margin-top: 25px;
        }
    }

    .opciones {
        margin-bottom: 100px;
        max-height: 450px;
        overflow-y: auto;

        > div{
            width: 100%;
            overflow: hidden;
            padding-top: 10px;      
        } 

        + div{
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 20px;
            box-sizing: border-box;
            width: 100%;
        }          

    }

}

.global-back{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background: none;
    padding: 0;

    &:hover{
        opacity: 0.7;
    }

    i{
        color: #cc2880;
        font-size: 24px;

        @include breakpoint($tablet){
            font-size: 30px;
        }
        
    }

    span{
        color: #fff;
        line-height: 24px;
        display: inline-block;
        vertical-align: top;
        margin-left: 5px;

        @include breakpoint($tablet){
            line-height: 30px;
        }

    }
}
.cont_answers {
    display: block;
    height: auto;
    overflow: hidden;
    width: 100%;

    >label {
        cursor: pointer;

        &:first-child {
            width: 100%;
        }

        > input[type='radio'] {
            display: none;
        }            
    }

}

.group_answers {
    display: block;
    height: auto;
    overflow: hidden;
    width: 100%;
}
.group_answers>label {
    padding-left: 45px;
    display: block;
    font-size: .8em;
    height: 52px;
}