<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Template 004</title>
		<meta name="description" content="Template 004">
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<meta name="author" content="Web2b">
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/scripts.js"></script>
	</head>
	<body>
		<div id="template">
			<link href="https://fonts.googleapis.com/css?family=Lato:400,400i|Poppins:300,400,500,600" rel="stylesheet">
			<link rel="stylesheet" href="css/styles.css?v=1.0">
			<main>
				<div id="hero">
					<div id="img-hero" class="img-cont img-MC" style="background-image: url(../Images/placeholder.png);"></div>
					<div id="hero-content">
						<!--<img id="hero-logotipo" src="img/Logo-Template-004.png" alt="Logotipo" />-->
						<h1 id="val-content-name">El nombre de tu negocio</h1>
						<h2 id="val-content-slogan">El eslógan de tu negocio</h2>
					</div>
				</div>
				<div class="items one">
					<div class="item">
						<div id="img-item-1" class="img-cont img-MC" style="background-image: url(../Images/placeholder.png);"></div>
						<div class="item-content">
							<h2 id="val-content-title-item-1">Tu primer producto o servicio</h2>
							<p id="val-content-item-1">La descripción de tu primer producto o servicio</p>
						</div>
					</div>
				</div>	
				<!--<div id="val-contact-map" class="map-container">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25669.182049294504!2d-103.39421939304526!3d20.62954019701506!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2894659df4166e8d!2sSax+Cafe!5e0!3m2!1ses!2smx!4v1526266097611" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>-->
				<footer>	
					<div class="footer-column">	
						<h3>Información de contacto</h3>
						<ul>
							<li id="val-contact-email"><span class="font-icon">m</span> <a href="mailto:tucorreoelectronico@correo.com">tucorreoelectronico@correo.com</a></li>
							<li id="val-contact-phone">Llamanos al <strong>333 333 3333</strong></li>
						</ul>
					</div>
					<div class="footer-column">	
						<h3>Nuestra dirección</h3>
						<ul>
							<li id="val-contact-address">La dirección de tu Negocio</li>
							<li id="val-contact-schedule">El horario de tu negocio</li>
						</ul>	
					</div>
					<div class="footer-column">	
						<h3>Síguenos en nuestras redes</h3>
						<ul>
							<li id="val-contact-facebook"><span class="font-icon">g</span> <a href="https://www.facebook.com/">/tuFacebook</a></li>
							<li id="val-contact-twitter"><span class="font-icon">t</span> <a href="https://www.twitter.com/">@tuTwitter</a></li>
						</ul>
					</div>
				</footer>
			</main>
		</div>	
	</body>
</html>