@import "./crea/Templates/scss/_common";
/*TEMPLATE LEVEL*/

#template { font-family: 'Open Sans', sans-serif; }
#template h1, #template h2, #template h3, #template h4, #template h5, #template h6 { font-family: 'Markazi Text', serif; }
#template * { font-size: 1rem; }
/*--TEMPLATE COMPONENTS--*/
/*HERO*/
#hero { @include box_block(); }
#hero>.wrapper {
	@include box_block();
	position: relative;
}
#hero h1 {
	font-size: 2rem;
	opacity: .8;
}
#hero div.img {
	@include box_block();
	@include box_absolute();
	opacity: 1;
	z-index: 0;
}
#hero .wrapper-content {
	box-shadow: 0 10px 15px 10px hsla(0, 0%, 0%, .75);
	display: inline-block; 
	height: auto;
	margin: 16rem auto 2rem auto;
	overflow: hidden;
	padding: 4rem 4%;
	position: relative;
	width: 72%;
	z-index: 1;
}
@media only screen and (min-width: $tablet) {
	#hero .wrapper-content {
		margin: 20rem auto 8rem auto;
		padding: 4rem 8%;
		width: auto;
	}
}
#branding {
	display: block;
	height: 5rem;
	overflow: hidden;
	width: 100%;
}
#branding>img {
	display: block;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	width: auto;
	max-height: 5rem;
}
.seemore {
	display: none;
}
.seemore, .seemore>a {
	@include box_block();
}
.seemore span{
	display: block;
}
/*HERO*/
/*MENU*/
/*ITEMS*/
#items {
	@include box_block();
}
#items>.wrapper {
	@include box_block();
	position: relative;
}
#items header {
	margin: 1rem auto;
	max-width: $ext-desktop;
	padding: 0 4%;
	width: auto; 
}
#items h2 {
	font-size: 2rem;
}
.items {
	margin: 0 auto 2rem auto;
	max-width: $ext-desktop;
	width: 100%;
}
.item {
	display: block;
	height: 16rem;
	position: relative;
	width: 100%;
	overflow: hidden;
}
@media only screen and (min-width: $tablet) {
	.item {
		height: 30rem;
	}
}
.item .img {
	display: block;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%; 
	z-index: 0;
}
.item .wrapper-content {
	bottom: 0;
	box-shadow: 0 -10px 15px 10px hsla(0, 0%, 0%, .75);
	left: 0;
    padding: 1rem 8%;
	position: absolute;
	right: 0;
	top: auto;
	width: 84%;
	z-index: 1;
}
@media only screen and (min-width: $tablet) {
	.items {
		display: grid;
	}
	.items.one { grid-template-columns: 100%; }
	.items.two {
		grid-gap: 0 2rem;
		grid-template-columns: 1fr 1fr;
	}
	.items.three {
		grid-gap: 0 2rem;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
/*ITEMS*/
/*ABOUT US*/
#aboutus {
	@include box_block();
}
#aboutus h2 {
	font-size: 2rem;
}
#aboutus>.wrapper {
	@include box_block();
	position: relative;
}
#aboutus .img {
	@include box_block();
	@include box_absolute();
	opacity: .6;
	z-index: 0;
}
#template #aboutus div.wrapper-content {
	@include box_block(auto);
	margin: 0 auto;
	padding: 8rem 2rem;
	position: relative;
	z-index: 1;
}
#template #aboutus div.wrapper-content p {
	margin: 0 auto;
	max-width: 24rem;
	width: auto; 
}
/*ABOUT US*/
/*GALERIA*/
#gallery {
	@include box_block();
}
#gallery h2 {
	font-size: 2rem;
}
#gallery>.wrapper {
	@include box_block();
	max-width: $ext-desktop;
	margin: 0 auto;
}
#gallery header {
	margin: 2rem auto 1rem auto;
	max-width: $ext-desktop;
	padding: 0 2rem;
	width: auto; 
}
.gallery {
	@include box_block();
	margin: 0 auto;
	position: relative;
	margin-bottom: 2rem;
}
.gallery .img {
	display: block;
	height: 20rem;
	min-width: $mobile; 
	overflow: hidden;
	width: 100%; 
}
.gallery_slider {
	cursor: pointer;
}
.gallery-nav {
	@include box_block();
	@include box_absolute();
	z-index: 1;
}
.gallery-nav>a {
	background-color: hsla(0, 0, 100%, 1);
    border-radius: 1rem;
    cursor: pointer;
    padding: .25rem .25rem;
    top: 48%;
    position: absolute;
	user-select: none;
}
.gallery-nav>a.gallery-nav-prev { left: 1rem; padding-right: .5rem; }
.gallery-nav>a.gallery-nav-next { right: 1rem; padding-left: .5rem; }
/*GALERIA*/
/*CTA*/
#cta {
	@include box_block();
}
#cta h2 {
	font-size: 2rem;
}
#cta>.wrapper {
	@include box_block();
	position: relative;
}
#cta .img {
	@include box_block();
	@include box_absolute();
	opacity: .3;
	z-index: 0;
}
#template #cta div.wrapper-content {
	@include box_block(92%);
	background-color: transparent;
	position: relative;
	margin: 16rem 4% 8rem 4%;
	z-index: 1;
}
/*CTA*/
/*FOOTER*/
#template footer {
	@include box_block();
	padding: 2rem 0 1rem 0;
}
#template footer * { font-size: .75rem; }
#template footer h5 { font-size: 1.2rem; }
#template footer h6 { font-size: 1rem; }
#template footer header {
	margin: 0 auto;
	max-width: $ext-desktop;
	width: 80%; 
}
#template footer section {
	margin: 0 auto;
	max-width: $ext-desktop;
	width: 80%; 
}
#template footer section {
	@include box_block();
	margin: 0 auto;
	max-width: $ext-desktop;
}
@media only screen and (min-width: $tablet) {
	#template footer section {
		display: grid;
		grid-gap: 0 1rem;
		grid-template-columns: 1fr 1fr 1fr;
	}	
}
#template footer .column {
	margin: 1em auto 0 auto;
	width: auto;
}
/*FOOTER*/
/*DISCLAIMER*/
#disclaimer {
	@include box_block();
}
#template #disclaimer p {
	font-size: .75em;
	font-variant: small-caps;
	margin: 0 auto;
	max-width: $desktop;
	padding: 1rem 0;
}
/*DISCLAIMER*/
/*--TEMPLATE COMPONENTS--*/