@import "./crea/Templates/scss/_common"; 
@import "../../../../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "../../../../scss/base/variables";


/*TEMPLATE LEVEL*/
#template {
	font-family: 'Open Sans', sans-serif;
}
#template h1, #template h2, #template h3, #template h4, #template h5, #template h6 {
	font-family: 'Markazi Text', serif;
	margin: 0 0 .4em 0;
}
#template h1 {
	font-size: 2em;
}
#template h2 {
	font-size: 1.6em;
}
#template h3 {
	font-size: 1.4em;
}
#template h4 {
	font-size: 1.2em;
}
#template h5 { 
	font-size: 1.2em;
	font-weight: normal;
	margin: 0;
}
#template h6 {
	font-size: 1.2em;
	font-weight: normal;
	margin: 0;
}
#template p, #template ul, #template ol {
	font-size: 1em;
	margin: 0 0 .4em 0;
}
@media only screen and (min-width: 560px) {
	#template h1 { font-size: 3em; }
	#template h2 { font-size: 2.2em; }
	#template h3 { font-size: 1.8em; }
	#template h4 { font-size: 1.2em; }
}
/*TEMPLATE LEVEL*/
/*--TEMPLATE COMPONENTS--*/
/*HERO*/
#hero {
	background-color: rgba(102, 102, 102, 1);
	display: block;
	height: auto;
	overflow: hidden;
	width: 100%; 
}
#hero>.wrapper {
	display: block;
	height: auto;
	overflow: hidden;
	position: relative;
	width: 100%; 
}
#hero div.img {
	bottom: 0;
	display: block; 
	height: auto;
	left: 0;
	opacity: 1;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%; 
	z-index: 0;
}
#hero .wrapper-content {
	background-color: rgba(68, 68, 68, 1);
	color: rgba(0,0,0,1);
	display: inline-block; 
	height: auto;
	margin: 16em auto 2em auto;
	overflow: hidden;
	padding: 4em 4%;
	position: relative;
	width: 72%;
	z-index: 1;
}
#template.color-orange .wrapper-content {
	background-color: rgba(250, 153, 0, 1);
}
#template.color-yellow .wrapper-content {
	background-color: rgba(250, 212, 0, 1);
}
#template.color-green .wrapper-content {
	background-color: rgba(212, 255, 0, 1);
}
#branding {
	display: block;
	height: 5em;
	overflow: hidden;
	width: 100%;
}
#branding>img {
	display: block;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	width: auto;
}
.seemore, .seemore>a {
	display: block;
	height: auto;
	overflow: hidden;
	width: 100%;
}
.seemore span{
	display: block;
}
/*HERO*/
/*MENU*/
/*ITEMS*/
#items {
	display: block;
	height: auto;
	overflow: hidden;
	width: 100%; 
}
#items>.wrapper {
	display: block;
	height: auto;
	overflow: hidden;
	position: relative;
	width: 100%; 
}
#items header {
	margin: 2em auto 0 auto;
	text-align: center;
	padding: 0 4% 2em 4%;
	width: auto; max-width: 1180px;
}
.items {
	margin: 0 auto;
	width: 100%;
}
.item {
	display: block;
	height: 400px;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.item .img {
	display: block;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%; 
	z-index: 0;
}
.item .wrapper-content {
	bottom: 0;
	left: 0;
    padding: 2em 4% 1em 4%;
	position: absolute;
	right: 0;
	top: auto;
	width: 92%;
	z-index: 1;
}
#template.color-orange .item .wrapper-content {
	background-color: rgba(250, 153, 0, 1);
}
#template.color-yellow .item .wrapper-content {
	background-color: rgba(250, 212, 0, 1);
}
#template.color-green .item .wrapper-content {
	background-color: rgba(212, 255, 0, 1);
}
@media only screen and (min-width: 960px) {
	.items {
		display: grid;
		grid-gap: 0 4%;
		margin: 1em auto;
		width: 92%;
	}
	.items.one { grid-template-columns: 100%; }
	.items.two { grid-template-columns: auto auto; }
	.items.three { grid-template-columns: auto auto auto; }
	.item { width: auto; }
}
/*ITEMS*/
/*ABOUT US*/
#aboutus {
	background-color: rgba(68, 68, 68, 1);
	color: rgba(0,0,0,1);
	display: block; 
	height: auto;
	overflow: hidden;
	width: 100%; 
}
#aboutus>.wrapper {
	display: block; 
	height: auto;
	overflow: hidden;
	position: relative;
	width: 100%; 
}
#template.color-orange #aboutus {
	background-color: rgba(250, 153, 0, 1);
}
#template.color-yellow #aboutus {
	background-color: rgba(250, 212, 0, 1);
}
#template.color-green #aboutus {
	background-color: rgba(212, 255, 0, 1);
}
#aboutus .img {
	bottom: 0;
	left: 0;
	opacity: .6;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
#template #aboutus div.wrapper-content {
	background-color: transparent;
	height: auto;
	overflow: hidden;
	position: relative;
	margin: 12em 4% 6em 4%;
	width: 92%;
	z-index: 1;
}
/*ABOUT US*/
/*GALERIA*/
#gallery {
	display: block;
	height: auto;
	overflow: hidden;
	padding: 2em 0 0 0;
	width: 100%; 
}
#gallery>.wrapper {
	display: block;
	height: auto;
	max-width: 1440px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%; 
}
#gallery header {
	margin: 0 auto;
	padding: 0 4% 2em 0;
	width: auto; max-width: 1180px;
}
.gallery {
	margin: 0 auto;
	width: 100%;
}
.gallery .img {
	display: block;
	height: 620px;
	overflow: hidden;
	width: 100%; min-width: 220px; 
}
@media only screen and (min-width: 960px) {
	.gallery {
		width: 96%;
	}
	.gallery .img {
		float: left; 
		margin: 0 2% 1em 2%;
		width: 46%; 
	}
}
/*GALERIA*/
/*CTA*/
#cta {
	background-color: rgba(68, 68, 68, 1);
	color: rgba(0,0,0,1);
	display: block; 
	height: auto;
	overflow: hidden;
	width: 100%; 
}
#cta>.wrapper {
	display: block; 
	height: auto;
	overflow: hidden;
	position: relative;
	width: 100%; 
}
#template.color-orange #cta {
	background-color: rgba(250, 153, 0, 1);
}
#template.color-yellow #cta {
	background-color: rgba(250, 212, 0, 1);
}
#template.color-green #cta {
	background-color: rgba(212, 255, 0, 1);
}
#cta .img {
	bottom: 0;
	height: auto;
	left: 0;
	opacity: .6;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
#template #cta div.wrapper-content {
	background-color: transparent;
	overflow: hidden;
	position: relative;
	margin: 16em 4% 8em 4%;
	width: 92%;
	z-index: 1;
}
#template #cta div.wrapper-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/*CTA*/
/*FOOTER*/
#template footer {
	background-color: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
	height: auto;
	display: block;
	overflow: hidden;
	padding: 2em 0 0 0;
	width: 100%;
}
#template footer header {
	margin: 0 auto;
	width: 60%; max-width: 1086px;
}
#template footer header p {
	color: rgba(68, 68, 68, 1);
	font-size: .8em;
}
#template.color-orange footer header p {
	color: rgba(250, 153, 0, 1);
}
#template.color-yellow footer header p {
	color: rgba(250, 212, 0, 1);
}
#template.color-green footer header p {
	color: rgba(164, 188, 0, 1);
}
#template footer section {
	display: block;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	width: auto;
}
@media only screen and (min-width: 760px) {
	#template footer section {
		width: 92%; max-width: 1280px;
	}	
}
#template footer .column {
	margin: 1em auto 0 auto;
	width: auto;
}
@media only screen and (min-width: 760px) {
	#template footer .column {
		float: left;
		margin-left: 4%;
		text-align: left;
		width: 30.6%;
	}	
	#template footer section div:first-child {
		margin-left: 0;
	}	
}
#template footer .column ul {
	font-size: .8em;
	list-style: none;
	margin: 0;
	padding: 0;
}
/*FOOTER*/
/*DISCLAIMER*/
#disclaimer {
	background-color: rgba(0,0,0,1);
	color: rgba(255, 255, 255, 1);
	display: block;
	height: auto;
	overflow: hiddden;
	width: 100%;
}
#template.color-orange #disclaimer {
	color: rgba(250, 153, 0, 1);
}
#template.color-yellow #disclaimer {
	color: rgba(250, 212, 0, 1);
}
#template.color-green #disclaimer {
	color: rgba(164, 188, 0, 1);
}
#disclaimer p {
	font-size: .8em;
	margin: 0 auto;
	padding: 2em 0;
	width: 16em;
}
@media only screen and (min-width: 760px) {
	#disclaimer p {
		padding: .4em 4%;
		text-align: left;
		width: auto;
	}
}
/*DISCLAIMER*/
/*--TEMPLATE COMPONENTS--*/