 /*Botones*/
 button,
 .boton,
 a.boton,
 a.boton:visited
 a.boton:link,
 input[type='button'],
 a.cta,
 a.cta:visited,
 a.cta:link, 
 input.cta {
	@include border-radius(.25rem);
	background-color: $pink60;
	border: none;
	color: $white;
	cursor: pointer;
	display: block;
	font-weight: bold;
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: .5rem;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
	width: auto;
	&:hover, &:active {
		background-color: $pink80;
	}
}