 /*Botones*/
 button,
.boton,
a.boton,
a.boton:visited
a.boton:link,
input[type='button'] {
  padding: 10px;
  background-color: #cc2880;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  @include border-radius(5px);
  border: none;
  outline: none; 
}