.inputWihIcons{
    background-color: $gray80;
    border: 1px solid $gray60;
    border-radius: .25rem;
    margin-bottom: .5rem;
    overflow: hidden;
    * {
        box-sizing: border-box;
    }
    [type="text"],
    [type="search"],
    [type="email"],
    [type="password"]{
        background-color: $white;
        border: none;
        float: left;
        height: 2.5rem;
        padding: .5rem;
        outline: none;
        width: calc(100% - 2.5rem);
    }
    i{
        border-right: 1px solid $gray60;
        color: $gray40;
        display: block;
        float: left;
        font-size: 1rem;
        height: 2.5rem;
        line-height: 1.25rem;
        padding: .5rem;
        text-align: center;
        width: 2.5rem;
    }
}