@mixin login-paginas {
    &,p{
        color: $gray60;
        text-align: left;
    }
    select {
        @include border-radius(.25rem);
        padding: .5rem;
        width: 100%;
    }
    .form-error{
        text-align: left;
    }
    
}