.ui-dialog-titlebar {
	display: none;
}
  
.ui-widget.ui-widget-content {
	border: none;
	padding: 0;
}

@include breakpoint($tablet){
	.ui-widget.ui-widget-content {
		max-width: 640px;
		max-height: 760px;
	}
	.ui-dialog .ui-dialog-content.dialog {
		max-width: 640px !important;
		max-height: 760px !important;
	}	
}

.ui-dialog .ui-dialog-content.dialog {
	max-height: 760px;

	@include breakpoint($tablet){
		max-width: 640px !important;
		max-height: 760px !important;
	}

	@include breakpoint($desktop){ 
		max-height: 600px !important;
	}	
	
}

