$color-cta: #cc2880;
$darker-pink: #9b035a;
/*SHADES OF GRAY*/
$white: rgba(255,255,255,1);
$gray20: rgba(240,240,240,1);
$gray40: rgba(180,180,180,1);
$gray60: rgba(120,120,120,1);
$gray80: rgba(60,60,60,1);
$black: rgba(0,0,0,1);