/*SHADES OF GRAY*/
$white: rgba(255,255,255,1);
$gray20: rgba(60,60,60,1);
$gray40: rgba(120,120,120,1);
$gray60: rgba(180,180,180,1);
$gray80: rgba(240,240,240,1);
$black: rgba(0,0,0,1);
/*RED*/
$red40 : rgba(179,0,30,1);
$red60 : rgba(255,5,47,1);
/*ORANGE*/
$orange40 : rgba(204,60,24,1);
$orange60 : rgba(255,76,31,1);
$orange80 : rgba(255,106,69,1);
/*PINK*/
$pink20 : rgba(102,10,63,1);
$pink40 : rgba(155,3,90,1);
$pink60 :rgba(255,5,147,1);
$pink80 : rgba(255,82,180,1);
$pink100 : rgba(242,174,216,1);
/*BLUE*/
$blue20 : rgba(15,22,38,1);
$blue40 : rgba(23,33,51,1);
$blue60 : rgba(5,93,255,1);
$blue80 : rgba(80,145,255,1);
$blue100 : rgba(176,199,242,1);
/*YELLOW*/
$yellow40 : rgba(204,181,24,1);
$yellow60 : rgba(255,226,31,1);
$yellow80 : rgba(255,250,69,1);
/*GREEN*/
$green40 : rgba(8,179,0,1);
$green60 : rgba(17,255,5,1);
/*PURPLE*/
$purple60 : rgba(178,5,255,1);