/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2018, 1:18:48 PM
    Author     : cmend
*/
$ext-desktop: 1560px;
$desktop: 1040px;
$tablet: 660px;
$mobile: 320px;
