/*VARIABLES*/
/*VARIABLES*/
/*BODY LEVEL*/
@font-face {
  font-family: 'Modern Pics';
  src: url(/crea/Templates/Fonts/modernpics.otf);
}

body {
  margin: 0;
  padding: 0;
}

/*BODY LEVEL*/
/*IMAGES CONTROL*/
.img-L {
  background-size: cover;
}

.img-S {
  background-size: cover;
}

.img-P {
  background-size: cover;
}

.img-TL {
  background-position: top left;
}

.img-TC {
  background-position: top center;
}

.img-TR {
  background-position: top right;
}

.img-ML {
  background-position: center left;
}

.img-MC {
  background-position: center center;
}

.img-MR {
  background-position: center right;
}

.img-BL {
  background-position: bottom left;
}

.img-BC {
  background-position: bottom center;
}

.img-BR {
  background-position: bottom right;
}

.img {
  background-color: #cccccc;
  background-repeat: no-repeat;
}

/*IMAGES CONTROL*/
/*TEMPLATE LEVEL*/
#template {
  display: block;
  height: auto;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

#template a, #template a:link, #template a:visited, #template a:hover, #template a:active {
  color: inherit;
  text-decoration: none;
}

#template main {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.font-icon {
  font-family: 'Modern Pics', cursive;
}

/*TEMPLATE LEVEL*/
/*MAP*/
#map, #map > .wrapper, #map > .wrapper > div {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#map > .wrapper > div > iframe {
  display: block;
  height: 600px;
  overflow: hidden;
  width: 100%;
}

/*MAP*/
/*TEMPLATE LEVEL*/
#template {
  font-family: 'Roboto', sans-serif;
}

#template h1, #template h2, #template h3, #template h4, #template h5, #template h6 {
  font-family: 'Roboto', sans-serif;
  font-variant: small-caps;
  font-weight: normal;
  margin: 0 0 .4em 0;
}

#template h1 {
  font-size: 2em;
}

#template h2 {
  font-size: 1.6em;
}

#template h3 {
  font-size: 1.4em;
}

#template h4 {
  font-size: 1em;
}

#template h5 {
  font-size: 1em;
  margin: 0;
}

#template h6 {
  font-size: 1em;
  margin: 0;
}

#template p, #template ul, #template ol, #template menu, #template li {
  font-size: 1em;
}

#template p, #template ul, #template ol {
  margin: 0 0 .4em 0;
}

@media only screen and (min-width: 560px) {
  #template h1 {
    font-size: 3em;
  }
  #template h2 {
    font-size: 2.2em;
  }
  #template h3 {
    font-size: 1.8em;
  }
  #template h4 {
    font-size: 1.2em;
  }
}

/*TEMPLATE LEVEL*/
/*--TEMPLATE COMPONENTS--*/
/*HERO*/
#hero {
  background-color: #666666;
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#hero > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#hero .img {
  bottom: 0;
  display: block;
  left: 0;
  opacity: .3;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}

#hero .wrapper-content {
  background-color: transparent;
  color: white;
  display: block;
  height: auto;
  margin: 16em auto 4em auto;
  overflow: hidden;
  padding: 0 4%;
  position: relative;
  width: 80%;
  max-width: 1180px;
  z-index: 1;
}

#template.color-orange h1 {
  color: #f0aa00;
}

#template.color-yellow h1 {
  color: #ffe600;
}

#template.color-green h1 {
  color: #d4ff00;
}

.seemore {
  border: 1px solid #444444;
  display: inline-block;
  font-variant: small-caps;
  margin: 1em auto 0 auto;
  padding: 2em 8%;
  width: auto;
}

#template.color-orange .seemore {
  border-color: #f0aa00;
}

#template.color-yellow .seemore {
  border-color: #ffe600;
}

#template.color-green .seemore {
  border-color: #d4ff00;
}

.seemore span {
  display: block;
}

/*HERO*/
/*MENU*/
#menu {
  border-bottom: 1px solid #444444;
  display: block;
  height: auto;
  padding: 1em 0;
  width: 100%;
}

#template.color-orange #menu {
  border-color: #f0aa00;
}

#template.color-yellow #menu {
  border-color: #ffe600;
}

#template.color-green #menu {
  border-color: #d4ff00;
}

#menu > .wrapper {
  display: block;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 4%;
  width: auto;
  max-width: 1180px;
}

#menu h4 {
  display: none;
}

#menu menu {
  display: block;
  list-style-type: none;
  overflow: hidden;
}

#menu menu li {
  float: left;
}

#menu menu li a {
  display: block;
  font-variant: small-caps;
  padding: .6em 1.4em;
  border: 1px solid white;
}

#menu menu li a:hover, #menu ul li a:active {
  border: 1px solid #444444;
}

#template.color-orange #menu menu li a:hover, #template.color-orange #menu menu li a:active {
  border-color: #f0aa00;
}

#template.color-yellow #menu menu li a:hover, #template.color-yellow #menu menu li a:active {
  border-color: #ffe600;
}

#template.color-green #menu menu li a:hover, #template.color-green #menu menu li a:active {
  border-color: #d4ff00;
}

/*MENU*/
/*ITEMS*/
#items {
  display: block;
  height: auto;
  padding: 2em 0 0 0;
  width: 100%;
}

#items > .wrapper {
  display: block;
  height: auto;
  width: 100%;
}

#items header {
  margin: 0 auto 1em auto;
  padding: 0 4%;
  width: auto;
  max-width: 1180px;
}

.items {
  margin: 0 auto;
  padding: 0 4%;
  width: auto;
  max-width: 1180px;
}

.item {
  display: block;
  height: auto;
  margin: 0 auto 1em auto;
  position: relative;
  width: 100%;
}

.item .img {
  display: block;
  height: 150px;
  overflow: hidden;
  width: 100%;
}

.item .wrapper-content {
  display: block;
}

@media only screen and (min-width: 560px) {
  .items {
    display: grid;
  }
  .items.one {
    grid-template-columns: 100%;
  }
  .items.two {
    grid-gap: 0 4%;
    grid-template-columns: 48% 48%;
  }
  .items.three {
    grid-gap: 0 4%;
    grid-template-columns: 30.6% 30.7% 30.6%;
  }
}

/*ITEMS*/
/*ABOUT US*/
#aboutus {
  background-color: #444444;
  color: black;
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#template.color-orange #aboutus {
  background-color: #f0aa00;
}

#template.color-yellow #aboutus {
  background-color: #ffe600;
}

#template.color-green #aboutus {
  background-color: #d4ff00;
}

#aboutus > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#aboutus .img {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

#aboutus .wrapper-content {
  display: block;
  margin: 12em auto 12em auto;
  overflow: hidden;
  position: relative;
  width: 80%;
  max-width: 1180px;
  z-index: 1;
}

/*ABOUT US*/
/*GALERIA*/
#gallery {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#gallery header {
  margin: 2em auto 1em auto;
  width: 80%;
  max-width: 1180px;
}

#gallery header h2 {
  color: #444444;
}

#template.color-orange #gallery header h2 {
  color: #f0aa00;
}

#template.color-yellow #gallery header h2 {
  color: #ffe600;
}

#template.color-green #gallery header h2 {
  color: #d4ff00;
}

.gallery {
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 92%;
  max-width: 1180px;
}

.gallery .img {
  display: block;
  height: 150px;
  margin: 0 auto 1em auto;
  width: 100%;
}

@media only screen and (min-width: 560px) {
  .gallery .img {
    float: left;
    height: 200px;
    margin: 0 2% 1em 2%;
    width: 46%;
  }
  .gallery.gallery_slider .img {
    display: block;
    margin: 0 2% 1em 2%;
    width: 96%;
  }
}

.gallery-nav {
  bottom: 0;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.gallery-nav > span {
  background-color: white;
  border-radius: 1em;
  cursor: pointer;
  font-size: 2em;
  padding: .2em .4em;
  top: 48%;
  position: absolute;
}

.gallery-nav-prev {
  left: 5%;
}

.gallery-nav-next {
  right: 5%;
}

/*GALERIA*/
/*CTA*/
#cta {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#cta > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#cta .img {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

#cta .wrapper-content {
  color: #444444;
  display: block;
  height: auto;
  margin: 12em auto;
  position: relative;
  width: 80%;
  max-width: 1086px;
  z-index: 1;
}

#cta .wrapper-content ul {
  list-style-type: none;
}

#template.color-orange #cta .wrapper-content {
  color: #f0aa00;
}

#template.color-yellow #cta .wrapper-content {
  color: #ffe600;
}

#template.color-green #cta .wrapper-content {
  color: #d4ff00;
}

/*CTA*/
/*FOOTER*/
#template footer {
  height: auto;
  display: block;
  overflow: hidden;
  padding: 2em 0 1em 0;
  width: 100%;
}

#template footer header {
  margin: 0 auto;
  width: 60%;
  max-width: 1086px;
}

#template footer header p {
  color: #444444;
  font-size: .8em;
}

#template.color-orange footer header p {
  color: #f0aa00;
}

#template.color-yellow footer header p {
  color: #ffe600;
}

#template.color-green footer header p {
  color: #A4DD00;
}

#template footer section {
  margin: 0 auto;
  width: 60%;
  max-width: 1086px;
}

#template footer section {
  display: block;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  width: auto;
}

@media only screen and (min-width: 760px) {
  #template footer section {
    width: 92%;
    max-width: 1280px;
  }
}

#template footer .column {
  margin: 1em auto 0 auto;
  width: auto;
}

@media only screen and (min-width: 760px) {
  #template footer .column {
    float: left;
    margin-left: 4%;
    text-align: left;
    width: 30.6%;
  }
  #template footer section div:first-child {
    margin-left: 0;
  }
}

#template footer .column ul {
  font-size: .8em;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: auto;
  max-width: 240px;
}

#template footer .column h6 {
  margin: 0 auto;
  width: auto;
  max-width: 240px;
}

/*FOOTER*/
/*DISCLAIMER*/
#disclaimer {
  background-color: #1e1e1e;
  color: white;
  display: block;
  height: auto;
  overflow: hiddden;
  width: 100%;
}

#template.color-orange #disclaimer {
  color: #f0aa00;
}

#template.color-yellow #disclaimer {
  color: #ffe600;
}

#template.color-green #disclaimer {
  color: #a4dd00;
}

#disclaimer p {
  font-size: .8em;
  margin: 0 auto;
  padding: 1.4em 0;
  width: 16em;
}

@media only screen and (min-width: 760px) {
  #disclaimer p {
    text-align: left;
    padding: 1.4em 4%;
    width: auto;
  }
}

/*DISCLAIMER*/
/*--TEMPLATE COMPONENTS--*/

/*# sourceMappingURL=styles.css.map */