/*VARIABLES*/
/*VARIABLES*/
/*MIXINS*/
/*MIXINS*/
/*BODY LEVEL*/
@font-face {
  font-family: 'Modern Pics';
  src: url(/crea/Templates/Fonts/modernpics.otf);
}

@font-face {
  font-family: 'Web Symbols';
  src: url(/crea/Templates/Fonts/WebSymbols-Regular.otf);
}

body {
  margin: 0;
  padding: 0;
}

/*BODY LEVEL*/
/*IMAGES CONTROL*/
.img-L {
  background-size: cover;
}

.img-S {
  background-size: cover;
}

.img-P {
  background-size: cover;
}

.img-TL {
  background-position: top left;
}

.img-TC {
  background-position: top center;
}

.img-TR {
  background-position: top right;
}

.img-ML {
  background-position: center left;
}

.img-MC {
  background-position: center center;
}

.img-MR {
  background-position: center right;
}

.img-BL {
  background-position: bottom left;
}

.img-BC {
  background-position: bottom center;
}

.img-BR {
  background-position: bottom right;
}

.img {
  background-color: #cccccc;
  background-repeat: no-repeat;
}

/*IMAGES CONTROL*/
/*TEMPLATE LEVEL*/
#template {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

#template a, #template a:link, #template a:visited, #template a:hover, #template a:active {
  color: inherit;
  text-decoration: none;
}

#template main {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.font-icon {
  font-family: 'Modern Pics', cursive;
}

/*TEMPLATE LEVEL*/
/*MAP*/
#map, #map > .wrapper, #map > .wrapper > div {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#map > .wrapper > div > iframe {
  display: block;
  height: 600px;
  overflow: hidden;
  width: 100%;
}

/*MAP*/
/*TEMPLATE LEVEL*/
#template {
  font-family: 'Roboto', sans-serif;
}

#template h1, #template h2, #template h3, #template h4, #template h5, #template h6 {
  font-family: 'Roboto', sans-serif;
  font-variant: small-caps;
  font-weight: normal;
  margin: 0 0 .4em 0;
}

#template h1 {
  font-size: 2em;
}

#template h2 {
  font-size: 1.6em;
}

#template h3 {
  font-size: 1.4em;
}

#template h4 {
  font-size: 1em;
}

#template h5 {
  font-size: 1em;
  margin: 0;
}

#template h6 {
  font-size: 1em;
  margin: 0;
}

#template p, #template ul, #template ol, #template menu, #template li {
  font-size: 1em;
}

#template p, #template ul, #template ol {
  margin: 0 0 .4em 0;
}

@media only screen and (min-width: 560px) {
  #template h1 {
    font-size: 3em;
  }
  #template h2 {
    font-size: 2.2em;
  }
  #template h3 {
    font-size: 1.8em;
  }
  #template h4 {
    font-size: 1.2em;
  }
}

/*TEMPLATE LEVEL*/
/*--TEMPLATE COMPONENTS--*/
/*HERO*/
#hero {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  background-color: #666666;
}

#hero > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#hero .img {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: .3;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

#hero .wrapper-content {
  background-color: transparent;
  color: white;
  display: block;
  height: auto;
  margin: 16em auto 4em auto;
  overflow: hidden;
  padding: 0 4%;
  position: relative;
  width: 80%;
  max-width: 1180px;
  z-index: 1;
}

.seemore {
  border: 1px solid #444444;
  display: inline-block;
  font-variant: small-caps;
  margin: 1em auto 0 auto;
  padding: 2em 8%;
  width: auto;
  display: none;
}

.seemore span {
  display: block;
}

#branding {
  display: block;
  height: 5em;
  overflow: hidden;
  width: 100%;
}

#branding > img {
  display: block;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  width: auto;
  max-height: 100px;
}

/*HERO*/
/*MENU*/
#menu {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #444444;
  padding: 1em 0;
}

#menu > .wrapper {
  display: block;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 4%;
  width: auto;
  max-width: 1180px;
}

#menu h4 {
  display: none;
}

#menu menu {
  display: block;
  list-style-type: none;
  overflow: hidden;
}

#menu.toggle menu {
  clear: both;
  display: none;
  float: right;
  text-align: right;
  width: auto;
}

#menu menu li {
  float: left;
}

#menu.toggle menu li {
  display: block;
}

#menu menu li a {
  display: block;
  font-variant: small-caps;
  padding: .6em 1.4em;
  border: 1px solid white;
}

#menu menu li a:hover, #menu ul li a:active {
  border: 1px solid #444444;
}

#menu-icon {
  cursor: pointer;
  display: none;
  font-family: 'Web Symbols';
}

#menu.toggle #menu-icon {
  display: block;
  float: right;
  font-family: 'Web Symbols';
}

/*MENU*/
/*ITEMS*/
#items {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  padding: 2em 0 0 0;
}

#items > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#items header {
  margin: 0 auto 1em auto;
  padding: 0 4%;
  width: auto;
  max-width: 1180px;
}

.items {
  margin: 0 auto;
  padding: 0 4%;
  width: auto;
  max-width: 1180px;
}

.item {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  margin: 0 auto 1em auto;
  position: relative;
}

.item .img {
  display: block;
  height: 450px;
  overflow: hidden;
  width: 100%;
}

.item .wrapper-content {
  display: block;
}

@media only screen and (min-width: 560px) {
  .items {
    display: grid;
  }
  .items.one {
    grid-template-columns: 100%;
  }
  .items.two {
    grid-gap: 0 4%;
    grid-template-columns: 48% 48%;
  }
  .items.three {
    grid-gap: 0 4%;
    grid-template-columns: 30.6% 30.7% 30.6%;
  }
}

/*ITEMS*/
/*ABOUT US*/
#aboutus {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  background-color: #444444;
  color: black;
}

#aboutus > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#aboutus .img {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

#aboutus .wrapper-content {
  display: block;
  margin: 12em auto 12em auto;
  overflow: hidden;
  position: relative;
  width: 80%;
  max-width: 1180px;
  z-index: 1;
}

/*ABOUT US*/
/*GALERIA*/
#gallery {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#gallery header {
  margin: 2em auto 1em auto;
  width: 80%;
  max-width: 1180px;
}

#gallery header h2 {
  color: #444444;
}

.gallery {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}

.gallery .img {
  display: block;
  height: 620px;
  overflow: hidden;
  width: 100%;
  min-width: 220px;
}

@media only screen and (min-width: 760px) {
  .gallery {
    width: 96%;
  }
  .gallery .img {
    float: left;
    margin: 0 2% 1em 2%;
    width: 46%;
  }
  .gallery.gallery_slider .img {
    display: block;
    margin: 0 2% 1em 2%;
    width: 96%;
  }
}

.gallery-nav {
  bottom: 0;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.gallery-nav > span {
  background-color: white;
  border-radius: 1em;
  cursor: pointer;
  font-size: 2em;
  padding: .2em .4em;
  top: 48%;
  position: absolute;
}

.gallery-nav-prev {
  left: 5%;
}

.gallery-nav-next {
  right: 5%;
}

/*GALERIA*/
/*CTA*/
#cta {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#cta > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#cta .img {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

#cta .wrapper-content {
  color: #444444;
  display: block;
  height: auto;
  margin: 12em auto;
  position: relative;
  width: 80%;
  max-width: 1086px;
  z-index: 1;
}

#cta .wrapper-content ul {
  list-style-type: none;
}

/*CTA*/
/*FOOTER*/
#template footer {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  padding: 2em 0 1em 0;
}

#template footer header {
  margin: 0 auto;
  width: 60%;
  max-width: 1086px;
}

#template footer header p {
  color: #444444;
  font-size: .8em;
}

#template footer section {
  margin: 0 auto;
  width: 60%;
  max-width: 1086px;
}

#template footer section {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 760px) {
  #template footer section {
    width: 92%;
    max-width: 1280px;
  }
}

#template footer .column {
  margin: 1em auto 0 auto;
  width: auto;
}

@media only screen and (min-width: 760px) {
  #template footer .column {
    float: left;
    margin-left: 4%;
    text-align: left;
    width: 30.6%;
  }
  #template footer section div:first-child {
    margin-left: 0;
  }
}

#template footer .column ul {
  font-size: .8em;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: auto;
  max-width: 240px;
}

#template footer .column h6 {
  margin: 0 auto;
  width: auto;
  max-width: 240px;
}

/*FOOTER*/
/*DISCLAIMER*/
#disclaimer {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  background-color: #1e1e1e;
  color: white;
}

#disclaimer p {
  font-size: .8em;
  margin: 0 auto;
  padding: 1.4em 0;
  width: 16em;
}

@media only screen and (min-width: 760px) {
  #disclaimer p {
    text-align: left;
    padding: 1.4em 4%;
    width: auto;
  }
}

/*DISCLAIMER*/
/*--TEMPLATE COMPONENTS--*/

/*# sourceMappingURL=styles.css.map */