@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "../../scss/base/_variables";
@import "../../scss/base/_colors";
@import "../../scss/mixins/_border-radius"; 
@import "../../scss/components/_modal";
@import "../../scss/components/_buttons"; 
@import "../../scss/components/_inputFields"; 
@import "../../scss/components/login-paginas";
@import "../../scss/partials/_errors";
/*MIXINS*/
@mixin box_block ($width: 100%) {
	display: block;
	height: auto;
	overflow: hidden;
	width: $width;
}
@mixin box_absolute () {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
/*MIXINS*/
* {
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
    font-weight: normal;
	margin: 0;
	padding: 0;
}
body { 
	font-size: 150%;
	&.init{ overflow: hidden; }
}
body * { font-size: inherit; }
a { text-decoration: none; }
/**/
#component_templates { display: none; }
#template-cont { @include box_block(); }
#app {
	@include box_block();
	@include box_absolute();
	pointer-events: none;
	z-index: 101;
}
/*APP COVER*/
#app-cover {
	@include box_block();
	@include box_absolute();
	background-color: $white;
	color: $gray20;
	overflow-y: scroll; 
	pointer-events: auto;
	position: fixed; 
	z-index: 1002;
	> div {
		@include box_block(80%);
		margin: 4rem auto 2rem auto;
		max-width: $desktop;
		text-align: center;
	}
	label{
		display: block;
		margin-bottom: 1rem;
	}
	.app-cover-start{
		img.logo, .actions{ position: absolute; }		
		img.logo{
			top: 1rem;
			left: 1rem;
			width: 5rem;			
		}
		.actions{			
			right: 1rem;
			top: 1rem;
			a{
				color: $pink60;
				cursor: pointer;
				float: left;
				padding-left: 1rem;
				font-size: .75rem;
				i {
					display: block;
					font-size: 1rem;
					margin-bottom: .5rem;
				}
			}
		}
		.control-desing-cont{
			display: grid;
			grid-gap: 2rem 2rem;
			overflow: hidden;
			margin-top: 1rem;
			@include breakpoint($tablet){ grid-template-columns: 1fr 1fr;	}
			@include breakpoint($desktop){ grid-template-columns: 1fr 1fr 1fr 1fr; }
		}
		.control-design-thumb {
			@include border_radius(.5rem);
			background-color: $gray80;
			cursor: pointer;
			margin: 0 auto;
			max-width: 12rem;
			padding: 2rem 1rem;
			width: auto;
			&.thumb-selected i::before{ content: "\f192"; }
			&:hover { background-color: $pink100; }
			&.thumb-selected { background-color: $pink80; }
			aside{ 
				margin-bottom: 1rem;
				overflow: hidden;
			}
			img {
				display: block;
				width: 100%;
			}
		}
		.next{
			clear: both;
			cursor: pointer;
			margin-top: 1rem;
		}
	}
}
.app-new-start { 
	@extend .modal-login;
	font-size: 1rem;
	.boton { margin: 2rem auto; }
}
/*APP COVER*/
/*APP COVER FINISH*/
.app-cover-finish{
	> div {
		> img{ width: 5rem; }
		.extra-info{								
			display: block;
			margin: 1rem 0;
		}
	}
	h3{
		color: $gray40;
		font-size: 2rem;
	}
	.url .siteName{
		color: $gray80;
		font-size: 2rem;
		margin: 1rem auto;
	}
	#back {
		display: block;
		margin-top: 2rem;
		width: 100%;
	}
}
/*APP COVER FINISH*/
/*PACKAGES*/
.paquetes{
	@include box_block();
	display: grid;
	grid-gap: 2rem 2rem;
	grid-template-columns: 1fr;
	@include breakpoint($desktop){ grid-template-columns: 1fr 1fr 1fr; }
}
.app-cover-finish-package {
	@include border_radius(.5rem);
	background-color: $pink40;
	color: $white;
	padding: 1rem;
	text-align: center;
	width: auto;
	@include breakpoint($tablet){
		display: grid;
		grid-gap: 1rem 1rem;
		grid-template-columns: 1fr 1fr 1fr;
	}
	@include breakpoint($desktop){ display: block; }
	hr { margin: 0 auto; width: 10%; }
	.price{
		display: block;
		font-size: 3rem;
		font-weight: bold;
		margin-top: 2rem;	
		+ span{
			display: block;
			font-size: 1rem;
			margin-bottom: 1rem;
		}
	}
	ul{
		font-size: 1rem;	
		height: 12rem;
		text-align: center;
	}
	.finish{
		background: none;				
		border-radius: 0;
		cursor: pointer;
		display: block;
		height: 5rem;
		margin-top: 2rem;
		width: 100%;					
	}
	button.finish{
		padding: 0px 1rem;
		border: 1px solid $white; 
		i, span{ vertical-align: middle; }
		i{ font-size: 2rem; }
		&:hover{
			background: $white;
			color: $pink40;
		}
	}
}		
/*PACKAGES*/
/*APP CONTROL*/
#app-control {
	@include box_block(auto);
	@include box_absolute();
	background-color: $gray80;
	color: $gray20;
	pointer-events: auto;
	position: fixed;
	z-index: 103;
	@include breakpoint($tablet){
		@include border-radius(1rem);
		bottom: 4rem;
		left: 4rem;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		top: 4rem;
		right: 4rem;
	}
	@include breakpoint($desktop){
		left: 8rem;
		right: 8rem;
	}
	@include breakpoint($ext-desktop){
		left: 12rem;
		right: 12rem;
	}
}
#app-control.view {
	@include border-radius(0);
	bottom: auto;
	left: 0;
	top: 0;
	right: 0;
	#app-control-nav, .app-control-step { display: none; }
}
/*APP CONTROL*/
/*APP CONTROL STEP*/
.app-control-step {
	font-size: 1rem;
	height: calc(100% - 10rem);
	margin: 1rem 2rem 4rem 2rem;
	padding: 1rem;
	overflow-y: auto;
	width: auto;
	>div {
		@include box_block();
		textarea, input[type="text"].noIcon, select{
			border-color: $gray80;
			border-radius: .5rem;
			border-style: solid;
			box-sizing: border-box;
			margin: 0 0 1rem 0;
			padding: 1rem;
			width: 100%;
		}
		textarea { width: 100%; height: 8rem; }
		.inp-cont { position: relative; }
		input[type="text"].noIcon { height: auto; }
		select { margin-bottom: 1rem; }
	}
	h2{
		font-size: 2rem;
		margin-bottom: 1rem;
		&.middle{ margin: 1rem 0; }
	}
	aside {
		margin: 1rem auto;
	}
	.item-control h2{
		&.children{
			padding-right: 1rem;
			position: relative;
		}
		a {
			color: $pink40;
			position: absolute;
			right: 1rem;
			top: 1rem;
		}
	}
}
/*APP CONTROL STEP*/
/*TOOLTIP*/
.app-control-step-tooltip {
	@include border-radius(.5rem);	
	@include box_block(auto);
	border: 1px solid $pink60;
	cursor: pointer;
	display: inline;
	font-size: 1rem;
	margin-left: .5rem;
	padding: 0 .5rem;
	vertical-align: super;
}
.app-control-step-tooltip-info {
	@include border-radius(.5rem);	
	background-color: $white;
	border: 1px solid $pink60;
	display: none;
	padding: .5rem;
	margin-bottom: 1rem;
}
.app-control-step-tooltip-info.active { display: block; }
/*TOOLTIP*/
/*CONTROL COLOR*/
#inp-color {
	border: none;
	cursor: pointer;
	height: 5rem;
	width: 5rem;
}
#app-control-palettes {
	@include box_block();
	display: grid;
	grid-gap: 1rem 1rem;
	grid-template-columns: 1fr;
	@include breakpoint($tablet){ grid-template-columns: 1fr 1fr; }
	@include breakpoint($desktop){ grid-template-columns: 1fr 1fr 1fr; }
	@include breakpoint($ext-desktop){ grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }		
}
.control-color {
	@include box_block();
	height: 8rem;
	h4 {
		font-weight: normal;
		margin: 0 0 .5rem 0;
	}
}
.control-color-thumb {
	border: 1px solid $gray80;
	cursor: pointer;
	display: block; 
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: calc(100% - 2px);
	&.thumb-selected { border: 1px solid $pink60; }
}
.control-color-thumb-bg {
	display: block;
	float: left;
	height: 6rem;
	overflow: hidden;
}
/*CONTROL COLOR*/
/*CONTROL IMAGES*/
.app-control-images {
	display: block;
	height: auto;
	overflow: visible;
	position: relative;
	width: auto;
	> p {
		width: 100%;
		text-align: left;
		a {
			text-decoration: underline;
			color: $gray60;
		}
	}
}
[id^="app-control-images"] {
	margin: 1rem auto;
	overflow: auto;	
}
.photo-container{		
	display: grid;
	height: auto;
	overflow: hidden;
	width: auto;
	grid-template-columns: 1fr;
	@include breakpoint($tablet){ grid-template-columns: 1fr 1fr; }
	@include breakpoint($desktop){ grid-template-columns: 1fr 1fr 1fr; }
	@include breakpoint($ext-desktop){ grid-template-columns: 1fr 1fr 1fr 1fr; }
}
.img-thumb {	
	cursor: pointer;
	height: 10rem;
	position: relative;
	z-index: 101;
	@include breakpoint($desktop){
		height: 15rem;
		&:hover .img-thumb-autor { display: block; }
	}	
}
.img-thumb-cont {
	@include box_block();
	background-color: $black;
	background-position: center center;
	background-size: cover;
	height: 100%;
}
.img-thumb-cont-zoom {
	background-color: $white;
	bottom: 0;
	height: 2rem;
	position: absolute;
	right: 0;
	width: 2rem;
	z-index: 2;
	i { margin: .5rem 0 0 .5rem; }
}
.img-thumb-overlay {
	@include box_block();
	@include box_absolute();
	display: none;
	z-index: 1;
}
.img-thumb-autor {
	background: hsla(0, 0, 0, 0.5);
	padding: .5rem;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;
	@include breakpoint($desktop){ display: none; }
	a {
		color: $white;
		font-size: .75rem;
		text-decoration: underline;
	}
}
.thumb-selected { z-index: 102; }
.thumb-selected .img-thumb-overlay {
	background-color: rgba(255,255,255,.8);
	display: block;
}
.img-thumb.selected .img-thumb-overlay {
	background-color: rgba(255,255,255,.8);
	display: block;
}
.img-thumb-overlay>span {
	color: $black;
	display: block;
	font-size: 2rem;
	font-weight: bold;
	padding-top: 1rem;
	text-align: center;
}
.img-thumb-zoomed {
	@include box_block(96%);
	margin: 0 auto;
}
/*CONTROL IMAGES*/
/*SITE NAME*/
.site-name-container{
	position: relative;
	text-align: left;
	input[type="text"]{
		background: none;
		border: none;
		border-bottom: 1px solid $gray20;
		padding: .5rem .5rem .25rem .5rem;
		width: 40%;
	}
	.form-error{ text-align: left; }
}
/*SITE NAME*/
/*APP CONTROL NAV*/
#app-control-nav {
	@include box_block();
	bottom: 0;
	position: absolute;
	text-align: center;
	#control-view-nav {
		float: left;
		margin-top: 1rem;
		position: relative;
		overflow: hidden;
		width: 100%;
		background: azure;

		a {
			bottom: 0;
			margin: .5rem auto;
			position: absolute;
			z-index: 101;
			&.prev{ left: 1rem; }
			&.next{ right: 1rem; }
		}
		a.disabled {
			background-color: $gray40;
			cursor: default;
		}
	}
}
/*APP CONTROL NAV*/
/*CONTROL VIEW INDEX*/
#control-view-index {
	display: inline-block;
	margin: 1.5rem auto 0 auto;
	overflow: hidden;
	width: auto;
	+ a { float: right; }
}
.control-view-index-step {
	background-color: $gray60;
	cursor: pointer;
	float: left;
	height: .5rem;
	margin: 1.5rem .5rem .5rem 0;
	overflow: hidden;
	width: .5rem;
	@include border-radius(.5rem);
}
.control-view-index-step.current { background-color: $pink60; }
/*CONTROL VIEW INDEX*/
/*APP SWITCH*/
#app-switch {
	@include box_block(auto);
	background-color: $pink60;
	color: $white;
	font-size: .75rem;
	padding: .5rem 1rem;
	text-align: right;
	@include breakpoint($tablet){ font-size: 1rem; }
	li { display: inline; }
    a{
		cursor: pointer;
		margin-left: 1rem;
		span { margin-left: .5rem; }
	}
}
/*APP SWITCH*/
.file-upload{
	display: block;
	margin: 1rem 0;    
    overflow: hidden;
	text-align: left;
    input[type=file]{ display: none; }
	input[type=submit]{		
		margin: 1rem 0 0 0;
		padding: 1rem;		
	}
	input[type=submit],button{
		background-color: $white;
		border: 1px solid $gray80;
		border-radius: 1rem;
		color: $gray20;
		cursor: pointer;
		float: right;
		font-weight: normal;	
		&:disabled{ opacity: 0.3; }
	}
	input[type=submit]{ margin: 1rem; }
	p{
		background-color: $gray80;
		margin: 0;
		overflow: hidden;
		padding: 1rem;
		span{
			width: 100%;
			display: inline-block;
			margin-top: 1rem 0;
			color: $gray40;
			@include breakpoint($desktop){ width: 70%; }
		}
	}
	button {
		width: 100%;
		margin-top: 1rem;
		@include breakpoint($desktop){
			width: auto;
			margin-top: 0;
		}		
	}
}
.form-label-note{
    display: block;
    margin-bottom: 1rem;	
}
.nav-btns{
	color: $pink60;	
	display: block;
	font-size: 2rem;
	text-align: center;
}
/**/
#single-modal {
	background-color: $white;
	bottom: auto;
	display: none;
	height: auto;
	left: 5%;
	overflow: hidden;
	padding: 2rem 0;
	position: fixed;
	right: 5%;
	top: 5%;
	width: 90%;
	z-index: 1004; 
}
#single-modal i {
	cursor: pointer;
	height: 2rem;
	padding-top: 1rem;
	position: absolute;
	right: 0;
	top: 0;
	width: 2rem;
	z-index: 101;
}
/**/
/*Modal*/
.ventana-login {
	@extend .modal-login;
	@include login-paginas;
}
.final-msgs{
	@extend .modal-login;
}
// Map
.map-error, .map-input{
	margin-top: 0px;
    position: relative;
    top: -1rem;	
}
/*BRAND NAME*/
.brand-name {
	h4{
		a {
			color: $pink20;
			font-size: 2rem;
			margin-left: 1rem;
		}
	}
	aside.inactive { opacity: .3; }
	.form-error{
		text-align: left;
		position: absolute;
		top: -3rem;
		left: 0;
		@include breakpoint($desktop){ top: -1rem; }
	}
	> div {
		position: relative;
		padding-top: 1rem;
		@include breakpoint($tablet){ padding-top: 0; }		
	}
}
/*BRAND NAME*/