@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";

@import "../../scss/base/_variables";
@import "../../scss/base/_colors";

@import "../../scss/mixins/_border-radius"; 
 
@import "../../scss/components/_modal";
@import "../../scss/components/_buttons"; 
@import "../../scss/components/_inputFields"; 

@import "../../scss/partials/_errors";
/**/
body { 
	background-color: #666;
	color: #444;
	font-size: 1.2em;
	margin: 0;
	padding: 0;

	&.init{
		overflow: hidden;
	}
	
}
body, input, textarea, select, button {
	font-family: 'Open Sans', sans-serif;
}
ul, ol, nav {
	list-style-type: none;
	padding: 0;
}
a {
	text-decoration: none;
	cursor: pointer;
}
/**/
.template { display: none; }
#template-cont {
	display: block; 
	height: auto;
	width: 100%; 
}
#app {
	bottom: 0;
	display: block;
	height: 100%;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1;
}
/**/
#app-cover {
	background-color: rgba(255, 255, 255, 1);
	bottom: 0;
	display: block;
	height: 100%;
	left: 0;
	pointer-events: auto;
	position: fixed; 
	right: 0;
	top: 0;   
	width: 100%;
	z-index: 1001;
	overflow-y: scroll; 

	@include breakpoint($desktop){
		overflow: hidden;
	}

    > div {
		display: block;
		height: auto;
		margin: 7em auto;
		overflow: hidden;
		text-align: center;
		width: 80%; 
    }
	label{
		display: block;
		margin-bottom: 15px;
	}
	.app-cover-finish-package {
		border: 1px dotted #ADADAD;
		margin: 1em 0;
		padding: 2em;
	}
	.control-design-thumb {
		float: left;
		padding: 5px 10px;
		overflow: visible;
		box-sizing: border-box;
		width: 50%;
		cursor: pointer;

		@include breakpoint($tablet){
			width: 200px;
		}

		&:hover{
			background-color: #EEE;
		}

		aside{
			overflow: hidden;
			width: 180px;
			height: 180px;
			max-width: 100%;
			margin: 0 auto 20px auto;
		}

		img {			
			display: block;
			height: 100%;
		}
			
	}
	.app-cover-start{
		width: 100%;

		@include breakpoint($tablet){
			width: 600px;
		}

		@include breakpoint($desktop){
			width: 1000px;
		}

		img.logo{
			position: absolute;
			top: 20px;
			left: 50px;
			width: 100px;			
		}

		.thumb-selected +  i::before{
			content: "\f192";
		}

		.control-desing-cont{
			overflow: hidden;
		}

		.next{
			margin-top: 100px;
		}
	}
}

.app-new-start { 
	@extend .modal-login;
}
/**/
#app-control {
	background-color: #FFF;
	bottom: 0;
	color: #666;
	display: block;
	height: 100%;
	left: 0;
	overflow: hidden;
	pointer-events: auto;
	position: fixed;
	right: 0; 
	top: 0; 
	width: 100%; 
	z-index: 2;
	max-width: 100%;
	max-height: 100%;
	
	> .app-control-step {
		display: block;
		height: 70%;
		margin: 40px 2% auto 2%;
		overflow-y: auto;
		text-align: center;
		width: 96%;
	}
	.app-control-step>div {
		margin: auto;
		width: 80%;
		
		textarea {
			width: 96%; height: 8em;
			margin: 0 0 5% 0;
			padding: .5em 2%;
			font-size: 1em;
		}
		input[type="text"] {
			height: auto;
			font-size: 1.2em;
			margin: 0 0 5% 0;
			padding: .5em 4%;
			width: 92%; 
		}
		select {
			border-style: solid;
			height: auto;
			font-size: 1.2em;
			margin: 0 0 5% 0;
			padding: .5em 4%;
			width: 92%; 
		}
		.app-control-step-tooltip {
			background-color: $color-cta;
			color: #FFF;
			cursor: pointer;
			font-size: .8em;
			height: auto;
			margin-left: .4em;
			overflow: hidden;
			padding: .2em .4em;
			width: auto;
			@include border-radius(.2em);	
		}
		.app-control-step-tooltip-info {
			background-color: #FFFFDA;
			display: none;
			padding: .2em;
		}
		.app-control-step-tooltip-info.active {
			display: block;
		}
	}
	.control-color {
		float: left;
		padding: 5px;
		overflow: visible;
		text-align: center;
		width: 33.33%;
		box-sizing: border-box;

		@include breakpoint($tablet){
			width: 25%;
		}

		@include breakpoint($desktop){
			width: 20%;
		}

		@include breakpoint($ext-desktop){
			width: 16.66%;
		}		
		
		@include breakpoint($ext-ext-desktop){
			width: 14.28%;
		}			

	}
	.control-color-thumb {
		cursor: pointer;
		display: block; 
		height: auto;
		margin: 0 5%;
		outline: 1px solid #DADADA;
		overflow: visible;
		padding: 1em 5%;
		width: 80%; 
	}
	.control-color-thumb-bg {
		display: block;
		height: 24px;
		overflow: hidden;
		width: 100%; 

		@include breakpoint($tablet){
			height: 27px;
		}		

		@include breakpoint($desktop){
			height: 30px;
		}

		@include breakpoint($ext-desktop){
			height: 35px;
		}		
		
		@include breakpoint($ext-ext-desktop){
			height: 40px;
		}	

	}
	.control-color-thumb-content {
		display: block;
		height: 8px;
		margin: 8px 10%;
		overflow: hidden;
		width: 80%;
	} 
	#app-control-palettes {
		text-align: left;
		overflow: hidden;
	}
	.palette-color {
		display: inline-block;
		height: 1em;
		overflow: hidden;
		width: 1em;
	}
	.app-control-images {
		display: block;
		height: auto;
		overflow: visible;
		position: relative;
		width: auto;
	}
	[id^="app-control-images"] {
		display: block;
		height: auto;
		overflow: visible;
		position: relative;
		width: auto;
	}
	.photo-container{
		margin: 10px 0;
		overflow: hidden;
	}
	.img-thumb {	
		cursor: pointer;
		float: left;
		height: 120px;
		overflow: visible;
		position: relative;
		width: 120px;
		z-index: 1;
	}
	.thumb-selected {
		outline: 3px solid blue;
		z-index: 2;
	}
	.img-thumb-cont {
		background-color: #000000;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto 200%;
		display: block;
		height: 100%;
		overflow: hidden;
		width: 100%;
	}
}
#app-control-nav {
	background-color: #FFF;
	bottom: 0;
	display: block;
	height: auto;
	overflow: hidden;
	position: absolute;
	width: 100%;

	#control-view-nav {
		float: left;
		height: 50px;
		overflow: hidden;
		width: 100%;
		margin-bottom: 30px;
		position: relative;
		padding-top: 10px;

		@include breakpoint($tablet){
			margin-bottom: 0;
		}

		a {
			position: absolute;
			bottom: 0;
			margin: .4em;
			z-index: 100;

			&.prev{
				left: 0;
			}
	
			&.next{
				right: 0;
			}

		}


		a.disabled {
			background-color: #999;
			cursor: default;
		}

	}
	#control-view-index {
		display: none;
		overflow: hidden;
		width: auto;

		+ a {
			float: right;
		}
	}
	.control-view-index-item {
		background-color: #DADADA;
		float: left;
		height: 1em;
		margin: 1em .4em .6em 0;
		overflow: hidden;
		width: 1em;
		@include border-radius(.5em);
	}
	.control-view-index-item.current {
		background-color: $color-cta;
	}
}
#app-switch {
    height: 40px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    color: #fff;
    text-align: center;
	background-color: #cc2880;
	
	a{
		font-size: 22px;
		font-weight: bold;
		line-height: 40px;
		width: 100%;
		display: block;

		&.switch-edit i{
			font-size: 25px;
			vertical-align: initial;			
		}

		&.switch-view{
			font-size: 40px;
			vertical-align: bottom;
		}

	}

}
#app-control.view {
    height: 40px;
    overflow: hidden;
    margin-top: 0;
    top: 0;
	
	@include breakpoint($desktop){		
		@include border-radius(0 0 10px 10px);
	}

}
/**/
@media screen and (min-width: 660px) {
	#app-control {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		height: 600px;
		left: 50%;
		top: 50%;
		width: 85%;
		margin-left: -42.5%;
		margin-top: -300px;			
		@include border-radius(10px);
	}
	#app-control.top {
		bottom: 55%;
		top: 5%;
	}
	#app-control-nav {
		#control-view-index {
			display: block;
			position: absolute;
			bottom: 20px;
			left: 0;
		}
		#app-switch {
			width: auto; 
		}
	}	
}

.file-upload{
	display: block;
	text-align: left;
	margin-top: 20px;

	span{
		display: block;
	}
}

.form-label-note{
    display: block;
    font-size: 14px;
    margin-bottom: 10px;	
}

.nav-btns{
    display: block;
    text-align: center;
	font-size: 35px;
	color: $color-cta;	
}

/**/