/*VARIABLES*/
/*VARIABLES*/
/*BODY LEVEL*/
@font-face {
  font-family: 'Modern Pics';
  src: url(/crea/Templates/Fonts/modernpics.otf);
}

body {
  margin: 0;
  padding: 0;
}

/*BODY LEVEL*/
/*IMAGES CONTROL*/
.img-L {
  background-size: cover;
}

.img-S {
  background-size: cover;
}

.img-P {
  background-size: cover;
}

.img-TL {
  background-position: top left;
}

.img-TC {
  background-position: top center;
}

.img-TR {
  background-position: top right;
}

.img-ML {
  background-position: center left;
}

.img-MC {
  background-position: center center;
}

.img-MR {
  background-position: center right;
}

.img-BL {
  background-position: bottom left;
}

.img-BC {
  background-position: bottom center;
}

.img-BR {
  background-position: bottom right;
}

.img {
  background-color: #cccccc;
  background-repeat: no-repeat;
}

/*IMAGES CONTROL*/
/*TEMPLATE LEVEL*/
#template {
  display: block;
  height: auto;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

#template a, #template a:link, #template a:visited, #template a:hover, #template a:active {
  color: inherit;
  text-decoration: none;
}

#template main {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.font-icon {
  font-family: 'Modern Pics', cursive;
}

/*TEMPLATE LEVEL*/
/*MAP*/
#map, #map > .wrapper, #map > .wrapper > div {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#map > .wrapper > div > iframe {
  display: block;
  height: 600px;
  overflow: hidden;
  width: 100%;
}

/*MAP*/
/*TEMPLATE LEVEL*/
#template {
  font-family: 'Montserrat', sans-serif;
}

#template h1, #template h2, #template h3, #template h4 {
  font-family: 'Lobster Two', cursive;
  margin: 0 0 .4em 0;
}

#template h1 {
  font-size: 2em;
}

#template h2 {
  font-size: 1.6em;
}

#template h3 {
  font-size: 1.4em;
}

#template h4 {
  font-size: 1em;
}

#template h5 {
  font-size: 1em;
}

#template h6 {
  font-size: 1em;
}

#template p, #template ul, #template ol, #template menu, #template li {
  font-size: 1em;
}

#template p, #template ul, #template ol {
  margin: 0 0 .4em 0;
}

@media only screen and (min-width: 560px) {
  #template h1 {
    font-size: 3em;
  }
  #template h2 {
    font-size: 2.2em;
  }
  #template h3 {
    font-size: 1.8em;
  }
  #template h4 {
    font-size: 1.2em;
  }
}

/*TEMPLATE LEVEL*/
/*rgba(40, 55, 75, 1)*/
/*--TEMPLATE COMPONENTS--*/
/*MENU*/
#menu {
  background-color: rgba(0, 0, 0, 0.9);
  display: block;
  height: auto;
  padding: .6em 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#menu > .wrapper {
  display: block;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 4%;
  width: auto;
  max-width: 1180px;
}

#template #menu h4 {
  color: white;
}

#template.color-orange #menu h4 {
  color: #f0aa00;
}

#template.color-yellow #menu h4 {
  color: #ffe600;
}

#template.color-green #menu h4 {
  color: #4cbe74;
}

#menu menu {
  display: block;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 80%;
}

#menu menu li {
  color: white;
  display: inline-block;
  list-style-type: none;
}

#menu menu li a {
  display: block;
  font-variant: small-caps;
  padding: .4em .8em;
}

#template.color-orange #menu menu li a:hover, #template.color-orange #menu menu li a:active {
  color: #f0aa00;
}

#template.color-yellow #menu menu li a:hover, #template.color-yellow #menu menu li a:active {
  color: #ffe600;
}

#template.color-green #menu menu li a:hover, #template.color-green #menu menu li a:active {
  color: #4cbe74;
}

@media only screen and (min-width: 560px) {
  #template #menu h4 {
    float: left;
  }
  #menu menu {
    float: right;
    text-align: right;
  }
}

/*MENU*/
/*HERO*/
#hero {
  background-color: #666666;
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#hero > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#hero .img {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  opacity: .3;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

#hero .wrapper-content {
  background-color: transparent;
  color: white;
  display: block;
  height: auto;
  margin: 16em auto 8em auto;
  overflow: hidden;
  padding: 1em 4%;
  position: relative;
  width: 80%;
  max-width: 1180px;
  z-index: 1;
}

#hero h3 {
  border-top: 1px dashed white;
  margin: 0 auto;
  padding-top: .5em;
  width: auto;
  max-width: 240px;
}

.seemore {
  background-color: #151d25;
  color: white;
  display: inline-block;
  font-variant: small-caps;
  margin-top: 2em;
  padding: 1em 2em;
}

.seemore span {
  display: block;
}

@media only screen and (min-width: 560px) {
  #hero .wrapper-content {
    margin: 12em auto 12em auto;
  }
}

/*HERO*/
/*ABOUT US*/
#aboutus {
  color: black;
  display: block;
}

@media only screen and (min-width: 560px) {
  #aboutus {
    height: 300px;
    overflow: visible;
    position: relative;
    z-index: 1;
  }
}

#aboutus > .wrapper {
  background-color: white;
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

@media only screen and (min-width: 560px) {
  #aboutus > .wrapper {
    background-color: white;
    display: block;
    height: auto;
    margin: 0 auto 0 auto;
    overflow: visible;
    position: relative;
    width: 1000px;
  }
}

#aboutus .img {
  display: block;
  height: 350px;
  overflow: hidden;
  width: 100%;
}

@media only screen and (min-width: 560px) {
  #aboutus .img {
    float: left;
    height: 500px;
    width: 50%;
    position: absolute;
    top: -100px;
  }
}

#aboutus .wrapper-content {
  background-color: white;
  display: block;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 4em 4%;
  width: 92%;
}

@media only screen and (min-width: 560px) {
  #aboutus .wrapper-content {
    float: right;
    height: 420px;
    padding: 80px 4% 0 4%;
    width: 42%;
    position: absolute;
    text-align: left;
    top: -100px;
    right: 0;
  }
}

@media only screen and (min-width: 560px) {
  #aboutus .wrapper-content h2 {
    border-bottom: 1px dashed black;
    padding-bottom: .5em;
  }
}

/*ABOUT US*/
/*CTA*/
#cta {
  background-color: #444444;
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#cta > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#cta .img {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  overflow: hidden;
  opacity: .3;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

#cta .wrapper-content {
  color: #444444;
  display: block;
  height: auto;
  margin: 12em auto 6em auto;
  position: relative;
  width: 80%;
  max-width: 1086px;
  z-index: 1;
}

@media only screen and (min-width: 560px) {
  #cta .wrapper-content {
    margin: 12em auto 12em auto;
  }
}

#template.color-orange #cta .wrapper-content {
  color: #f0aa00;
}

#template.color-yellow #cta .wrapper-content {
  color: #ffe600;
}

#template.color-green #cta .wrapper-content {
  color: #4cbe74;
}

/*CTA*/
/*ITEMS*/
#items {
  display: block;
  height: auto;
  width: 100%;
}

#items header {
  margin: 0 auto;
  padding: 2em 4% 0 4%;
  width: auto;
  max-width: 1180px;
}

.items {
  color: white;
  margin: 0 auto;
  text-align: left;
  padding: 0 4%;
  width: auto;
  max-width: 1180px;
}

.item {
  display: block;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 80%;
}

@media only screen and (min-width: 560px) {
  .item {
    height: 200px;
    overflow: hidden;
  }
}

#template.color-orange .item {
  background-color: #f0aa00;
}

#template.color-yellow .item {
  background-color: #ffe600;
}

#template.color-green .item {
  background-color: #4cbe74;
}

.item .img {
  display: block;
  height: 200px;
  overflow: hidden;
  width: 100%;
}

@media only screen and (min-width: 560px) {
  .item .img {
    height: 200px;
    position: absolute;
    width: 100%;
    z-index: 0;
  }
}

.item .wrapper-content {
  display: block;
  font-size: small;
  padding: 1em 10%;
  width: 80%;
}

@media only screen and (min-width: 560px) {
  .item .wrapper-content {
    float: right;
    height: 160px;
    overflow: hidden;
    padding: 20px 20px;
    position: relative;
    width: 160px;
    z-index: 1;
  }
  .items:nth-child(even) .item .wrapper-content {
    float: left;
  }
  .items {
    display: grid;
  }
  .items.one {
    grid-template-columns: auto;
  }
  .items.two {
    grid-template-columns: 50% 50%;
  }
  .items.three {
    grid-template-columns: 33% 34% 33%;
  }
  .item {
    margin: 0;
    width: auto;
  }
}

#template.color-orange .item .wrapper-content {
  background-color: #f0aa00;
}

#template.color-yellow .item .wrapper-content {
  background-color: #ffe600;
}

#template.color-green .item .wrapper-content {
  background-color: #4cbe74;
}

/*ITEMS*/
/*gallery*/
#gallery {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#gallery > .wrapper {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#gallery header {
  margin: 2em auto 1em auto;
  width: auto;
  max-width: 1180px;
}

#gallery header h2 {
  font-variant: small-caps;
}

#gallery header h2 {
  color: #444444;
}

#template.color-orange #gallery header h2 {
  color: #f0aa00;
}

#template.color-yellow #gallery header h2 {
  color: #ffe600;
}

#template.color-green #gallery header h2 {
  color: #4cbe74;
}

.gallery {
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: auto;
  max-width: 1180px;
}

.gallery .img {
  display: block;
  height: 220px;
  min-width: 220px;
  overflow: hidden;
  width: 100%;
}

@media only screen and (min-width: 560px) {
  .gallery .img {
    float: left;
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .gallery .img {
    width: 33.33%;
  }
  .gallery.gallery_slider .img {
    display: block;
    margin: 0 2% 1em 2%;
    width: 96%;
  }
}

.gallery-nav {
  bottom: 0;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.gallery-nav > span {
  background-color: white;
  border-radius: 1em;
  cursor: pointer;
  font-size: 2em;
  padding: .2em .4em;
  top: 48%;
  position: absolute;
}

.gallery-nav-prev {
  left: 5%;
}

.gallery-nav-next {
  right: 5%;
}

/*gallery*/
/*FOOTER*/
#template footer {
  height: auto;
  display: block;
  overflow: hidden;
  padding: 1em 0;
  width: 100%;
}

#template.color-orange footer {
  background-color: #f0aa00;
}

#template.color-yellow footer {
  background-color: #ffe600;
}

#template.color-green footer {
  background-color: #4cbe74;
}

#template footer header {
  margin: 0 auto;
  width: 92%;
  max-width: 1086px;
}

#template footer header p {
  color: #444444;
}

#template.color-orange footer header p {
  color: #f0aa00;
}

#template.color-yellow footer header p {
  color: #ffe600;
}

#template.color-green .footer header p {
  color: #A4DD00;
}

#template footer section {
  display: block;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  width: auto;
}

@media only screen and (min-width: 760px) {
  #template footer section {
    width: 92%;
    max-width: 1280px;
  }
}

#template footer .column {
  margin: 1em auto 0 auto;
  width: auto;
}

@media only screen and (min-width: 760px) {
  #template footer .column {
    float: left;
    margin-left: 4%;
    text-align: left;
    width: 30.6%;
  }
  #template footer section div:first-child {
    margin-left: 0;
  }
}

#template footer .column ul {
  font-size: .8em;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: auto;
  max-width: 240px;
}

#template footer .column h6 {
  margin: 0 auto;
  width: auto;
  max-width: 240px;
}

/*FOOTER*/
/*DISCLAIMER*/
#disclaimer {
  background-color: #1e1e1e;
  color: white;
  display: block;
  height: auto;
  overflow: hiddden;
  width: 100%;
}

#template.color-orange #disclaimer {
  color: #f0aa00;
}

#template.color-yellow #disclaimer {
  color: #ffe600;
}

#template.color-green #disclaimer {
  color: #A4DD00;
}

#disclaimer p {
  font-size: .8em;
  font-variant: small-caps;
  margin: 0 auto;
  padding: 1.4em 0;
  width: 16em;
}

@media only screen and (min-width: 760px) {
  #disclaimer p {
    padding: .4em 4%;
    text-align: left;
    width: auto;
  }
}

/*DISCLAIMER*/
/*--TEMPLATE COMPONENTS--*/

/*# sourceMappingURL=styles.css.map */